Backup 14-11-2025/PIPEDRIVE.json
{
  "updatedAt": "2025-11-13T18:55:19.862Z",
  "createdAt": "2025-11-04T19:53:04.744Z",
  "id": "JkWqVaHJf1ohcdTD",
  "name": "PIPEDRIVE",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "action": "change",
        "entity": "activity"
      },
      "type": "n8n-nodes-base.pipedriveTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "b991135c-f876-48a6-b108-8f8a1e8da7e6",
      "name": "Pipedrive Trigger",
      "webhookId": "93348334-fe75-462e-b4fa-2f77668335b3",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "548fade4-56f1-4962-b256-9f5ebc272b96",
              "leftValue": "={{ $json.done }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "abfd58d3-bf60-4b35-aedd-12a06c0e7b7f",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20e3021e-7820-4de5-9aa6-c401b0bc3563",
              "name": "deal_id",
              "value": "={{ $json.data.deal_id }}",
              "type": "number"
            },
            {
              "id": "4f362708-164e-456c-b92f-f08eefaf0dcb",
              "name": "done",
              "value": "={{ $json.data.done }}",
              "type": "boolean"
            },
            {
              "id": "8541c2c0-a995-42fa-b6b4-90b37861c0d2",
              "name": "type",
              "value": "={{ $json.data.type }}",
              "type": "string"
            },
            {
              "id": "29ca73ab-7b2d-4b8e-ae73-b5c6245fa730",
              "name": "data.due_date",
              "value": "={{ $json.data.due_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "fad88d0f-b31c-4be8-87e0-48e0ee8bef49",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "dealId": "={{ $json.deal_id }}",
        "resolveProperties": true
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "44acaabd-5d29-4f15-a937-facfcf6872e5",
      "name": "Get a deal",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "operation": "get",
        "organizationId": "={{ $json.last_activity.org_id }}",
        "resolveProperties": true
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1072,
        144
      ],
      "id": "d5e123b2-2630-406b-8266-feb8fb119e54",
      "name": "Get an organization",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        624,
        192
      ],
      "id": "44fc6e18-7498-472c-a9d3-4d2e2b50814b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "079b1aea-4a0e-44d1-9eb6-755b48deb0dc",
              "name": "[\"[SDR] Caminho do Lead\"]",
              "value": "={{ $json[\"[SDR] Caminho do Lead\"] }}",
              "type": "string"
            },
            {
              "id": "0bbd3d54-a0af-4b02-8e8c-4c1ed5e04a70",
              "name": "type",
              "value": "={{ $('Edit Fields').item.json.type }}",
              "type": "string"
            },
            {
              "id": "2c6d6c0a-0577-4756-8082-4698fb562356",
              "name": "SDR Responsável",
              "value": "={{ $json[\"SDR Responsável\"] }}",
              "type": "array"
            },
            {
              "id": "974e29c5-ffd5-4cca-ae3b-e100b84139cd",
              "name": "Lig_filtragem de dados",
              "value": "={{ $json['[SDR] Objetivo da \"Lig. filtragem de dados\"'] }}",
              "type": "string"
            },
            {
              "id": "37579208-366f-4750-be02-0a51e1f03976",
              "name": "Lig_validação técnica",
              "value": "={{ $json['[SDR] Objetivo da \"Lig. Validação técnica\"'] }}",
              "type": "string"
            },
            {
              "id": "5f3275b4-4c0f-4592-9a3d-7a56e74870b0",
              "name": "data",
              "value": "={{ $('Edit Fields').item.json.data }}",
              "type": "object"
            },
            {
              "id": "e60a14c5-bd1d-458a-b762-c7aa47535b08",
              "name": "objetivo_da Ligação Validação técnica",
              "value": "={{ $json['[SDR] Objetivo da \"Objetivo da Ligação Validação técnica\"'] }}",
              "type": "string"
            },
            {
              "id": "89e8f784-f3ee-4066-a840-3aefd93ce1ff",
              "name": "resultado_da Ligação Validação técnica",
              "value": "={{ $json['[SDR] Resultado da \"Ligação Validação técnica\"'] }}",
              "type": "string"
            },
            {
              "id": "84ddbac8-7aec-4555-8bfd-5a056c298bf5",
              "name": "responsável_pela Ligação Comercial OB",
              "value": "={{ $json['[COMERCIAL] Responsável pela \"Ligação Comercial OB\"'] }}",
              "type": "string"
            },
            {
              "id": "e5b4d780-bb6b-464d-853f-173e81ab4f5d",
              "name": "destino_do Lead após investigação inicial",
              "value": "={{ $json[\"[SDR] Destino do Lead após investigação inicial\"] }}",
              "type": "string"
            },
            {
              "id": "1b029e3c-8cba-47d0-b906-555dfb6dfdc5",
              "name": "destino_do Lead após Ligação Comercial",
              "value": "={{ $json[\"[COMERCIAL] Destino do Lead após Ligação Comercial\"] }}",
              "type": "string"
            },
            {
              "id": "a39f40bd-a9d2-45e4-b2b3-6fdfd08ec0de",
              "name": "Temperatura",
              "value": "={{ $json.Etiqueta }}",
              "type": "array"
            },
            {
              "id": "a5e3f038-e84f-42db-9759-b462ef031004",
              "name": "stage_id",
              "value": "={{ $json.stage_id }}",
              "type": "number"
            },
            {
              "id": "9c734b42-00de-4954-a295-a6f0cca98608",
              "name": "Lead",
              "value": "={{ $json.person_name }}",
              "type": "string"
            },
            {
              "id": "6624ef1e-48d2-4344-a2c2-3385f3cf8373",
              "name": "instituição",
              "value": "={{ $json.org_name }}",
              "type": "string"
            },
            {
              "id": "9c16d7f8-03c4-419b-8413-845254bade24",
              "name": "Campanha",
              "value": "={{ $json.Campanha }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        0
      ],
      "id": "b3ecb185-5881-41ce-80ab-aaa17ad93236",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "266a5267-f0a5-48e3-b043-81bf2b817be5",
              "name": "CNPJ",
              "value": "={{ String($json.CNPJ).padStart(14, '0').replace(/^(\\d{2})(\\d{3})(\\d{3})(\\d{4})(\\d{2})$/, '$1.$2.$3/$4-$5') }}",
              "type": "string"
            },
            {
              "id": "118e922b-5e92-40b8-a254-dffcf8b8936a",
              "name": "dataPipe",
              "value": "={{ $json.last_activity.due_date }}",
              "type": "string"
            },
            {
              "id": "1b796a1b-7aa3-4e73-9c13-8c14ea691674",
              "name": "Endereço",
              "value": "={{ $json[\"Endereço\"] }}",
              "type": "string"
            },
            {
              "id": "79d2e227-ec62-4df8-9b3c-25891db3f465",
              "name": "UF",
              "value": "={{ $json.UF }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        64
      ],
      "id": "329a0ab4-3e95-4861-9277-330fde3e9cfb",
      "name": "Edit Fields2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1392,
        16
      ],
      "id": "0b70a88c-8586-4951-bb91-0d91291ae206",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Pega todos os itens e junta em um só objeto\nconst merged = Object.assign({}, ...$input.all().map(i => i.json));\n\n// Retorna apenas um item\nreturn [{ json: merged }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        16
      ],
      "id": "946762a7-caec-4bc2-9b48-6eef0743d468",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fad060aa-85fe-4f8e-a8ad-8b96c413b23c",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "investigacao_web_ob__organ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "investigacao_web_ob__organ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "ligacao_ob__op_filtragem_d",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7634761e-08af-46b7-ac30-378f1394a234"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ligacao_ob__op_filtragem_d"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9ddc33ce-759e-4271-8c2c-913889553e60",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "lig_validacao_tecnica",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lig_validacao_tecnica"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7135d1fd-cf73-4ba8-bac8-7a1105cda95b",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "ligacao_ob__ligacao_comerc",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ligacao_ob__ligacao_comerc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3bdcf4ef-3e8f-441e-8f3f-157ca258cc52",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "ligacao_ob__reuniao_comerc",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ligacao_ob__reuniao_comerc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "35415a06-a9c8-4307-b714-bb12cb4e64e0",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "atualizar_dados_inbound",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "atualizar_dados_inbound"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        624,
        -64
      ],
      "id": "28a85c68-d718-4688-ae5a-7d69909b2b29",
      "name": "Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "investigacao_web_ob__organ",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "80cf8953-d5cb-4bba-9e4b-d1a9de1704cd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "\tinvestigacao_web_ob__organ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fc977a9c-9907-45e9-b99b-bf8478a48421",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "ligacao_ob__op_filtragem_d",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=ligacao_ob__op_filtragem_d"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c4504291-9006-47b4-9802-78d2a329bb5c",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "lig_validacao_tecnica",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lig_validacao_tecnica"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b2e74fc8-ce4f-45c2-9c16-5228669d76e3",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "ligacao_ob__ligacao_comerc",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ligacao_ob__ligacao_comerc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "77e0b550-1650-4245-a044-5d731cc9e679",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "ligacao_ob__reuniao_comerc",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ligacao_ob__reuniao_comerc"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2080,
        144
      ],
      "id": "44eeca85-6629-4eb5-be80-5cf9005c141b",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM",
          "mode": "list",
          "cachedResultName": "BANCO DE DADOS OUTBOUND CNES2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Com RM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data da Investigação Web (Pipe)": "={{ $json.data.due_date.split('-').reverse().join('/') }}",
            "CNPJ": "={{ $json.CNPJ }}",
            "Caminho": "={{ $json[\"[SDR] Caminho do Lead\"] }}"
          },
          "matchingColumns": [
            "CNPJ"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CNPJ",
              "displayName": "CNPJ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EMPREENDIMENTO",
              "displayName": "EMPREENDIMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CIDADE",
              "displayName": "CIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UF",
              "displayName": "UF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SITE",
              "displayName": "SITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "E-MAIL",
              "displayName": "E-MAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da verificação de lista",
              "displayName": "Data da verificação de lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela Verificação de lista",
              "displayName": "Responsável pela Verificação de lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Destino",
              "displayName": "Destino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CAMPANHA",
              "displayName": "CAMPANHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data de importação ao Pipedrive e início da cadencia de 5 e-mails \"Nome do Responsável\"",
              "displayName": "Data de importação ao Pipedrive e início da cadencia de 5 e-mails \"Nome do Responsável\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da Resposta ",
              "displayName": "Data da Resposta ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resposta do e-mail x",
              "displayName": "Resposta do e-mail x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da Investigação Web (Pipe)",
              "displayName": "Data da Investigação Web (Pipe)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caminho",
              "displayName": "Caminho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data da lig. filtragem de dados",
              "displayName": "Data da lig. filtragem de dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela lig. filtragem de dados",
              "displayName": "Responsável pela lig. filtragem de dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Objetivo da \"Lig. filtragem de dados\" concluído (Marca de RM e nome do responsável) ",
              "displayName": "Objetivo da \"Lig. filtragem de dados\" concluído (Marca de RM e nome do responsável) ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da lig. Validação técnica",
              "displayName": "Data da lig. Validação técnica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela lig. Validação técnica",
              "displayName": "Responsável pela lig. Validação técnica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Objetivo da lig. Validação técnica (Conversar com responsável e enviar e-mail de apresentação) ",
              "displayName": "Objetivo da lig. Validação técnica (Conversar com responsável e enviar e-mail de apresentação) ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resultado da lig. Validação técnica",
              "displayName": "Resultado da lig. Validação técnica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da ligação de \"Qualificação Comercial\"",
              "displayName": "Data da ligação de \"Qualificação Comercial\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela 'Lig. de Qualificação Comercial\"",
              "displayName": "Responsável pela 'Lig. de Qualificação Comercial\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Temperatura do Lead",
              "displayName": "Temperatura do Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reunnião comercial OB",
              "displayName": "Reunnião comercial OB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Existentes",
              "displayName": "Existentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "em Uso",
              "displayName": "em Uso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2368,
        128
      ],
      "id": "d8a84a63-18f2-4183-92c8-85650cfe4b03",
      "name": "Investigação Web OB | Organização",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM",
          "mode": "list",
          "cachedResultName": "BANCO DE DADOS OUTBOUND CNES2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Com RM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CNPJ": "={{ $json.CNPJ }}",
            "Data da lig. Validação técnica": "={{ $json.data.due_date.split('-').reverse().join('/') }}",
            "Responsável pela lig. Validação técnica": "={{ $json[\"SDR Responsável\"][0] }}",
            "Objetivo da lig. Validação técnica (Conversar com responsável e enviar e-mail de apresentação) ": "={{ $json[\"Lig_validação técnica\"].replace(/\\[\"?|\"?\\]/g, '') }}",
            "Resultado da lig. Validação técnica": "={{ $json[\"resultado_da Ligação Validação técnica\"] }}"
          },
          "matchingColumns": [
            "CNPJ"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CNPJ",
              "displayName": "CNPJ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EMPREENDIMENTO",
              "displayName": "EMPREENDIMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CIDADE",
              "displayName": "CIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UF",
              "displayName": "UF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SITE",
              "displayName": "SITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "E-MAIL",
              "displayName": "E-MAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da verificação de lista",
              "displayName": "Data da verificação de lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela Verificação de lista",
              "displayName": "Responsável pela Verificação de lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Destino",
              "displayName": "Destino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CAMPANHA",
              "displayName": "CAMPANHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data de importação ao Pipedrive e início da cadencia de 5 e-mails \"Nome do Responsável\"",
              "displayName": "Data de importação ao Pipedrive e início da cadencia de 5 e-mails \"Nome do Responsável\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da Resposta ",
              "displayName": "Data da Resposta ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resposta do e-mail x",
              "displayName": "Resposta do e-mail x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da Investigação Web (Pipe)",
              "displayName": "Data da Investigação Web (Pipe)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Caminho",
              "displayName": "Caminho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da lig. filtragem de dados",
              "displayName": "Data da lig. filtragem de dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela lig. filtragem de dados",
              "displayName": "Responsável pela lig. filtragem de dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Objetivo da \"Lig. filtragem de dados\" concluído (Marca de RM e nome do responsável) ",
              "displayName": "Objetivo da \"Lig. filtragem de dados\" concluído (Marca de RM e nome do responsável) ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da lig. Validação técnica",
              "displayName": "Data da lig. Validação técnica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Responsável pela lig. Validação técnica",
              "displayName": "Responsável pela lig. Validação técnica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Objetivo da lig. Validação técnica (Conversar com responsável e enviar e-mail de apresentação) ",
              "displayName": "Objetivo da lig. Validação técnica (Conversar com responsável e enviar e-mail de apresentação) ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resultado da lig. Validação técnica",
              "displayName": "Resultado da lig. Validação técnica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data da ligação de \"Qualificação Comercial\"",
              "displayName": "Data da ligação de \"Qualificação Comercial\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela 'Lig. de Qualificação Comercial\"",
              "displayName": "Responsável pela 'Lig. de Qualificação Comercial\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Temperatura do Lead",
              "displayName": "Temperatura do Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reunnião comercial OB",
              "displayName": "Reunnião comercial OB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Existentes",
              "displayName": "Existentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "em Uso",
              "displayName": "em Uso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2368,
        480
      ],
      "id": "32d86d14-f491-4595-953a-751758e352b5",
      "name": "Ligação OB | Lig. Validação técnica",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM",
          "mode": "list",
          "cachedResultName": "BANCO DE DADOS OUTBOUND CNES2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Com RM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CNPJ": "={{ $json.CNPJ }}",
            "Data da lig. filtragem de dados": "={{ $json.data.due_date.split('-').reverse().join('/') }}",
            "Responsável pela lig. filtragem de dados": "={{ $json[\"SDR Responsável\"][0] }}",
            "Objetivo da \"Lig. filtragem de dados\" concluído (Marca de RM e nome do responsável) ": "={{ $json[\"Lig_filtragem de dados\"].replace(/\\[\"?|\"?\\]/g, '') }}"
          },
          "matchingColumns": [
            "CNPJ"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CNPJ",
              "displayName": "CNPJ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EMPREENDIMENTO",
              "displayName": "EMPREENDIMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CIDADE",
              "displayName": "CIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UF",
              "displayName": "UF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SITE",
              "displayName": "SITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "E-MAIL",
              "displayName": "E-MAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da verificação de lista",
              "displayName": "Data da verificação de lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela Verificação de lista",
              "displayName": "Responsável pela Verificação de lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Destino",
              "displayName": "Destino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CAMPANHA",
              "displayName": "CAMPANHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data de importação ao Pipedrive e início da cadencia de 5 e-mails \"Nome do Responsável\"",
              "displayName": "Data de importação ao Pipedrive e início da cadencia de 5 e-mails \"Nome do Responsável\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da Resposta ",
              "displayName": "Data da Resposta ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resposta do e-mail x",
              "displayName": "Resposta do e-mail x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da Investigação Web (Pipe)",
              "displayName": "Data da Investigação Web (Pipe)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Caminho",
              "displayName": "Caminho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da lig. filtragem de dados",
              "displayName": "Data da lig. filtragem de dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Responsável pela lig. filtragem de dados",
              "displayName": "Responsável pela lig. filtragem de dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Objetivo da \"Lig. filtragem de dados\" concluído (Marca de RM e nome do responsável) ",
              "displayName": "Objetivo da \"Lig. filtragem de dados\" concluído (Marca de RM e nome do responsável) ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data da lig. Validação técnica",
              "displayName": "Data da lig. Validação técnica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela lig. Validação técnica",
              "displayName": "Responsável pela lig. Validação técnica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Objetivo da lig. Validação técnica (Conversar com responsável e enviar e-mail de apresentação) ",
              "displayName": "Objetivo da lig. Validação técnica (Conversar com responsável e enviar e-mail de apresentação) ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resultado da lig. Validação técnica",
              "displayName": "Resultado da lig. Validação técnica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da ligação de \"Qualificação Comercial\"",
              "displayName": "Data da ligação de \"Qualificação Comercial\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela 'Lig. de Qualificação Comercial\"",
              "displayName": "Responsável pela 'Lig. de Qualificação Comercial\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Temperatura do Lead",
              "displayName": "Temperatura do Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reunnião comercial OB",
              "displayName": "Reunnião comercial OB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Existentes",
              "displayName": "Existentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "em Uso",
              "displayName": "em Uso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2368,
        304
      ],
      "id": "9890a472-3513-4205-9412-c914b252c293",
      "name": "Ligação OB | Op. Filtragem de dados",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM",
          "mode": "list",
          "cachedResultName": "BANCO DE DADOS OUTBOUND CNES2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Com RM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CNPJ": "={{ $json.CNPJ }}",
            "Data da ligação de \"Qualificação Comercial\"": "={{ $json.data.due_date.split('-').reverse().join('/') }}",
            "Temperatura do Lead": "={{ $json.Temperatura[0] }}",
            "Responsável pela 'Lig. de Qualificação Comercial\"": "={{ $json[\"responsável_pela Ligação Comercial OB\"].replace(/\\[\"?|\"?\\]/g, '') }}"
          },
          "matchingColumns": [
            "CNPJ"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CNPJ",
              "displayName": "CNPJ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EMPREENDIMENTO",
              "displayName": "EMPREENDIMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CIDADE",
              "displayName": "CIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UF",
              "displayName": "UF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SITE",
              "displayName": "SITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "E-MAIL",
              "displayName": "E-MAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da verificação de lista",
              "displayName": "Data da verificação de lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela Verificação de lista",
              "displayName": "Responsável pela Verificação de lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Destino",
              "displayName": "Destino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CAMPANHA",
              "displayName": "CAMPANHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data de importação ao Pipedrive e início da cadencia de 5 e-mails \"Nome do Responsável\"",
              "displayName": "Data de importação ao Pipedrive e início da cadencia de 5 e-mails \"Nome do Responsável\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da Resposta ",
              "displayName": "Data da Resposta ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resposta do e-mail x",
              "displayName": "Resposta do e-mail x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da Investigação Web (Pipe)",
              "displayName": "Data da Investigação Web (Pipe)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Caminho",
              "displayName": "Caminho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da lig. filtragem de dados",
              "displayName": "Data da lig. filtragem de dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela lig. filtragem de dados",
              "displayName": "Responsável pela lig. filtragem de dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Objetivo da \"Lig. filtragem de dados\" concluído (Marca de RM e nome do responsável) ",
              "displayName": "Objetivo da \"Lig. filtragem de dados\" concluído (Marca de RM e nome do responsável) ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da lig. Validação técnica",
              "displayName": "Data da lig. Validação técnica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela lig. Validação técnica",
              "displayName": "Responsável pela lig. Validação técnica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Objetivo da lig. Validação técnica (Conversar com responsável e enviar e-mail de apresentação) ",
              "displayName": "Objetivo da lig. Validação técnica (Conversar com responsável e enviar e-mail de apresentação) ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resultado da lig. Validação técnica",
              "displayName": "Resultado da lig. Validação técnica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da ligação de \"Qualificação Comercial\"",
              "displayName": "Data da ligação de \"Qualificação Comercial\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Responsável pela 'Lig. de Qualificação Comercial\"",
              "displayName": "Responsável pela 'Lig. de Qualificação Comercial\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Temperatura do Lead",
              "displayName": "Temperatura do Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reunnião comercial OB",
              "displayName": "Reunnião comercial OB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Existentes",
              "displayName": "Existentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "em Uso",
              "displayName": "em Uso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2368,
        656
      ],
      "id": "8c44811f-6c70-42e8-9b42-4c98efdc3f31",
      "name": "OB/IB | Ligação Comercial",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM",
          "mode": "list",
          "cachedResultName": "BANCO DE DADOS OUTBOUND CNES2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Com RM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CNPJ": "={{ $json.CNPJ }}",
            "Reunnião comercial OB": "={{ $json.data.due_date.split('-').reverse().join('/') }}"
          },
          "matchingColumns": [
            "CNPJ"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CNPJ",
              "displayName": "CNPJ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EMPREENDIMENTO",
              "displayName": "EMPREENDIMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CIDADE",
              "displayName": "CIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UF",
              "displayName": "UF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SITE",
              "displayName": "SITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "E-MAIL",
              "displayName": "E-MAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da verificação de lista",
              "displayName": "Data da verificação de lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela Verificação de lista",
              "displayName": "Responsável pela Verificação de lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Destino",
              "displayName": "Destino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CAMPANHA",
              "displayName": "CAMPANHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data de importação ao Pipedrive e início da cadencia de 5 e-mails \"Nome do Responsável\"",
              "displayName": "Data de importação ao Pipedrive e início da cadencia de 5 e-mails \"Nome do Responsável\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da Resposta ",
              "displayName": "Data da Resposta ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resposta do e-mail x",
              "displayName": "Resposta do e-mail x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da Investigação Web (Pipe)",
              "displayName": "Data da Investigação Web (Pipe)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Caminho",
              "displayName": "Caminho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da lig. filtragem de dados",
              "displayName": "Data da lig. filtragem de dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela lig. filtragem de dados",
              "displayName": "Responsável pela lig. filtragem de dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Objetivo da \"Lig. filtragem de dados\" concluído (Marca de RM e nome do responsável) ",
              "displayName": "Objetivo da \"Lig. filtragem de dados\" concluído (Marca de RM e nome do responsável) ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da lig. Validação técnica",
              "displayName": "Data da lig. Validação técnica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela lig. Validação técnica",
              "displayName": "Responsável pela lig. Validação técnica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Objetivo da lig. Validação técnica (Conversar com responsável e enviar e-mail de apresentação) ",
              "displayName": "Objetivo da lig. Validação técnica (Conversar com responsável e enviar e-mail de apresentação) ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resultado da lig. Validação técnica",
              "displayName": "Resultado da lig. Validação técnica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da ligação de \"Qualificação Comercial\"",
              "displayName": "Data da ligação de \"Qualificação Comercial\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela 'Lig. de Qualificação Comercial\"",
              "displayName": "Responsável pela 'Lig. de Qualificação Comercial\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Temperatura do Lead",
              "displayName": "Temperatura do Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reunnião comercial OB",
              "displayName": "Reunnião comercial OB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Existentes",
              "displayName": "Existentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "em Uso",
              "displayName": "em Uso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2368,
        832
      ],
      "id": "991e2a1b-f98f-4f5d-ad75-1ef8d1f257cc",
      "name": "OB | Reunião Comercial",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dealId": "={{ $json.deal_id }}"
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        544,
        -496
      ],
      "id": "10869ac1-497f-434e-902d-4f34019d89fd",
      "name": "Get a deal1",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "organization",
        "operation": "get",
        "organizationId": "={{ $json.last_activity.org_id }}",
        "resolveProperties": true
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        736,
        -352
      ],
      "id": "16f10d94-6e40-4824-bf00-855beaa12280",
      "name": "Get an organization1",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "535ca61d-c2c2-41a5-84e3-a4e8b2d19be9",
              "name": "SDR Responsável",
              "value": "={{ $json[\"SDR Responsável\"] }}",
              "type": "array"
            },
            {
              "id": "e2677456-d0b1-4f20-abdb-e81161339411",
              "name": "person_name",
              "value": "={{ $('Get a deal1').item.json.person_name }}",
              "type": "string"
            },
            {
              "id": "bb1fee6e-a82a-46e7-a4d8-5e61361b1e46",
              "name": "org_name",
              "value": "={{ $('Get a deal1').item.json.org_name }}",
              "type": "string"
            },
            {
              "id": "78dd3729-90b3-453d-9637-0ffa19fdb9db",
              "name": "Campanha",
              "value": "={{ $json.Campanha }}",
              "type": "string"
            },
            {
              "id": "0f67cd6d-4fbd-4b49-83b1-392cefd2dbdd",
              "name": "dataAtividade",
              "value": "={{ $('Pipedrive Trigger').item.json.data.due_date }}",
              "type": "string"
            },
            {
              "id": "1ef25b46-2e65-4a61-ae64-3930790994e4",
              "name": "Etiqueta",
              "value": "={{ $json.Etiqueta }}",
              "type": "array"
            },
            {
              "id": "018eda28-f2c3-426b-83cd-d027506482a4",
              "name": "destino do Lead após investigação inicial",
              "value": "={{ $json[\"[SDR] Destino do Lead após investigação inicial\"] }}",
              "type": "string"
            },
            {
              "id": "777407ef-cd63-44f3-975f-3dda1d734e50",
              "name": "destino do Lead após Ligação Comercial",
              "value": "={{ $json[\"[COMERCIAL] Destino do Lead após Ligação Comercial\"] }}",
              "type": "string"
            },
            {
              "id": "e790114c-9843-443f-b124-8db51f96c4ce",
              "name": "stage_id",
              "value": "={{ $json.stage_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -496
      ],
      "id": "6b17c994-5bae-4239-82d1-d346d115eabe",
      "name": "Edit Fields3",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "266a5267-f0a5-48e3-b043-81bf2b817be5",
              "name": "CNPJ",
              "value": "={{ String($json.CNPJ).padStart(14, '0').replace(/^(\\d{2})(\\d{3})(\\d{3})(\\d{4})(\\d{2})$/, '$1.$2.$3/$4-$5') }}",
              "type": "string"
            },
            {
              "id": "9474d817-0c08-44b6-bd0e-90b19c87e585",
              "name": "Endereço",
              "value": "={{ $json[\"Endereço\"] }}",
              "type": "string"
            },
            {
              "id": "ada575e7-9580-4663-9527-50c7d2fe9ade",
              "name": "UF",
              "value": "={{ $json.UF }}",
              "type": "string"
            },
            {
              "id": "50600bb9-6eb8-4f6e-bd33-c3274d70e9d3",
              "name": "dataPipe",
              "value": "={{ $json.last_activity.due_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -352
      ],
      "id": "bbc10953-61fc-4863-a16b-0a1933d5615c",
      "name": "Edit Fields4",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1056,
        -480
      ],
      "id": "91cc31ce-3252-4fd6-8753-68841234c47f",
      "name": "Merge1",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Pega todos os itens e junta em um só objeto\nconst merged = Object.assign({}, ...$input.all().map(i => i.json));\n\n// Retorna apenas um item\nreturn [{ json: merged }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -480
      ],
      "id": "197a5035-c3bd-4121-b77c-a22913cdb50f",
      "name": "Code in JavaScript1",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stage_id }}",
                    "rightValue": 17,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "00e224c8-e241-4aa8-993e-797c01caf69e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INBOUND"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "88411585-9ccd-4e2f-9ec1-ac774557d921",
                    "leftValue": "={{ $json.stage_id }}",
                    "rightValue": 11,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OUTBOUND"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1808,
        16
      ],
      "id": "f0d86c46-f79b-4769-85ba-9ec48f17c57f",
      "name": "Switch2"
    },
    {
      "parameters": {
        "title": "teste",
        "org_id": "=teste",
        "additionalFields": {
          "stage_id": "={{ 11 }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1152,
        352
      ],
      "id": "6fad57fd-69ab-4e79-a69c-0769931ffff5",
      "name": "Create a deal",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw",
          "mode": "list",
          "cachedResultName": "BANCO DE DADOS INBOUNBD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Com RM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data de Entrada": "={{ $json.dataPipe.split('-').reverse().join('/') }}",
            "Nome": "={{ $json.Lead }}",
            "CNPJ": "={{ $json.CNPJ }}",
            "Instituição": "={{ $json[\"instituição\"] }}",
            "Endereço": "={{ $json[\"Endereço\"] }}",
            "UF": "={{ $json.UF }}",
            "Campanha": "={{ $json.Campanha }}",
            "Temperatura do Lead na qualificação": "={{ $json.Temperatura[0] }}"
          },
          "matchingColumns": [
            "CNPJ"
          ],
          "schema": [
            {
              "id": "26.313.383/0001-41",
              "displayName": "26.313.383/0001-41",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instituição",
              "displayName": "Instituição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CNPJ",
              "displayName": "CNPJ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Endereço",
              "displayName": "Endereço",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UF",
              "displayName": "UF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Campanha",
              "displayName": "Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data de Entrada",
              "displayName": "Data de Entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data da investigação",
              "displayName": "Data da investigação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da Ligação \"Op. Filtragem de dados\"",
              "displayName": "Data da Ligação \"Op. Filtragem de dados\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela investigação e lig. de qualificação",
              "displayName": "Responsável pela investigação e lig. de qualificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Destino do Lead após investigação inicial ",
              "displayName": "Destino do Lead após investigação inicial ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ligação de qualificação",
              "displayName": "Ligação de qualificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela ligação de qualificação",
              "displayName": "Responsável pela ligação de qualificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Temperatura do Lead na qualificação",
              "displayName": "Temperatura do Lead na qualificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Destino do Lead",
              "displayName": "Destino do Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da reunião comercial",
              "displayName": "Data da reunião comercial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2368,
        -48
      ],
      "id": "6757f4d6-9f9d-4d98-88ca-24b41c01674d",
      "name": "ATUALIZAR DADOS INBOUND",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "investigacao_web_ob__organ",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "80cf8953-d5cb-4bba-9e4b-d1a9de1704cd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "\tinvestigacao_web_ob__organ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fc977a9c-9907-45e9-b99b-bf8478a48421",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "ligacao_ob__op_filtragem_d",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=ligacao_ob__op_filtragem_d"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c4504291-9006-47b4-9802-78d2a329bb5c",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "lig_validacao_tecnica",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lig_validacao_tecnica"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b2e74fc8-ce4f-45c2-9c16-5228669d76e3",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "ligacao_ob__ligacao_comerc",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ligacao_ob__ligacao_comerc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "77e0b550-1650-4245-a044-5d731cc9e679",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "ligacao_ob__reuniao_comerc",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ligacao_ob__reuniao_comerc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "94bf027f-eefc-4535-b4a4-86e5b8a54cde",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "atualizar_dados_inbound",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "atualizar_dados_inbound"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2080,
        -192
      ],
      "id": "d45a2261-f778-4a3a-82fd-a66584f3e87d",
      "name": "Switch3"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw",
          "mode": "list",
          "cachedResultName": "BANCO DE DADOS INBOUNBD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Com RM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CNPJ": "={{ $json.CNPJ }}"
          },
          "matchingColumns": [
            "CNPJ"
          ],
          "schema": [
            {
              "id": "26.313.383/0001-41",
              "displayName": "26.313.383/0001-41",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Instituição",
              "displayName": "Instituição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CNPJ",
              "displayName": "CNPJ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Endereço",
              "displayName": "Endereço",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UF",
              "displayName": "UF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Campanha",
              "displayName": "Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data de Entrada",
              "displayName": "Data de Entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da investigação",
              "displayName": "Data da investigação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data da Ligação \"Op. Filtragem de dados\"",
              "displayName": "Data da Ligação \"Op. Filtragem de dados\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela investigação e lig. de qualificação",
              "displayName": "Responsável pela investigação e lig. de qualificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Destino do Lead após investigação inicial ",
              "displayName": "Destino do Lead após investigação inicial ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ligação de qualificação",
              "displayName": "Ligação de qualificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela ligação de qualificação",
              "displayName": "Responsável pela ligação de qualificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Temperatura do Lead na qualificação",
              "displayName": "Temperatura do Lead na qualificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Destino do Lead",
              "displayName": "Destino do Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da reunião comercial",
              "displayName": "Data da reunião comercial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2368,
        -480
      ],
      "id": "2902f795-453f-431a-881b-75e9f3f5585c",
      "name": "Investigação Web OB | Organização1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM",
          "mode": "list",
          "cachedResultName": "BANCO DE DADOS OUTBOUND CNES2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Com RM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CNPJ": "={{ $json.CNPJ }}",
            "Data da lig. filtragem de dados": "={{ $json.data.due_date.split('-').reverse().join('/') }}"
          },
          "matchingColumns": [
            "CNPJ"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CNPJ",
              "displayName": "CNPJ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EMPREENDIMENTO",
              "displayName": "EMPREENDIMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CIDADE",
              "displayName": "CIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UF",
              "displayName": "UF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SITE",
              "displayName": "SITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "E-MAIL",
              "displayName": "E-MAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da verificação de lista",
              "displayName": "Data da verificação de lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela Verificação de lista",
              "displayName": "Responsável pela Verificação de lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Destino",
              "displayName": "Destino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CAMPANHA",
              "displayName": "CAMPANHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data de importação ao Pipedrive e início da cadencia de 5 e-mails \"Nome do Responsável\"",
              "displayName": "Data de importação ao Pipedrive e início da cadencia de 5 e-mails \"Nome do Responsável\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da Resposta ",
              "displayName": "Data da Resposta ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resposta do e-mail x",
              "displayName": "Resposta do e-mail x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da Investigação Web (Pipe)",
              "displayName": "Data da Investigação Web (Pipe)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Caminho",
              "displayName": "Caminho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da lig. filtragem de dados",
              "displayName": "Data da lig. filtragem de dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Responsável pela lig. filtragem de dados",
              "displayName": "Responsável pela lig. filtragem de dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Objetivo da \"Lig. filtragem de dados\" concluído (Marca de RM e nome do responsável) ",
              "displayName": "Objetivo da \"Lig. filtragem de dados\" concluído (Marca de RM e nome do responsável) ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da lig. Validação técnica",
              "displayName": "Data da lig. Validação técnica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela lig. Validação técnica",
              "displayName": "Responsável pela lig. Validação técnica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Objetivo da lig. Validação técnica (Conversar com responsável e enviar e-mail de apresentação) ",
              "displayName": "Objetivo da lig. Validação técnica (Conversar com responsável e enviar e-mail de apresentação) ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resultado da lig. Validação técnica",
              "displayName": "Resultado da lig. Validação técnica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data da ligação de \"Qualificação Comercial\"",
              "displayName": "Data da ligação de \"Qualificação Comercial\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsável pela 'Lig. de Qualificação Comercial\"",
              "displayName": "Responsável pela 'Lig. de Qualificação Comercial\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Temperatura do Lead",
              "displayName": "Temperatura do Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reunnião comercial OB",
              "displayName": "Reunnião comercial OB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Existentes",
              "displayName": "Existentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "em Uso",
              "displayName": "em Uso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2368,
        -304
      ],
      "id": "5847919b-96b8-46e0-b924-caa69fffd049",
      "name": "Ligação OB | Op. Filtragem de dados1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "Pipedrive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a deal": {
      "main": [
        [
          {
            "node": "Get an organization",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an organization": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Investigação Web OB | Organização",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ligação OB | Op. Filtragem de dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ligação OB | Lig. Validação técnica",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OB/IB | Ligação Comercial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OB | Reunião Comercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a deal1": {
      "main": [
        [
          {
            "node": "Get an organization1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an organization1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        []
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Investigação Web OB | Organização1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ligação OB | Op. Filtragem de dados1",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [
          {
            "node": "ATUALIZAR DADOS INBOUND",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "uzuOlcmJWDFhCTf7"
  },
  "staticData": {
    "node:Pipedrive Trigger": {
      "webhookId": 1811874
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Pipedrive Trigger": [
      {
        "json": {
          "data": {
            "active_flag": true,
            "add_time": "2025-11-13T18:50:04Z",
            "busy_flag": false,
            "custom_fields": {},
            "deal_id": 1357,
            "done": true,
            "due_date": "2025-11-13",
            "due_time": {
              "timezone_id": null,
              "value": ""
            },
            "duration": {
              "timezone_id": null,
              "value": ""
            },
            "id": 5149,
            "type": "investigacao_web_ob__organ",
            "lead_id": null,
            "location": null,
            "org_id": 1037,
            "owner_id": 24207328,
            "person_id": 777,
            "public_description": "",
            "subject": "OB / IB | Investigação Web",
            "update_time": "2025-11-13T18:54:43Z",
            "update_user_id": null
          },
          "previous": {
            "done": false,
            "update_time": "2025-11-13T18:50:04Z"
          },
          "meta": {
            "action": "change",
            "company_id": "14556440",
            "correlation_id": "9014949a-5475-448e-af0a-e0f8cbb36da6",
            "entity_id": "5149",
            "entity": "activity",
            "id": "312623ec-c22a-4b01-986d-4f8e7090ea25",
            "is_bulk_edit": false,
            "timestamp": "2025-11-13T18:54:44.023Z",
            "type": "general",
            "user_id": "24207328",
            "version": "2.0",
            "webhook_id": "1811872",
            "webhook_owner_id": "24207328",
            "change_source": "app",
            "permitted_user_ids": [
              "24207317",
              "24207328"
            ],
            "attempt": 1,
            "host": "medicalspin.pipedrive.com"
          }
        }
      }
    ]
  },
  "versionId": "e8ddaefa-5e86-4db7-813a-c21f408ac60a",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-04T19:53:04.744Z",
      "createdAt": "2025-11-04T19:53:04.744Z",
      "role": "workflow:owner",
      "workflowId": "JkWqVaHJf1ohcdTD",
      "projectId": "GjBqXqsURslZKNiG"
    }
  ],
  "tags": []
}