Backup 26-10-2025/SITE + PIPEDRIVE + VOXFREE + GMAIL + SHEETS - GERAL.json
{
  "createdAt": "2025-09-22T13:16:52.479Z",
  "updatedAt": "2025-10-24T13:56:24.096Z",
  "id": "I8ICJMGjQ1vAYkOi",
  "name": "SITE + PIPEDRIVE + VOXFREE + GMAIL + SHEETS - GERAL",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "desmontagem-montagem-rm",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        848,
        944
      ],
      "id": "18dc86ba-6eba-454c-82ff-711bbda57820",
      "name": "Webhook8",
      "webhookId": "8e3da06e-aa58-4af7-92fc-e76300ef4e56"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook8').item.json.body.Nome }}",
        "additionalFields": {
          "email": [
            "={{ $('Webhook8').item.json.body.Email }}"
          ],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Webhook8').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1200,
        944
      ],
      "id": "20a3f7a9-e0e8-4aea-85c4-0b5d00422bf5",
      "name": "Create a person10",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization9').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1376,
        944
      ],
      "id": "12d48061-baca-41b0-add3-c287e668b358",
      "name": "Create a lead10",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person10').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization9').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1552,
        944
      ],
      "id": "5e86245f-fc71-4442-9d05-3d37d6678e51",
      "name": "Create a deal10",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body.Nome }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1024,
        944
      ],
      "id": "9638680d-1397-4f25-a5d5-d4e9a56393dd",
      "name": "Create an organization9",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG DESMONTAGEM/MONTAGEM DE RM\n\n🔹Nome: {{ $('Create a person10').item.json.name }}\n🔹Telefone: {{ $('Create a person10').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person10').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization9').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization9').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1728,
        944
      ],
      "id": "ba4c3d8c-5e34-46bc-8f77-2cfd4c30b4f0",
      "name": "Create a note10",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript6').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields5').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* 🤖\\n🧠 Um especialista foi avisado e atenderá você em breve!\\n\\n🎯 *Bem-vindo* ao *Programa Medical Spin Certified*.\\nSua *ressonância protegida* pela *Solução 360°* 🛡️\\n\\n💬 Pode nos contar mais sobre o seu projeto?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG DESMONTAGEM/MONTAGEM DE RM\\n🔹Nome: {{ $('Create a person10').item.json.name }}\\n🔹Telefone: {{ $('Create a person10').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person10').item.json.email[0].value }}\\n🔹Clínica: {{ $('Edit Fields5').item.json.org }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        944
      ],
      "id": "e03c9307-75f6-4e0f-94f0-d0bcbb130f96",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "958",
              "type": "string"
            },
            {
              "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
              "name": "form",
              "value": "Reparo de bobina",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        944
      ],
      "id": "065fd502-9128-43f1-90a2-460ab0efe6d3",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1904,
        944
      ],
      "id": "dbcba132-a508-4a75-b669-ab3ab7629ce1",
      "name": "Send a message6",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person10').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person10').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person10').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "a08dd801-3c79-4a51-bfe6-70ef29bfbfbb",
              "name": "org",
              "value": "={{ $('Create an organization9').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        944
      ],
      "id": "4accf687-eacd-4be0-b8f5-1a3284892453",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields5').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        944
      ],
      "id": "c20799a0-269e-4ffb-9bf4-0f85ad089b77",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields5').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields5').item.json.email }}",
            "TELEFONE": "={{ $('Edit Fields5').item.json.phone }}",
            "CLÍNICA": "={{ $('Edit Fields5').item.json.org }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2784,
        944
      ],
      "id": "8380bb59-e1fe-4f87-b8be-c6bac3400f19",
      "name": "Append row in sheet6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "content": "## Desmontagem/Montagem de RM",
        "height": 224,
        "width": 2160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        880
      ],
      "id": "24b7304c-acbd-4953-886b-fbf032870826",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consultoria",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        848,
        1216
      ],
      "id": "14acd4cc-1481-4f69-84d7-2ccb58b6457c",
      "name": "Webhook9",
      "webhookId": "449b7690-9b51-4e9f-bb58-eb2e6a43b5b1"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook9').item.json.body.Nome }}",
        "additionalFields": {
          "email": [
            "={{ $('Webhook9').item.json.body.Email }}"
          ],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Webhook9').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1200,
        1216
      ],
      "id": "e261b870-2201-4469-99b1-8c2594854f68",
      "name": "Create a person11",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization10').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1376,
        1216
      ],
      "id": "fcf1ad58-1166-47f2-8233-2739ff89da09",
      "name": "Create a lead11",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person11').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization10').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1552,
        1216
      ],
      "id": "ce4d2456-ef9a-492b-9144-0c75eda391e4",
      "name": "Create a deal11",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body[\"Clínica\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1024,
        1216
      ],
      "id": "74129137-9c62-4e11-babf-e312327d5a3e",
      "name": "Create an organization10",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG CONSULTORIA\n\n🔹Nome: {{ $('Create a person11').item.json.name }}\n🔹Telefone: {{ $('Create a person11').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person11').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization10').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization10').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1728,
        1216
      ],
      "id": "20e62151-cdb9-42ef-a921-3965baabc338",
      "name": "Create a note11",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript10').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields21').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* ⚡\\n🔧 Um especialista já foi avisado!\\n\\n🧪 *Em nosso lab certificado*, restauramos bobinas condenadas com *100% de sucesso nos testes de IQT* ✅\\n\\n📍 Pode informar *modelo, marca da RM* e o que está buscando?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG CONSULTORIA\\n🔹Nome: {{ $('Create a person11').item.json.name }}\\n🔹Telefone: {{ $('Create a person11').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person11').item.json.email[0].value }}\\n🔹Clínica: {{ $('Edit Fields21').item.json.org }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        1216
      ],
      "id": "76a2c151-6504-4a4c-a7e4-527e4297378a",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "958",
              "type": "string"
            },
            {
              "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
              "name": "form",
              "value": "Reparo de bobina",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        1216
      ],
      "id": "756a2fd9-18e3-4413-baf6-520cae2e192d",
      "name": "Edit Fields14"
    },
    {
      "parameters": {
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1904,
        1216
      ],
      "id": "147a9fe0-0572-4855-95c4-88b853ae2864",
      "name": "Send a message10",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person11').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person11').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person11').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "a08dd801-3c79-4a51-bfe6-70ef29bfbfbb",
              "name": "org",
              "value": "={{ $('Create an organization10').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        1216
      ],
      "id": "26bfdb92-4f54-4221-a287-dfeac872221b",
      "name": "Edit Fields21"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields21').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        1216
      ],
      "id": "2d52d421-244f-41dd-8a55-f740c9551cdd",
      "name": "Code in JavaScript10"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields21').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields21').item.json.email }}",
            "TELEFONE": "={{ $('Edit Fields21').item.json.phone }}",
            "CLÍNICA": "={{ $('Edit Fields21').item.json.org }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2784,
        1216
      ],
      "id": "d96e7a4f-65bf-4311-9d74-b55f1d2fac4f",
      "name": "Append row in sheet7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "content": "## Consultoria",
        "height": 224,
        "width": 2160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        1152
      ],
      "id": "5401c60d-18cc-4d4a-9454-fdba6330b471",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "projetos-sala-de-rm",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        848,
        1488
      ],
      "id": "b736de79-c25e-4ee9-9f61-e0d3854989a1",
      "name": "Webhook10",
      "webhookId": "449b7690-9b51-4e9f-bb58-eb2e6a43b5b1"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook10').item.json.body.Nome }}",
        "additionalFields": {
          "email": [
            "={{ $('Webhook10').item.json.body.Email }}"
          ],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Webhook10').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1200,
        1488
      ],
      "id": "c945fb34-bdee-4329-b14e-c651c72715fe",
      "name": "Create a person12",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization11').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1376,
        1488
      ],
      "id": "28f62a96-ed0f-4b9a-8d69-1eeeec89a276",
      "name": "Create a lead12",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person12').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization11').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1552,
        1488
      ],
      "id": "f6454137-e68c-4a32-8401-5640496124d6",
      "name": "Create a deal12",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body.Nome }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1024,
        1488
      ],
      "id": "63b8e990-db00-42e7-a9bd-2896da5d0d31",
      "name": "Create an organization11",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG PROJETOS DE SALAS DE RM\n🔹Nome: {{ $('Create a person12').item.json.name }}\n🔹Telefone: {{ $('Create a person12').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person12').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization11').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization11').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1728,
        1488
      ],
      "id": "f675229c-4b73-4529-9e55-e619aa5fc20a",
      "name": "Create a note12",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript11').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields23').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* 🤖\\n🧠 Um especialista foi avisado e atenderá você em breve!\\n\\n🎯 *Bem-vindo* ao *Programa Medical Spin Certified*.\\nSua *ressonância protegida* pela *Solução 360°* 🛡️\\n\\n💬 Pode nos contar mais sobre o seu projeto?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG PROJETOS DE SALAS DE RM\\n🔹Nome: {{ $('Create a person12').item.json.name }}\\n🔹Telefone: {{ $('Create a person12').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person12').item.json.email[0].value }}\\n🔹Clínica: {{ $('Edit Fields23').item.json.org }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        1488
      ],
      "id": "0c8a05f3-6628-4a4d-abba-f7d614cdc1ca",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "958",
              "type": "string"
            },
            {
              "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
              "name": "form",
              "value": "Reparo de bobina",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        1488
      ],
      "id": "d57be009-a9b1-4ffc-831d-140366a9f487",
      "name": "Edit Fields22"
    },
    {
      "parameters": {
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1904,
        1488
      ],
      "id": "b4f45408-a74c-4665-a82d-5b6fde506730",
      "name": "Send a message11",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person12').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person12').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person12').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "a08dd801-3c79-4a51-bfe6-70ef29bfbfbb",
              "name": "org",
              "value": "={{ $('Create an organization11').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        1488
      ],
      "id": "d2dfce0b-f5b4-4deb-854d-7d646943986f",
      "name": "Edit Fields23"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields23').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        1488
      ],
      "id": "4e4f688f-7804-4b45-8f4d-d9f1c6be5d82",
      "name": "Code in JavaScript11"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields23').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields23').item.json.email }}",
            "TELEFONE": "={{ $('Edit Fields23').item.json.phone }}",
            "CLÍNICA": "={{ $('Edit Fields23').item.json.org }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2784,
        1488
      ],
      "id": "5c3970d8-a6e3-4ee1-aa66-acc4371b7845",
      "name": "Append row in sheet10",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "content": "## Projetos de sala de RM",
        "height": 224,
        "width": 2160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        1424
      ],
      "id": "8a8eaa74-f270-4120-88e1-7e28ededd3d7",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "site-planning",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        848,
        1760
      ],
      "id": "1ad76c18-c18b-488e-a8c4-a6215677046f",
      "name": "Webhook11",
      "webhookId": "449b7690-9b51-4e9f-bb58-eb2e6a43b5b1"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook11').item.json.body.Nome }}",
        "additionalFields": {
          "email": [
            "={{ $('Webhook11').item.json.body.Email }}"
          ],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Webhook11').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1200,
        1760
      ],
      "id": "be268358-002f-4ff6-bd6d-1a659a749527",
      "name": "Create a person13",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization12').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1376,
        1760
      ],
      "id": "9bf9707b-6e43-414d-b6da-039f248a28ff",
      "name": "Create a lead13",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person13').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization12').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1552,
        1760
      ],
      "id": "b5b504e5-9644-4a16-929f-8eec2b0e64de",
      "name": "Create a deal13",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body[\"Clínica\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1024,
        1760
      ],
      "id": "81bd745f-dfc4-434b-b81e-f76875ece377",
      "name": "Create an organization12",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG SITE PLANNING\n🔹Nome: {{ $('Create a person13').item.json.name }}\n🔹Telefone: {{ $('Create a person13').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person13').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization12').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization12').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1728,
        1760
      ],
      "id": "4cc7aefa-e5e8-42e0-9161-cb48bcd76cae",
      "name": "Create a note13",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript12').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields25').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* 🤖\\n🧠 Um especialista foi avisado e atenderá você em breve!\\n\\n🎯 *Bem-vindo* ao *Programa Medical Spin Certified*.\\nSua *ressonância protegida* pela *Solução 360°* 🛡️\\n\\n💬 Pode nos contar mais sobre o seu projeto?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG SITE PLANNING\\n🔹Nome: {{ $('Create a person13').item.json.name }}\\n🔹Telefone: {{ $('Create a person13').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person13').item.json.email[0].value }}\\n🔹Clínica: {{ $('Edit Fields25').item.json.org }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        1760
      ],
      "id": "341a1d45-7dd7-46c3-9a5b-34aeb867cf29",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "958",
              "type": "string"
            },
            {
              "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
              "name": "form",
              "value": "Reparo de bobina",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        1760
      ],
      "id": "a93ccd74-a7d4-4a90-8c21-9227066a600b",
      "name": "Edit Fields24"
    },
    {
      "parameters": {
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1904,
        1760
      ],
      "id": "a8836081-b1c1-4a88-a4df-836d7c316d8a",
      "name": "Send a message12",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person13').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person13').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person13').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "a08dd801-3c79-4a51-bfe6-70ef29bfbfbb",
              "name": "org",
              "value": "={{ $('Create an organization12').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        1760
      ],
      "id": "eb9a0f27-4456-48ef-b920-6c827de979f4",
      "name": "Edit Fields25"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields25').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        1760
      ],
      "id": "9fd5dfcf-8432-40fd-8e9f-623ba88bbe6f",
      "name": "Code in JavaScript12"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields25').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields25').item.json.email }}",
            "TELEFONE": "={{ $('Edit Fields25').item.json.phone }}",
            "CLÍNICA": "={{ $('Edit Fields25').item.json.org }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2784,
        1760
      ],
      "id": "a4441264-1544-4b8a-85d5-e57717fa8c20",
      "name": "Append row in sheet14",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "content": "## Site planning",
        "height": 224,
        "width": 2160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        1696
      ],
      "id": "8abf61c1-24e1-4e62-937e-049a891b2243",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "planejamento-salas-de-rm-rf",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        848,
        2032
      ],
      "id": "a4b66269-d25e-4be8-b905-bffc5a1b4362",
      "name": "Webhook12",
      "webhookId": "449b7690-9b51-4e9f-bb58-eb2e6a43b5b1"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook12').item.json.body.Nome }}",
        "additionalFields": {
          "email": [
            "={{ $('Webhook12').item.json.body.Email }}"
          ],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Webhook12').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1200,
        2032
      ],
      "id": "f8c6870f-13ba-4c8b-9e13-74aa47ccb381",
      "name": "Create a person14",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization13').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1376,
        2032
      ],
      "id": "c7b426ab-0023-435a-9142-77dc34281ba6",
      "name": "Create a lead14",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person14').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization13').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1552,
        2032
      ],
      "id": "4cdd2cfb-6923-41cd-b6ef-e26f69ebfb01",
      "name": "Create a deal14",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body[\"Clínica\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1024,
        2032
      ],
      "id": "21829a23-89fa-45c6-a622-799a56ce131c",
      "name": "Create an organization13",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG PLANEJAMENTO DE SALAS DE RM\n🔹Nome: {{ $('Create a person14').item.json.name }}\n🔹Telefone: {{ $('Create a person14').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person14').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization13').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization13').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1728,
        2032
      ],
      "id": "f980de49-81ab-4b58-ba71-6a3bf1ec68df",
      "name": "Create a note14",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript13').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields27').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* 🤖\\n🧠 Um especialista foi avisado e atenderá você em breve!\\n\\n🎯 *Bem-vindo* ao *Programa Medical Spin Certified*.\\nSua *ressonância protegida* pela *Solução 360°* 🛡️\\n\\n💬 Pode nos contar mais sobre o seu projeto?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG PLANEJAMENTO DE SALAS DE RM\\n🔹Nome: {{ $('Create a person14').item.json.name }}\\n🔹Telefone: {{ $('Create a person14').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person14').item.json.email[0].value }}\\n🔹Clínica: {{ $('Edit Fields27').item.json.org }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        2032
      ],
      "id": "84369968-23e4-4a0b-86f7-4d379b9ab97b",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "958",
              "type": "string"
            },
            {
              "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
              "name": "form",
              "value": "Reparo de bobina",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        2032
      ],
      "id": "34123286-535e-4674-a7ab-b9b1f3b9ca08",
      "name": "Edit Fields26"
    },
    {
      "parameters": {
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1904,
        2032
      ],
      "id": "2e40f69a-2b90-4902-bbab-1273d2785283",
      "name": "Send a message13",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person14').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person14').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person14').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "a08dd801-3c79-4a51-bfe6-70ef29bfbfbb",
              "name": "org",
              "value": "={{ $('Create an organization13').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        2032
      ],
      "id": "14cd1896-00cc-4368-ae79-65e998c41cb1",
      "name": "Edit Fields27"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields27').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        2032
      ],
      "id": "f7381f51-4751-4e67-9f55-173d25e5f15b",
      "name": "Code in JavaScript13"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields27').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields27').item.json.email }}",
            "TELEFONE": "={{ $('Edit Fields27').item.json.phone }}",
            "CLÍNICA": "={{ $('Edit Fields27').item.json.org }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2784,
        2032
      ],
      "id": "963d3d11-d641-47c7-a2c3-67e633811e47",
      "name": "Append row in sheet15",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "content": "## Planejamento de salas de RM",
        "height": 224,
        "width": 2160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        1968
      ],
      "id": "258931e7-af1d-45bc-b0b0-4d6fcbccc824",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Projetos ",
        "height": 1424,
        "width": 2224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        816
      ],
      "id": "1e702f10-0606-4666-b0c8-0a1361f44b63",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "empresa",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        848,
        2416
      ],
      "id": "4ecd95d5-bb97-4815-ad09-12a8aea6ce0a",
      "name": "Webhook13",
      "webhookId": "449b7690-9b51-4e9f-bb58-eb2e6a43b5b1"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook13').item.json.body.Nome }}",
        "additionalFields": {
          "email": [
            "={{ $('Webhook13').item.json.body.Email }}"
          ],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Webhook13').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1200,
        2416
      ],
      "id": "9919390e-d8cd-4dc8-8395-9566bfd0ca2f",
      "name": "Create a person15",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization14').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1376,
        2416
      ],
      "id": "e3efcc78-1069-4eb4-8b3d-d95adef5f1c1",
      "name": "Create a lead15",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person15').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization14').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1552,
        2416
      ],
      "id": "75e918d5-19b9-4bb2-b89e-dd69fb34d45d",
      "name": "Create a deal15",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body.Nome }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1024,
        2416
      ],
      "id": "3303f371-fc37-4226-86c8-e9464b49fce8",
      "name": "Create an organization14",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG POR QUE NÓS?\n🔹Nome: {{ $('Create a person15').item.json.name }}\n🔹Telefone: {{ $('Create a person15').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person15').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization14').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization14').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1728,
        2416
      ],
      "id": "eb3233e1-3499-47cd-9042-7bbb3e03fd63",
      "name": "Create a note15",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript14').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields29').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* 🤖\\n🧠 Um especialista foi avisado e atenderá você em breve!\\n\\n🎯 *Bem-vindo* ao *Programa Medical Spin Certified*.\\nSua *ressonância protegida* pela *Solução 360°* 🛡️\\n\\n💬 Pode nos contar mais sobre o seu projeto?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG POR QUE NÓS?\\n🔹Nome: {{ $('Create a person15').item.json.name }}\\n🔹Telefone: {{ $('Create a person15').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person15').item.json.email[0].value }}\\n🔹Clínica: {{ $('Edit Fields29').item.json.org }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        2416
      ],
      "id": "c5d4e697-f6da-4fa2-be40-942f80324847",
      "name": "HTTP Request11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "958",
              "type": "string"
            },
            {
              "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
              "name": "form",
              "value": "Reparo de bobina",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        2416
      ],
      "id": "0b7946bf-b134-4f2b-93c9-93c7b8daabd3",
      "name": "Edit Fields28"
    },
    {
      "parameters": {
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1904,
        2416
      ],
      "id": "b1a96e12-8a71-486d-a32f-61c1fe97fa9a",
      "name": "Send a message14",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person15').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person15').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person15').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "a08dd801-3c79-4a51-bfe6-70ef29bfbfbb",
              "name": "org",
              "value": "={{ $('Create an organization14').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        2416
      ],
      "id": "2844e7ff-d6f7-4186-ae60-647a784fa625",
      "name": "Edit Fields29"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields29').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        2416
      ],
      "id": "6129fcf5-b6fb-42a1-8b7a-e5e7d245bc17",
      "name": "Code in JavaScript14"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields29').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields29').item.json.email }}",
            "TELEFONE": "={{ $('Edit Fields29').item.json.phone }}",
            "CLÍNICA": "={{ $('Edit Fields29').item.json.org }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2784,
        2416
      ],
      "id": "7876ad7b-7c4c-4dab-8da9-f176e2adcb66",
      "name": "Append row in sheet16",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "content": "## Empresa",
        "height": 224,
        "width": 2160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        2352
      ],
      "id": "12e1c808-7985-490a-bb09-e43ca8616f3a",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## Por que nós?",
        "height": 336,
        "width": 2224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        2288
      ],
      "id": "ef3e1b3d-4bae-434d-a682-0f42f880f532",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "diagnostico-de-ressonancia",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3168,
        496
      ],
      "id": "e938f00d-94cf-4c02-9765-2e529efc8c8e",
      "name": "Webhook14",
      "webhookId": "449b7690-9b51-4e9f-bb58-eb2e6a43b5b1"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook14').item.json.body.Nome }}",
        "additionalFields": {
          "email": [
            "={{ $('Webhook14').item.json.body.Email }}"
          ],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Webhook14').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3520,
        496
      ],
      "id": "05ba8d45-ba28-490c-a134-93c41aaa396c",
      "name": "Create a person16",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization15').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3696,
        496
      ],
      "id": "c7df92bb-c013-4ff4-b4dd-4522cec1acaf",
      "name": "Create a lead16",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person16').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization15').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3872,
        496
      ],
      "id": "43951b6c-7883-4eba-bf3b-2ae8dc9c9aa7",
      "name": "Create a deal16",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body[\"Clínica\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3344,
        496
      ],
      "id": "336228d5-3b11-4a9f-81ed-35ba978297cb",
      "name": "Create an organization15",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG DIAGNÓSTICOS DE RESSONÂNCIA\n🔹Nome: {{ $('Create a person16').item.json.name }}\n🔹Telefone: {{ $('Create a person16').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person16').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization15').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization15').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        4048,
        496
      ],
      "id": "68077685-9ca8-4cc5-8a53-d0acabe513ce",
      "name": "Create a note16",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript15').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields31').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* ⚡\\n🔧 Um especialista já foi avisado!\\n\\n🧪 *Em nosso lab certificado*, restauramos bobinas condenadas com *100% de sucesso nos testes de IQT* ✅\\n\\n📍 Pode informar *modelo, marca da RM* e o que está buscando?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG DIAGNÓSTICOS DE RESSONÂNCIA\\n🔹Nome: {{ $('Create a person16').item.json.name }}\\n🔹Telefone: {{ $('Create a person16').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person16').item.json.email[0].value }}\\n🔹Clínica: {{ $('Edit Fields31').item.json.org }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4928,
        496
      ],
      "id": "75d04008-0b6f-4eaf-9b57-b29c16fe8f49",
      "name": "HTTP Request15"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "960",
              "type": "string"
            },
            {
              "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
              "name": "form",
              "value": "Reparo de bobina",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4752,
        496
      ],
      "id": "4569853b-c704-46cf-9bca-cdd8e37fa3f2",
      "name": "Edit Fields30"
    },
    {
      "parameters": {
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4224,
        496
      ],
      "id": "6842d4c0-cacc-40a0-8c9b-9ed92f35cf55",
      "name": "Send a message15",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person16').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person16').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person16').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "a08dd801-3c79-4a51-bfe6-70ef29bfbfbb",
              "name": "org",
              "value": "={{ $('Create an organization15').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4400,
        496
      ],
      "id": "7d247a0a-7378-4d64-8886-c6522c3a97b4",
      "name": "Edit Fields31"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields31').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4576,
        496
      ],
      "id": "ba9f369b-d1ba-4c60-a8ab-992d6b14af49",
      "name": "Code in JavaScript15"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields31').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields31').item.json.email }}",
            "TELEFONE": "={{ $('Edit Fields31').item.json.phone }}",
            "CLÍNICA": "={{ $('Edit Fields31').item.json.org }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5104,
        496
      ],
      "id": "67f3580b-f866-4278-b90d-8b3cd82d4009",
      "name": "Append row in sheet17",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "content": "## Diagnósticos de ressonância",
        "height": 224,
        "width": 2160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3152,
        432
      ],
      "id": "3b6b018a-eaf4-4b59-87f5-8144dba90ace",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contratos-de-manutencao",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3168,
        752
      ],
      "id": "de22fd98-8c4f-46fd-9ccf-2d7a6207fc5b",
      "name": "Webhook15",
      "webhookId": "449b7690-9b51-4e9f-bb58-eb2e6a43b5b1"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook15').item.json.body.Nome }}",
        "additionalFields": {
          "email": [
            "={{ $('Webhook15').item.json.body.Email }}"
          ],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Webhook15').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3520,
        752
      ],
      "id": "591eab48-4544-433d-b1f8-849f1ea34aa7",
      "name": "Create a person17",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization16').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3696,
        752
      ],
      "id": "a57cc398-c395-4e40-af92-2a76b4168944",
      "name": "Create a lead17",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person17').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization16').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3872,
        752
      ],
      "id": "36fec3af-3e0a-41b2-8035-eead600ffc61",
      "name": "Create a deal17",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body[\"Clínica\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3344,
        752
      ],
      "id": "7f999a6f-256c-430a-8add-ef18062ac10c",
      "name": "Create an organization16",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG CONTRATOS DE MANUTENÇÃO\n🔹Nome: {{ $('Create a person17').item.json.name }}\n🔹Telefone: {{ $('Create a person17').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person17').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization16').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization16').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        4048,
        752
      ],
      "id": "01e58e46-74ce-4b75-851a-51fca8dd05ac",
      "name": "Create a note17",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript16').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields33').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* ⚡\\n🔧 Um especialista já foi avisado!\\n\\n🧪 *Em nosso lab certificado*, restauramos bobinas condenadas com *100% de sucesso nos testes de IQT* ✅\\n\\n📍 Pode informar *modelo, marca da RM* e o que está buscando?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG CONTRATOS DE MANUTENÇÃO\\n🔹Nome: {{ $('Create a person17').item.json.name }}\\n🔹Telefone: {{ $('Create a person17').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person17').item.json.email[0].value }}\\n🔹Clínica: {{ $('Edit Fields33').item.json.org }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4928,
        752
      ],
      "id": "5271f9f0-55bd-4eec-ac27-dcf837459094",
      "name": "HTTP Request16"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "960",
              "type": "string"
            },
            {
              "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
              "name": "form",
              "value": "Reparo de bobina",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4752,
        752
      ],
      "id": "618b7999-06a6-490f-bec5-98a7f1e8a75d",
      "name": "Edit Fields32"
    },
    {
      "parameters": {
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4224,
        752
      ],
      "id": "e0d56832-6c20-4393-b2b3-f97e765aab21",
      "name": "Send a message16",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person17').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person17').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person17').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "a08dd801-3c79-4a51-bfe6-70ef29bfbfbb",
              "name": "org",
              "value": "={{ $('Create an organization16').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4400,
        752
      ],
      "id": "998f26b0-a68e-4380-8451-34b9482d63b7",
      "name": "Edit Fields33"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields33').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4576,
        752
      ],
      "id": "1956db89-1bbe-42a7-b29f-d1acfe957103",
      "name": "Code in JavaScript16"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields33').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields33').item.json.email }}",
            "TELEFONE": "={{ $('Edit Fields33').item.json.phone }}",
            "CLÍNICA": "={{ $('Edit Fields33').item.json.org }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5104,
        752
      ],
      "id": "43272fef-5eae-4dce-a673-38b5e5f0990e",
      "name": "Append row in sheet18",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "content": "## Contratos de manutenção",
        "height": 224,
        "width": 2160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3152,
        688
      ],
      "id": "ebe2bafc-a095-48c8-8e08-00d29f85a205",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cocerto-de-modulos",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        848,
        2992
      ],
      "id": "a285062c-7c05-4d83-970d-d77c403a8c0f",
      "name": "Webhook16",
      "webhookId": "449b7690-9b51-4e9f-bb58-eb2e6a43b5b1"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook16').item.json.body.Nome }}",
        "additionalFields": {
          "email": [
            "={{ $('Webhook16').item.json.body.Email }}"
          ],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Webhook16').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1200,
        2992
      ],
      "id": "80f1dc7b-73d5-4e96-8496-d6f40f97138c",
      "name": "Create a person18",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization17').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1376,
        2992
      ],
      "id": "ad57e5f7-3c1f-4168-8c4a-b4ca222e88c3",
      "name": "Create a lead18",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person18').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization17').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1552,
        2992
      ],
      "id": "9867a060-bdc5-437c-9659-22a4acda74e7",
      "name": "Create a deal18",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body[\"Clínica\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1024,
        2992
      ],
      "id": "8c9f7cb6-feb4-4150-b3c0-33f3d6787a54",
      "name": "Create an organization17",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG CONSERTO DE MÓDULOS\n🔹Nome: {{ $('Create a person18').item.json.name }}\n🔹Telefone: {{ $('Create a person18').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person18').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization17').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization17').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1728,
        2992
      ],
      "id": "5d7fdfa3-66b1-4c8e-845b-ad97784f279e",
      "name": "Create a note18",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript17').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields35').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* 🤖\\n🧠 Um especialista foi avisado e atenderá você em breve!\\n\\n🎯 *Bem-vindo* ao *Programa Medical Spin Certified*.\\nSua *ressonância protegida* pela *Solução 360°* 🛡️\\n\\n💬 Pode nos contar mais sobre o seu projeto?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG CONSERTO DE MÓDULOS\\n🔹Nome: {{ $('Create a person18').item.json.name }}\\n🔹Telefone: {{ $('Create a person18').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person18').item.json.email[0].value }}\\n🔹Clínica: {{ $('Edit Fields35').item.json.org }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        2992
      ],
      "id": "927d719b-ea8a-46db-8c43-0d4dae45858c",
      "name": "HTTP Request17"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "958",
              "type": "string"
            },
            {
              "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
              "name": "form",
              "value": "Reparo de bobina",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        2992
      ],
      "id": "e901043d-e912-401b-9092-74096132f4cc",
      "name": "Edit Fields34"
    },
    {
      "parameters": {
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1904,
        2992
      ],
      "id": "52902e01-e239-41ec-8443-a85c5e647c0b",
      "name": "Send a message17",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person18').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person18').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person18').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "a08dd801-3c79-4a51-bfe6-70ef29bfbfbb",
              "name": "org",
              "value": "={{ $('Create an organization17').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        2992
      ],
      "id": "4570e744-b121-474f-a42f-1cab4e6ced47",
      "name": "Edit Fields35"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields35').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        2992
      ],
      "id": "c34dc220-5f61-4638-9bdd-2d7d2fa45244",
      "name": "Code in JavaScript17"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields35').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields35').item.json.email }}",
            "TELEFONE": "={{ $('Edit Fields35').item.json.phone }}",
            "CLÍNICA": "={{ $('Edit Fields35').item.json.org }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2784,
        2992
      ],
      "id": "9284b794-fa45-47fa-819f-bd12efc0a685",
      "name": "Append row in sheet19",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "content": "## Conserto de módulos",
        "height": 224,
        "width": 2160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        2928
      ],
      "id": "f189ec5d-847a-4ca1-88d8-8adef8b1788b",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "concerto-de-bbdeex",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3168,
        1136
      ],
      "id": "ca7abce2-2f6c-4147-afb2-45483f6b96d9",
      "name": "Webhook17",
      "webhookId": "449b7690-9b51-4e9f-bb58-eb2e6a43b5b1"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook17').item.json.body.Nome }}",
        "additionalFields": {
          "email": [
            "={{ $('Webhook17').item.json.body.Email }}"
          ],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Webhook17').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3520,
        1136
      ],
      "id": "a2abbc7d-e39a-4c16-8ea0-f1b482fa632c",
      "name": "Create a person19",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization18').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3696,
        1136
      ],
      "id": "0ec9e03d-f424-4b2b-95b3-7646406b3514",
      "name": "Create a lead19",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person19').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization18').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3872,
        1136
      ],
      "id": "d6f31808-1b19-4a8c-9181-ef56fa872301",
      "name": "Create a deal19",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body.Nome }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3344,
        1136
      ],
      "id": "846d267c-090b-4029-a694-c5b5f1e9d73f",
      "name": "Create an organization18",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG REPARO DE BOBINAS DE RESSONÂNCIA\n🔹Nome: {{ $('Create a person19').item.json.name }}\n🔹Telefone: {{ $('Create a person19').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person19').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization18').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization18').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        4048,
        1136
      ],
      "id": "bc796b32-ff21-4f81-9d63-9ddc65d0a299",
      "name": "Create a note19",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript18').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields37').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* ⚡\\n🔧 Um especialista já foi avisado!\\n\\n🧪 *Em nosso lab certificado*, restauramos bobinas condenadas com *100% de sucesso nos testes de IQT* ✅\\n\\n📍 Pode informar *modelo, marca da RM* e o que está buscando?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG REPARO DE BOBINAS DE RESSONÂNCIA\\n🔹Nome: {{ $('Create a person19').item.json.name }}\\n🔹Telefone: {{ $('Create a person19').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person19').item.json.email[0].value }}\\n🔹Clínica: {{ $('Edit Fields37').item.json.org }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4928,
        1136
      ],
      "id": "a70ea2c5-5166-469c-bb87-38047a0ae5a3",
      "name": "HTTP Request18"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "959",
              "type": "string"
            },
            {
              "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
              "name": "form",
              "value": "Reparo de bobina",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4752,
        1136
      ],
      "id": "7478b630-727e-4390-85b7-2140de842aa0",
      "name": "Edit Fields36"
    },
    {
      "parameters": {
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4224,
        1136
      ],
      "id": "a705f47f-5c34-438c-afab-88d639a0c153",
      "name": "Send a message18",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person19').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person19').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person19').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "a08dd801-3c79-4a51-bfe6-70ef29bfbfbb",
              "name": "org",
              "value": "={{ $('Create an organization18').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4400,
        1136
      ],
      "id": "54facc57-4400-4b68-8fc9-04d0611f6fdd",
      "name": "Edit Fields37"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields37').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4576,
        1136
      ],
      "id": "3ddef08b-fe1b-42ca-8fc3-aa32d4f87c69",
      "name": "Code in JavaScript18"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields37').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields37').item.json.email }}",
            "TELEFONE": "={{ $('Edit Fields37').item.json.phone }}",
            "CLÍNICA": "={{ $('Edit Fields37').item.json.org }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5104,
        1136
      ],
      "id": "4bbb074e-e6fc-4de8-b579-e988e8f50d27",
      "name": "Append row in sheet20",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "content": "## Reparo de bobinas de exames",
        "height": 224,
        "width": 2160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3152,
        1072
      ],
      "id": "17fc9e0f-2064-4faa-932c-23c2dd6f2e9b",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "laudos-tecnicos",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        848,
        2720
      ],
      "id": "bac4bf03-f830-40fb-883e-60af368de01c",
      "name": "Webhook18",
      "webhookId": "449b7690-9b51-4e9f-bb58-eb2e6a43b5b1"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook18').item.json.body.Nome }}",
        "additionalFields": {
          "email": [
            "={{ $('Webhook18').item.json.body.Email }}"
          ],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Webhook18').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1200,
        2720
      ],
      "id": "85f63cf5-cb4f-4de7-80f6-4b1fc0406c44",
      "name": "Create a person20",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization19').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1376,
        2720
      ],
      "id": "629d697f-a0b5-4183-9d13-fa2fe491b425",
      "name": "Create a lead20",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person20').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization19').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1552,
        2720
      ],
      "id": "c8eeb706-10fc-4e1a-9334-98226e79c8ee",
      "name": "Create a deal20",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body[\"Clínica\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1024,
        2720
      ],
      "id": "1931daf4-5dc0-4ca9-a857-2788c9c3489d",
      "name": "Create an organization19",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG LAUDOS TÉCNICOS\n🔹Nome: {{ $('Create a person20').item.json.name }}\n🔹Telefone: {{ $('Create a person20').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person20').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization19').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization19').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1728,
        2720
      ],
      "id": "22d30660-5928-409b-bc53-d42e4a5601db",
      "name": "Create a note20",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript19').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields39').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* 🤖\\n🧠 Um especialista foi avisado e atenderá você em breve!\\n\\n🎯 *Bem-vindo* ao *Programa Medical Spin Certified*.\\nSua *ressonância protegida* pela *Solução 360°* 🛡️\\n\\n💬 Pode nos contar mais sobre o seu projeto?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG LAUDOS TÉCNICOS\\n🔹Nome: {{ $('Create a person20').item.json.name }}\\n🔹Telefone: {{ $('Create a person20').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person20').item.json.email[0].value }}\\n🔹Clínica: {{ $('Edit Fields39').item.json.org }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        2720
      ],
      "id": "a77faef8-5f3f-4236-8993-b61907329aad",
      "name": "HTTP Request19"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "958",
              "type": "string"
            },
            {
              "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
              "name": "form",
              "value": "Reparo de bobina",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        2720
      ],
      "id": "b2f95642-3f29-48a3-bc48-952c8b876077",
      "name": "Edit Fields38"
    },
    {
      "parameters": {
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1904,
        2720
      ],
      "id": "bd773105-10df-49e4-a362-a4e0dd1c5f1e",
      "name": "Send a message19",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person20').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person20').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person20').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "a08dd801-3c79-4a51-bfe6-70ef29bfbfbb",
              "name": "org",
              "value": "={{ $('Create an organization19').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        2720
      ],
      "id": "a8b74399-3744-467b-b423-0f073f3a312c",
      "name": "Edit Fields39"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields39').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        2720
      ],
      "id": "33fc5b23-1619-46ee-aa6f-d5d3a00f8c43",
      "name": "Code in JavaScript19"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields39').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields39').item.json.email }}",
            "TELEFONE": "={{ $('Edit Fields39').item.json.phone }}",
            "CLÍNICA": "={{ $('Edit Fields39').item.json.org }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2784,
        2720
      ],
      "id": "29c555a0-3603-4234-b02c-d4189549aacf",
      "name": "Append row in sheet21",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "content": "## Laudos técnicos",
        "height": 224,
        "width": 2160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        2656
      ],
      "id": "40e1696c-4b1e-4c2e-b3bb-ad1ec31d95c9",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "## Contratos de manutenção/Diagnósticos - 960",
        "height": 608,
        "width": 2224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3120,
        352
      ],
      "id": "dcba7358-4151-42f2-92e3-5125b65470ec",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "compra-de-tomografia",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        832,
        576
      ],
      "id": "70ed1672-a584-49ad-9a6c-1f6f8e5bdc4a",
      "name": "Webhook19",
      "webhookId": "449b7690-9b51-4e9f-bb58-eb2e6a43b5b1"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook19').item.json.body.Nome }}",
        "additionalFields": {
          "email": [
            "={{ $('Webhook19').item.json.body.Email }}"
          ],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Webhook19').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1184,
        576
      ],
      "id": "3118f21d-7ccc-416f-8604-9d7812d4f0d9",
      "name": "Create a person21",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization20').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1360,
        576
      ],
      "id": "edbf138d-20e1-4ae3-9465-7d07fcac390f",
      "name": "Create a lead21",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person21').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization20').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1536,
        576
      ],
      "id": "f5b6fac5-5ec0-43c1-8560-3217c3119cbe",
      "name": "Create a deal21",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body['Clínica'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1008,
        576
      ],
      "id": "7d11fa44-42c3-4cb4-9d44-b9eabe903d88",
      "name": "Create an organization20",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG COMPRA DE TOMOGRAFIA\n🔹Nome: {{ $('Create a person21').item.json.name }}\n🔹Telefone: {{ $('Create a person21').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person21').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization20').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization20').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1712,
        576
      ],
      "id": "8e18974b-f871-483d-9be3-48fde8f18951",
      "name": "Create a note21",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript20').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields41').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* 🤖\\n🧠 Um especialista foi avisado e atenderá você em breve!\\n\\n🎯 *Bem-vindo* ao *Programa Medical Spin Certified*.\\nSua *ressonância protegida* pela *Solução 360°* 🛡️\\n\\n💬 Pode nos contar mais sobre o seu projeto?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG COMPRA DE TOMOGRAFIA\\n🔹Nome: {{ $('Create a person21').item.json.name }}\\n🔹Telefone: {{ $('Create a person21').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person21').item.json.email[0].value }}\\n🔹Clínica: {{ $('Edit Fields41').item.json.org }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2592,
        576
      ],
      "id": "ed27f2c1-5da0-44a6-90df-93f83e531d17",
      "name": "HTTP Request20"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "958",
              "type": "string"
            },
            {
              "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
              "name": "form",
              "value": "Reparo de bobina",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2416,
        576
      ],
      "id": "f95bcfdf-85d4-4b13-8adb-f1b3a560f8e2",
      "name": "Edit Fields40"
    },
    {
      "parameters": {
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1888,
        576
      ],
      "id": "e022147a-e73f-4f30-87b2-d12a97c7148c",
      "name": "Send a message20",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person21').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person21').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person21').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "a08dd801-3c79-4a51-bfe6-70ef29bfbfbb",
              "name": "org",
              "value": "={{ $('Create an organization20').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        576
      ],
      "id": "216bdd43-82f7-450a-918d-ad5850a93f39",
      "name": "Edit Fields41"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields41').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        576
      ],
      "id": "1b8573fb-2ae0-4fba-a3d6-7616fa5c4f27",
      "name": "Code in JavaScript20"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields41').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields41').item.json.email }}",
            "TELEFONE": "={{ $('Edit Fields41').item.json.phone }}",
            "CLÍNICA": "={{ $('Edit Fields41').item.json.org }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2768,
        576
      ],
      "id": "e87e907d-a54b-43ab-8dd5-85bfe2840861",
      "name": "Append row in sheet22",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "content": "## Compra de tomografia",
        "height": 224,
        "width": 2160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        512
      ],
      "id": "e0cfd6c3-d6cd-4f0c-8ea3-1dbca87d67af",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "## Página de compra de tomografia",
        "height": 336,
        "width": 2224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        432
      ],
      "id": "c22d22d8-548e-430d-a0a9-ded7c6ddba47",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "# RM - 958",
        "height": 2864,
        "width": 2368,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        352
      ],
      "id": "33184ba3-750d-4ca4-9161-8dc1cd42a6eb",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "## Bobinas de exames - 959",
        "height": 352,
        "width": 2240,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3120,
        992
      ],
      "id": "9873bd0f-766e-4829-a5c1-a2f5cf9e2417",
      "name": "Sticky Note28"
    }
  ],
  "connections": {
    "Switch6": {
      "main": [
        [],
        [],
        [],
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person10": {
      "main": [
        [
          {
            "node": "Create a lead10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead10": {
      "main": [
        [
          {
            "node": "Create a deal10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal10": {
      "main": [
        [
          {
            "node": "Create a note10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization9": {
      "main": [
        [
          {
            "node": "Create a person10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note10": {
      "main": [
        [
          {
            "node": "Send a message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Append row in sheet6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message6": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook8": {
      "main": [
        [
          {
            "node": "Create an organization9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook9": {
      "main": [
        [
          {
            "node": "Create an organization10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person11": {
      "main": [
        [
          {
            "node": "Create a lead11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead11": {
      "main": [
        [
          {
            "node": "Create a deal11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal11": {
      "main": [
        [
          {
            "node": "Create a note11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization10": {
      "main": [
        [
          {
            "node": "Create a person11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note11": {
      "main": [
        [
          {
            "node": "Send a message10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Append row in sheet7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields14": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message10": {
      "main": [
        [
          {
            "node": "Edit Fields21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields21": {
      "main": [
        [
          {
            "node": "Code in JavaScript10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript10": {
      "main": [
        [
          {
            "node": "Edit Fields14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook10": {
      "main": [
        [
          {
            "node": "Create an organization11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person12": {
      "main": [
        [
          {
            "node": "Create a lead12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead12": {
      "main": [
        [
          {
            "node": "Create a deal12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal12": {
      "main": [
        [
          {
            "node": "Create a note12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization11": {
      "main": [
        [
          {
            "node": "Create a person12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note12": {
      "main": [
        [
          {
            "node": "Send a message11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Append row in sheet10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields22": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message11": {
      "main": [
        [
          {
            "node": "Edit Fields23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields23": {
      "main": [
        [
          {
            "node": "Code in JavaScript11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript11": {
      "main": [
        [
          {
            "node": "Edit Fields22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook11": {
      "main": [
        [
          {
            "node": "Create an organization12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person13": {
      "main": [
        [
          {
            "node": "Create a lead13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead13": {
      "main": [
        [
          {
            "node": "Create a deal13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal13": {
      "main": [
        [
          {
            "node": "Create a note13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization12": {
      "main": [
        [
          {
            "node": "Create a person13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note13": {
      "main": [
        [
          {
            "node": "Send a message12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Append row in sheet14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields24": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message12": {
      "main": [
        [
          {
            "node": "Edit Fields25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields25": {
      "main": [
        [
          {
            "node": "Code in JavaScript12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript12": {
      "main": [
        [
          {
            "node": "Edit Fields24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook12": {
      "main": [
        [
          {
            "node": "Create an organization13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person14": {
      "main": [
        [
          {
            "node": "Create a lead14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead14": {
      "main": [
        [
          {
            "node": "Create a deal14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal14": {
      "main": [
        [
          {
            "node": "Create a note14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization13": {
      "main": [
        [
          {
            "node": "Create a person14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note14": {
      "main": [
        [
          {
            "node": "Send a message13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Append row in sheet15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields26": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message13": {
      "main": [
        [
          {
            "node": "Edit Fields27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields27": {
      "main": [
        [
          {
            "node": "Code in JavaScript13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript13": {
      "main": [
        [
          {
            "node": "Edit Fields26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook13": {
      "main": [
        [
          {
            "node": "Create an organization14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person15": {
      "main": [
        [
          {
            "node": "Create a lead15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead15": {
      "main": [
        [
          {
            "node": "Create a deal15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal15": {
      "main": [
        [
          {
            "node": "Create a note15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization14": {
      "main": [
        [
          {
            "node": "Create a person15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note15": {
      "main": [
        [
          {
            "node": "Send a message14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request11": {
      "main": [
        [
          {
            "node": "Append row in sheet16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields28": {
      "main": [
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message14": {
      "main": [
        [
          {
            "node": "Edit Fields29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields29": {
      "main": [
        [
          {
            "node": "Code in JavaScript14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript14": {
      "main": [
        [
          {
            "node": "Edit Fields28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook14": {
      "main": [
        [
          {
            "node": "Create an organization15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person16": {
      "main": [
        [
          {
            "node": "Create a lead16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead16": {
      "main": [
        [
          {
            "node": "Create a deal16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal16": {
      "main": [
        [
          {
            "node": "Create a note16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization15": {
      "main": [
        [
          {
            "node": "Create a person16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note16": {
      "main": [
        [
          {
            "node": "Send a message15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request15": {
      "main": [
        [
          {
            "node": "Append row in sheet17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields30": {
      "main": [
        [
          {
            "node": "HTTP Request15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message15": {
      "main": [
        [
          {
            "node": "Edit Fields31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields31": {
      "main": [
        [
          {
            "node": "Code in JavaScript15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript15": {
      "main": [
        [
          {
            "node": "Edit Fields30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook15": {
      "main": [
        [
          {
            "node": "Create an organization16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person17": {
      "main": [
        [
          {
            "node": "Create a lead17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead17": {
      "main": [
        [
          {
            "node": "Create a deal17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal17": {
      "main": [
        [
          {
            "node": "Create a note17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization16": {
      "main": [
        [
          {
            "node": "Create a person17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note17": {
      "main": [
        [
          {
            "node": "Send a message16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request16": {
      "main": [
        [
          {
            "node": "Append row in sheet18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields32": {
      "main": [
        [
          {
            "node": "HTTP Request16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message16": {
      "main": [
        [
          {
            "node": "Edit Fields33",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields33": {
      "main": [
        [
          {
            "node": "Code in JavaScript16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript16": {
      "main": [
        [
          {
            "node": "Edit Fields32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook16": {
      "main": [
        [
          {
            "node": "Create an organization17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person18": {
      "main": [
        [
          {
            "node": "Create a lead18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead18": {
      "main": [
        [
          {
            "node": "Create a deal18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal18": {
      "main": [
        [
          {
            "node": "Create a note18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization17": {
      "main": [
        [
          {
            "node": "Create a person18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note18": {
      "main": [
        [
          {
            "node": "Send a message17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request17": {
      "main": [
        [
          {
            "node": "Append row in sheet19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields34": {
      "main": [
        [
          {
            "node": "HTTP Request17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message17": {
      "main": [
        [
          {
            "node": "Edit Fields35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields35": {
      "main": [
        [
          {
            "node": "Code in JavaScript17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript17": {
      "main": [
        [
          {
            "node": "Edit Fields34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook17": {
      "main": [
        [
          {
            "node": "Create an organization18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person19": {
      "main": [
        [
          {
            "node": "Create a lead19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead19": {
      "main": [
        [
          {
            "node": "Create a deal19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal19": {
      "main": [
        [
          {
            "node": "Create a note19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization18": {
      "main": [
        [
          {
            "node": "Create a person19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note19": {
      "main": [
        [
          {
            "node": "Send a message18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request18": {
      "main": [
        [
          {
            "node": "Append row in sheet20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields36": {
      "main": [
        [
          {
            "node": "HTTP Request18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message18": {
      "main": [
        [
          {
            "node": "Edit Fields37",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields37": {
      "main": [
        [
          {
            "node": "Code in JavaScript18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript18": {
      "main": [
        [
          {
            "node": "Edit Fields36",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook18": {
      "main": [
        [
          {
            "node": "Create an organization19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person20": {
      "main": [
        [
          {
            "node": "Create a lead20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead20": {
      "main": [
        [
          {
            "node": "Create a deal20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal20": {
      "main": [
        [
          {
            "node": "Create a note20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization19": {
      "main": [
        [
          {
            "node": "Create a person20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note20": {
      "main": [
        [
          {
            "node": "Send a message19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request19": {
      "main": [
        [
          {
            "node": "Append row in sheet21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields38": {
      "main": [
        [
          {
            "node": "HTTP Request19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message19": {
      "main": [
        [
          {
            "node": "Edit Fields39",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields39": {
      "main": [
        [
          {
            "node": "Code in JavaScript19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript19": {
      "main": [
        [
          {
            "node": "Edit Fields38",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook19": {
      "main": [
        [
          {
            "node": "Create an organization20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person21": {
      "main": [
        [
          {
            "node": "Create a lead21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead21": {
      "main": [
        [
          {
            "node": "Create a deal21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal21": {
      "main": [
        [
          {
            "node": "Create a note21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization20": {
      "main": [
        [
          {
            "node": "Create a person21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note21": {
      "main": [
        [
          {
            "node": "Send a message20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request20": {
      "main": [
        [
          {
            "node": "Append row in sheet22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields40": {
      "main": [
        [
          {
            "node": "HTTP Request20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message20": {
      "main": [
        [
          {
            "node": "Edit Fields41",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields41": {
      "main": [
        [
          {
            "node": "Code in JavaScript20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript20": {
      "main": [
        [
          {
            "node": "Edit Fields40",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "uzuOlcmJWDFhCTf7"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook8": [
      {
        "json": {
          "headers": {
            "host": "n8n.medicalspin.com.br",
            "user-agent": "axios/1.12.0",
            "content-length": "86",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "10.0.1.1",
            "x-forwarded-host": "n8n.medicalspin.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "62404067f457",
            "x-real-ip": "10.0.1.1"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Teste",
            "Email": "teste@gmail.com",
            "WhatsApp": "79999801810",
            "Clínica": "Teste"
          },
          "webhookUrl": "https://n8n.medicalspin.com.br/webhook/desmontagem-montagem-rm",
          "executionMode": "production"
        }
      }
    ],
    "Webhook9": [
      {
        "json": {
          "headers": {
            "host": "n8n.medicalspin.com.br",
            "user-agent": "axios/1.12.0",
            "content-length": "86",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "10.0.1.1",
            "x-forwarded-host": "n8n.medicalspin.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "62404067f457",
            "x-real-ip": "10.0.1.1"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Teste",
            "Email": "teste@gmail.com",
            "WhatsApp": "79999801810",
            "Clínica": "Teste"
          },
          "webhookUrl": "https://n8n.medicalspin.com.br/webhook/desmontagem-montagem-rm",
          "executionMode": "production"
        }
      }
    ],
    "Webhook10": [
      {
        "json": {
          "headers": {
            "host": "n8n.medicalspin.com.br",
            "user-agent": "axios/1.12.0",
            "content-length": "86",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "10.0.1.1",
            "x-forwarded-host": "n8n.medicalspin.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "62404067f457",
            "x-real-ip": "10.0.1.1"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Teste",
            "Email": "teste@gmail.com",
            "WhatsApp": "79999801810",
            "Clínica": "Teste"
          },
          "webhookUrl": "https://n8n.medicalspin.com.br/webhook/desmontagem-montagem-rm",
          "executionMode": "production"
        }
      }
    ],
    "Webhook11": [
      {
        "json": {
          "headers": {
            "host": "n8n.medicalspin.com.br",
            "user-agent": "axios/1.12.0",
            "content-length": "86",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "10.0.1.1",
            "x-forwarded-host": "n8n.medicalspin.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "62404067f457",
            "x-real-ip": "10.0.1.1"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Teste",
            "Email": "teste@gmail.com",
            "WhatsApp": "79999801810",
            "Clínica": "Teste"
          },
          "webhookUrl": "https://n8n.medicalspin.com.br/webhook/desmontagem-montagem-rm",
          "executionMode": "production"
        }
      }
    ],
    "Webhook12": [
      {
        "json": {
          "headers": {
            "host": "n8n.medicalspin.com.br",
            "user-agent": "axios/1.12.0",
            "content-length": "86",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "10.0.1.1",
            "x-forwarded-host": "n8n.medicalspin.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "62404067f457",
            "x-real-ip": "10.0.1.1"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Teste",
            "Email": "teste@gmail.com",
            "WhatsApp": "79999801810",
            "Clínica": "Teste"
          },
          "webhookUrl": "https://n8n.medicalspin.com.br/webhook/desmontagem-montagem-rm",
          "executionMode": "production"
        }
      }
    ],
    "Webhook13": [
      {
        "json": {
          "headers": {
            "host": "n8n.medicalspin.com.br",
            "user-agent": "axios/1.12.0",
            "content-length": "86",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "10.0.1.1",
            "x-forwarded-host": "n8n.medicalspin.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "62404067f457",
            "x-real-ip": "10.0.1.1"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Teste",
            "Email": "teste@gmail.com",
            "WhatsApp": "79999801810",
            "Clínica": "Teste"
          },
          "webhookUrl": "https://n8n.medicalspin.com.br/webhook/desmontagem-montagem-rm",
          "executionMode": "production"
        }
      }
    ],
    "Webhook14": [
      {
        "json": {
          "headers": {
            "host": "n8n.medicalspin.com.br",
            "user-agent": "axios/1.12.0",
            "content-length": "86",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "10.0.1.1",
            "x-forwarded-host": "n8n.medicalspin.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "62404067f457",
            "x-real-ip": "10.0.1.1"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Teste",
            "Email": "teste@gmail.com",
            "WhatsApp": "79999801810",
            "Clínica": "Teste"
          },
          "webhookUrl": "https://n8n.medicalspin.com.br/webhook/desmontagem-montagem-rm",
          "executionMode": "production"
        }
      }
    ],
    "Webhook15": [
      {
        "json": {
          "headers": {
            "host": "n8n.medicalspin.com.br",
            "user-agent": "axios/1.12.0",
            "content-length": "86",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "10.0.1.1",
            "x-forwarded-host": "n8n.medicalspin.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "62404067f457",
            "x-real-ip": "10.0.1.1"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Teste",
            "Email": "teste@gmail.com",
            "WhatsApp": "79999801810",
            "Clínica": "Teste"
          },
          "webhookUrl": "https://n8n.medicalspin.com.br/webhook/desmontagem-montagem-rm",
          "executionMode": "production"
        }
      }
    ],
    "Webhook16": [
      {
        "json": {
          "headers": {
            "host": "n8n.medicalspin.com.br",
            "user-agent": "axios/1.12.0",
            "content-length": "86",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "10.0.1.1",
            "x-forwarded-host": "n8n.medicalspin.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "62404067f457",
            "x-real-ip": "10.0.1.1"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Teste",
            "Email": "teste@gmail.com",
            "WhatsApp": "79999801810",
            "Clínica": "Teste"
          },
          "webhookUrl": "https://n8n.medicalspin.com.br/webhook/desmontagem-montagem-rm",
          "executionMode": "production"
        }
      }
    ],
    "Webhook17": [
      {
        "json": {
          "headers": {
            "host": "n8n.medicalspin.com.br",
            "user-agent": "axios/1.12.0",
            "content-length": "86",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "10.0.1.1",
            "x-forwarded-host": "n8n.medicalspin.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "62404067f457",
            "x-real-ip": "10.0.1.1"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Teste",
            "Email": "teste@gmail.com",
            "WhatsApp": "79999801810",
            "Clínica": "Teste"
          },
          "webhookUrl": "https://n8n.medicalspin.com.br/webhook/desmontagem-montagem-rm",
          "executionMode": "production"
        }
      }
    ],
    "Webhook18": [
      {
        "json": {
          "headers": {
            "host": "n8n.medicalspin.com.br",
            "user-agent": "axios/1.12.0",
            "content-length": "86",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "10.0.1.1",
            "x-forwarded-host": "n8n.medicalspin.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "62404067f457",
            "x-real-ip": "10.0.1.1"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Teste",
            "Email": "teste@gmail.com",
            "WhatsApp": "79999801810",
            "Clínica": "Teste"
          },
          "webhookUrl": "https://n8n.medicalspin.com.br/webhook/desmontagem-montagem-rm",
          "executionMode": "production"
        }
      }
    ],
    "Webhook19": [
      {
        "json": {
          "headers": {
            "host": "n8n.medicalspin.com.br",
            "user-agent": "WordPress/6.8.3; https://medicalspin.com.br",
            "content-length": "163",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip, br",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "162.241.63.31",
            "x-forwarded-host": "n8n.medicalspin.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "62404067f457",
            "x-real-ip": "162.241.63.31"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "teste",
            "WhatsApp": "(79) 99980-1810",
            "Email": "teste@gmail.com",
            "Clínica": "teste",
            "No Label field_ef4da14": "on",
            "form_id": "1a5e765",
            "form_name": "Compra e venda de tomografia"
          },
          "webhookUrl": "https://n8n.medicalspin.com.br/webhook/compra-de-tomografia",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "0541bc9c-789e-4431-a1f2-87940eebbdf8",
  "triggerCount": 12,
  "shared": [
    {
      "createdAt": "2025-09-22T13:16:52.479Z",
      "updatedAt": "2025-09-22T13:16:52.479Z",
      "role": "workflow:owner",
      "workflowId": "I8ICJMGjQ1vAYkOi",
      "projectId": "GjBqXqsURslZKNiG"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-09-24T16:37:09.332Z",
      "updatedAt": "2025-09-24T16:37:09.332Z",
      "id": "5YkbdcoRnrhRGDir",
      "name": "Sheets"
    },
    {
      "createdAt": "2025-10-21T12:20:50.342Z",
      "updatedAt": "2025-10-21T12:20:50.342Z",
      "id": "svl1x3P8HafMCcfd",
      "name": "Gmail"
    },
    {
      "createdAt": "2025-10-21T12:19:56.049Z",
      "updatedAt": "2025-10-21T12:19:56.049Z",
      "id": "KNhtpjcPJKSKrG5n",
      "name": "Voxfree"
    },
    {
      "createdAt": "2025-09-24T16:36:41.465Z",
      "updatedAt": "2025-09-24T16:36:41.465Z",
      "id": "VX9ODoHJ3pPs74i0",
      "name": "Pipedrive"
    },
    {
      "createdAt": "2025-09-24T16:36:52.149Z",
      "updatedAt": "2025-09-24T16:36:52.149Z",
      "id": "mNNtWNrcwkgaVLXN",
      "name": "Site"
    }
  ]
}