Backup 22-05-2026/Insights Automações.json
{
  "updatedAt": "2026-05-20T00:24:53.941Z",
  "createdAt": "2026-05-15T12:09:11.129Z",
  "id": "hc92cjYqPw8JsUii",
  "name": "Insights Automações",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "execution",
        "returnAll": true,
        "filters": {},
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        592,
        -16
      ],
      "id": "6808a9e6-a3ab-4155-a80e-114829c9d48e",
      "name": "Get many executions",
      "retryOnFail": true,
      "credentials": {
        "n8nApi": {
          "id": "OsWXfaE2cSzddKkE",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7302c56-e616-41c3-a862-bd3725f06551",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "85c77444-4a71-4bf2-b5ec-954d85538244",
              "name": "finished",
              "value": "={{ $json.finished }}",
              "type": "boolean"
            },
            {
              "id": "e0319960-ac70-4df6-9278-56ffd5964d6d",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "8bec28b4-d5ce-480a-a875-d776f4227e60",
              "name": "startedAt",
              "value": "={{ $json.startedAt }}",
              "type": "string"
            },
            {
              "id": "66e3520c-3418-462e-bcca-e86d3332e50a",
              "name": "stoppedAt",
              "value": "={{ $json.stoppedAt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        -16
      ],
      "id": "f6243e45-9e49-4d59-a533-3dec2022c778",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// ===============================\n// CAPTURA EXECUÇÕES\n// ===============================\n\nconst executions = $input.all().map(i => i.json);\n\n// Últimos 30 dias\nconst now = new Date();\nconst last30Days = new Date();\nlast30Days.setDate(now.getDate() - 30);\n\n// Filtra execuções válidas\nconst recentExecutions = executions.filter(e => {\n  if (!e.startedAt || !e.stoppedAt) return false;\n\n  const started = new Date(e.startedAt);\n  return started >= last30Days && started <= now;\n});\n\n// ===============================\n// MÉTRICAS TÉCNICAS\n// ===============================\n\nconst totalExecutions = recentExecutions.length;\n\nconst failedExecutions = recentExecutions.filter(\n  e => e.status !== 'success'\n).length;\n\nconst failureRate =\n  totalExecutions === 0\n    ? 0\n    : (failedExecutions / totalExecutions) * 100;\n\nlet totalExecutionTimeMs = 0;\n\nrecentExecutions.forEach(e => {\n  const start = new Date(e.startedAt);\n  const end = new Date(e.stoppedAt);\n  totalExecutionTimeMs += (end - start);\n});\n\nconst avgExecutionTimeMs =\n  totalExecutions === 0\n    ? 0\n    : totalExecutionTimeMs / totalExecutions;\n\n// ===============================\n// TEMPO ECONOMIZADO\n// ===============================\n\nconst MINUTOS_ECONOMIZADOS_POR_EXECUCAO = 5;\n\nconst tempoEconomizadoMinutos =\n  totalExecutions * MINUTOS_ECONOMIZADOS_POR_EXECUCAO;\n\nconst tempoEconomizadoHoras =\n  tempoEconomizadoMinutos / 60;\n\n// ===============================\n// MÉTRICAS EXECUTIVAS\n// ===============================\n\nconst HORAS_DIA = 8;\nconst HORAS_MES = 160;\n\nconst funcionariosEquivalentes =\n  tempoEconomizadoHoras / HORAS_MES;\n\nconst diasTrabalhoEconomizados =\n  tempoEconomizadoHoras / HORAS_DIA;\n\nconst mesesHumanosEconomizados =\n  tempoEconomizadoHoras / HORAS_MES;\n\n// ===============================\n// MÉTRICAS FINANCEIRAS\n// ===============================\n\nconst CUSTO_MEDIO_FUNCIONARIO = 4000;\nconst CUSTO_INFRAESTRUTURA_MENSAL = 250;\n\n// Economia em salários\nconst economiaSalarios =\n  funcionariosEquivalentes * CUSTO_MEDIO_FUNCIONARIO;\n\n// Economia líquida (ROI em R$)\nconst economiaLiquida =\n  economiaSalarios - CUSTO_INFRAESTRUTURA_MENSAL;\n\n// ===============================\n// CUSTOS UNITÁRIOS\n// ===============================\n\nconst TOTAL_AUTOMACOES_ATIVAS = 10; // ajuste conforme seu cenário\n\nconst custoPorAutomacao =\n  TOTAL_AUTOMACOES_ATIVAS === 0\n    ? 0\n    : CUSTO_INFRAESTRUTURA_MENSAL / TOTAL_AUTOMACOES_ATIVAS;\n\nconst custoPorExecucao =\n  totalExecutions === 0\n    ? 0\n    : CUSTO_INFRAESTRUTURA_MENSAL / totalExecutions;\n\n// ROI em R$\nconst roiFinanceiroMensalReais = economiaLiquida;\n\n// ===============================\n// OUTPUT FINAL\n// ===============================\n\nreturn [\n  {\n    json: {\n      periodo: \"ultimos_30_dias\",\n\n      // Execuções\n      execucoes_producao: totalExecutions,\n      execucoes_com_falha: failedExecutions,\n      taxa_falha_percentual: Number(failureRate.toFixed(2)),\n      tempo_medio_execucao_segundos:\n        Number((avgExecutionTimeMs / 1000).toFixed(2)),\n\n      // Tempo economizado\n      tempo_economizado_minutos: tempoEconomizadoMinutos,\n      tempo_economizado_horas:\n        Number(tempoEconomizadoHoras.toFixed(2)),\n\n      // Impacto operacional\n      funcionarios_equivalentes:\n        Number(funcionariosEquivalentes.toFixed(2)),\n\n      dias_trabalho_economizados:\n        Number(diasTrabalhoEconomizados.toFixed(0)),\n\n      meses_humanos_economizados:\n        Number(mesesHumanosEconomizados.toFixed(2)),\n\n      // 💰 FINANCEIRO EXECUTIVO\n      custo_medio_funcionario: CUSTO_MEDIO_FUNCIONARIO,\n      custo_infraestrutura_mensal: CUSTO_INFRAESTRUTURA_MENSAL,\n\n      economia_salarios_mensal:\n        Number(economiaSalarios.toFixed(2)),\n\n      economia_liquida_mensal:\n        Number(economiaLiquida.toFixed(2)),\n\n      roi_financeiro_mensal_reais:\n        Number(roiFinanceiroMensalReais.toFixed(2)),\n\n      // 🧠 CUSTOS UNITÁRIOS\n      custo_por_automacao:\n        Number(custoPorAutomacao.toFixed(2)),\n\n      custo_por_execucao:\n        Number(custoPorExecucao.toFixed(6))\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -16
      ],
      "id": "902c3b23-c281-429e-a6eb-e3043fcb015c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MedicalSpin",
        "remoteJid": "5579999801810",
        "messageText": "=🚀​ *INSIGHTS AUTOMAÇÕES MEDICAL SPIN*​\n\nPeríodos: *{{ $json.periodo }}*\nExecuções: *{{ $json.execucoes_producao }}*\nExecuções com falha: *{{ $json.execucoes_com_falha }}*\nTaxa falha percentual: *{{ $json.taxa_falha_percentual }}%*\nTempo médio de execuções em segundos: *{{ $json.tempo_medio_execucao_segundos }}s*\nTempo economizado em minutos: *{{ $json.tempo_economizado_minutos }}min*\nTempo economizado em horas: *{{ $json.tempo_economizado_horas }}h*\nCusto da Infraestrutura mensal: *R${{ $json.custo_infraestrutura_mensal }}*\nCusto por Execução: *R${{ $json.custo_por_execucao }}*\n\n📈*AUTOMAÇÃO X MANUAL*📉\n\nFuncionários equivalentes: *{{ Math.round($json.funcionarios_equivalentes) }} Funcionários*\n40h semanais ≈ 160h por mês\nCálculo\n*{{ $json.tempo_economizado_horas }}h ÷ 160h = {{ Math.round($json.funcionarios_equivalentes) }} Funcionários*\n\nDias de trabalho economizados: *{{ $json.dias_trabalho_economizados }} dias*\n8 horas\nCálculo\n*{{ $json.tempo_economizado_horas }}h ÷ 8h = {{ $json.dias_trabalho_economizados }} dias*\n\nMeses economizados: *{{ Math.round ($json.meses_humanos_economizados) }} meses*\n160 horas ≈ mês corporativo médio\nCálculo\n*{{ $json.tempo_economizado_horas }}h ÷ 160h = {{ Math.round ($json.meses_humanos_economizados) }} meses*\n\nCusto médio por Funcionário: *R${{ $json.custo_medio_funcionario }}*\n*Salário bruto + INSS + FGTS + Férias + 1/3 + 13º proporcional + Equipamentos + Gestão e treinamento + Rotatividade*\n\nEconomia operacional Bruta: *R${{ $json.economia_salarios_mensal }}*\nCálculo\nFuncionários equivalentes: *{{ Math.round($json.funcionarios_equivalentes) }}* x Custo médio por Funcionário: *R${{ $json.custo_medio_funcionario }} = R${{ $json.economia_salarios_mensal }}*\n\nEconomia operacional Líquida: *R${{ $json.economia_liquida_mensal }}*\nCálculo\n*R${{ $json.economia_salarios_mensal }} - R${{ $json.custo_infraestrutura_mensal }} = R${{ $json.economia_liquida_mensal }}* ",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1136,
        -16
      ],
      "id": "9ad790bf-3da4-430f-852a-dd51b352b219",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "79qcaif6AQLNsa1x",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 13
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "96d6ec25-e2c7-49a8-a805-54480f978c17",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=INSIGHTS {{ $now.format('dd-MM-yyyy') }}",
        "driveId": {
          "__rl": true,
          "value": "0AKJ3bKfyFPVrUk9PVA",
          "mode": "list",
          "cachedResultName": "Tech-Desenv-Software",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0AKJ3bKfyFPVrUk9PVA"
        },
        "folderId": {
          "__rl": true,
          "value": "1hg34PTveABq5-tOS5Mb3bdNZ4njsOZiG",
          "mode": "list",
          "cachedResultName": "Insights",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1hg34PTveABq5-tOS5Mb3bdNZ4njsOZiG"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1312,
        -16
      ],
      "id": "9b20e34f-b5aa-4227-9cf4-768e558dc816",
      "name": "Cria pasta",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Yg0MqWhsgxFkLHnh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1488,
        -16
      ],
      "id": "15ab9581-796c-43a6-84f2-359cad14bc7f",
      "name": "Torna publico1",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Yg0MqWhsgxFkLHnh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Pega o documento2').item.json.documentId }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{data}",
              "replaceText": "={{ $now.format('dd/MM/yyyy') }}"
            },
            {
              "action": "replaceAll",
              "text": "{periodo}",
              "replaceText": "={{ $('Code in JavaScript1').item.json.periodo }}"
            },
            {
              "action": "replaceAll",
              "text": "{execucoes_producao}",
              "replaceText": "={{ String($('Code in JavaScript1').item.json.execucoes_producao) }}"
            },
            {
              "action": "replaceAll",
              "text": "{execucoes_com_falha}",
              "replaceText": "={{ String($('Code in JavaScript1').item.json.execucoes_com_falha) }}"
            },
            {
              "action": "replaceAll",
              "text": "{taxa_falha_percentual}",
              "replaceText": "={{ String($('Code in JavaScript1').item.json.taxa_falha_percentual) }}"
            },
            {
              "action": "replaceAll",
              "text": "{tempo_medio_execucao_segundos}",
              "replaceText": "={{ String($('Code in JavaScript1').item.json.tempo_medio_execucao_segundos) }}"
            },
            {
              "action": "replaceAll",
              "text": "{tempo_economizado_minutos}",
              "replaceText": "={{ String($('Code in JavaScript1').item.json.tempo_economizado_minutos) }}"
            },
            {
              "action": "replaceAll",
              "text": "{tempo_economizado_horas}",
              "replaceText": "={{ String($('Code in JavaScript1').item.json.tempo_economizado_horas) }}"
            },
            {
              "action": "replaceAll",
              "text": "{funcionarios_equivalentes}",
              "replaceText": "={{ String(Math.round($('Code in JavaScript1').item.json.funcionarios_equivalentes)) }}"
            },
            {
              "action": "replaceAll",
              "text": "{dias_trabalho_economizados}",
              "replaceText": "={{ String(Math.round($('Code in JavaScript1').item.json.dias_trabalho_economizados)) }}"
            },
            {
              "action": "replaceAll",
              "text": "={meses_humanos_economizados}",
              "replaceText": "={{ String(Math.round($('Code in JavaScript1').item.json.meses_humanos_economizados)) }}"
            },
            {
              "action": "replaceAll",
              "text": "{custo_infraestrutura_mensal}",
              "replaceText": "={{ String($('Code in JavaScript1').item.json.custo_infraestrutura_mensal) }}"
            },
            {
              "action": "replaceAll",
              "text": "{custo_por_execucao}",
              "replaceText": "={{ String($('Code in JavaScript1').item.json.custo_por_execucao) }}"
            },
            {
              "action": "replaceAll",
              "text": "{custo_medio_funcionario}",
              "replaceText": "={{ String($('Code in JavaScript1').item.json.custo_medio_funcionario) }}"
            },
            {
              "action": "replaceAll",
              "text": "{economia_salarios_mensal}",
              "replaceText": "={{ String($('Code in JavaScript1').item.json.economia_salarios_mensal) }}"
            },
            {
              "action": "replaceAll",
              "text": "{economia_liquida_mensal}",
              "replaceText": "={{ String($('Code in JavaScript1').item.json.economia_liquida_mensal) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2224,
        -16
      ],
      "id": "b0089ac6-72e9-4c67-9c0b-ee2fb298852c",
      "name": "Atualiza documento2",
      "retryOnFail": true,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7uUks2OM1WgLSPNJ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Copia  o arquivo').item.json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2048,
        -16
      ],
      "id": "a0fcd90e-bc41-4251-aa61-bf46845952db",
      "name": "Pega o documento2",
      "retryOnFail": true,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7uUks2OM1WgLSPNJ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Cria pasta').item.json.name }}",
        "driveId": {
          "__rl": true,
          "value": "={{ $('Cria pasta').item.json.driveId }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Cria pasta').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2576,
        -16
      ],
      "id": "bd68dc1f-de6f-4c63-a26b-3f9095d13eca",
      "name": "Upload file1",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Yg0MqWhsgxFkLHnh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2400,
        -16
      ],
      "id": "e41ae9a7-7c5c-41e8-9f11-6eb521316ab6",
      "name": "Download file1",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Yg0MqWhsgxFkLHnh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1C3yA5hSGdFDu-jxlGUKNmhQQWuD7_EzrXrfo2MyFKHY",
          "mode": "list",
          "cachedResultName": "Insights Automações",
          "cachedResultUrl": "https://docs.google.com/document/d/1C3yA5hSGdFDu-jxlGUKNmhQQWuD7_EzrXrfo2MyFKHY/edit?usp=drivesdk"
        },
        "name": "=INSIGHTS {{ $now.format('dd-MM-yyyy') }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1hg34PTveABq5-tOS5Mb3bdNZ4njsOZiG",
          "mode": "url"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Cria pasta').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1664,
        -16
      ],
      "id": "35549e91-2dbd-46ac-ba3b-f65d1e89579e",
      "name": "Copia  o arquivo",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Yg0MqWhsgxFkLHnh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega todos os itens do nó \"dados\"\nconst dados = $('Code in JavaScript').all();\n\n// Retorna exatamente o que veio do nó \"dados\"\nreturn dados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        -16
      ],
      "id": "8a9cdd48-5854-456f-be60-5b79dc77710b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Pega o documento2').item.json.documentId }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2768,
        -16
      ],
      "id": "c8d9010d-c9c9-403e-af06-c0f021217029",
      "name": "Torna publico2",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Yg0MqWhsgxFkLHnh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Pega o documento2').item.json.documentId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2976,
        -16
      ],
      "id": "20ca8ebc-17a8-4398-919f-c983c75f5dc1",
      "name": "Deleta",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Yg0MqWhsgxFkLHnh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "wqnBczxd8lV0fL5y",
          "mode": "list",
          "cachedResultName": "insights",
          "cachedResultUrl": "/projects/XZrA9Oiu8K5e6BgC/datatables/wqnBczxd8lV0fL5y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ecoBruta": "={{ String($('Code in JavaScript1').item.json.economia_salarios_mensal) }}",
            "ecoLiquida": "={{ String($('Code in JavaScript1').item.json.economia_liquida_mensal) }}",
            "custoAutomacao": "={{ String($('Code in JavaScript1').item.json.custo_por_automacao) }}",
            "custoExecucao": "={{ String($('Code in JavaScript1').item.json.custo_por_execucao) }}",
            "data": "={{ $now.format('dd-MM-yyyy') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ecoBruta",
              "displayName": "ecoBruta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ecoLiquida",
              "displayName": "ecoLiquida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "custoAutomacao",
              "displayName": "custoAutomacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "custoExecucao",
              "displayName": "custoExecucao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3184,
        -16
      ],
      "id": "e4e69c32-ad02-4cba-991d-963890d11f60",
      "name": "Insert row"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "6cbe1407-4016-4d03-8dde-98dd6d4efc67",
              "leftValue": "={{ $json.timestamp }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        0
      ],
      "id": "cf1d4285-a093-4833-ae0e-562b750fc2e1",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        592,
        144
      ],
      "id": "cff36314-a413-4e49-9395-bdf82d8d20f2",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ce3e433e-fc1a-4b0c-9894-1cb2e81a4651",
              "name": "timestamp",
              "value": "={{\n(() => {\n  const date = new Date($json.timestamp);\n\n  // precisa ser sexta-feira\n  if (date.getDay() !== 5) return false;\n\n  // calcula próxima sexta\n  const nextFriday = new Date(date);\n  nextFriday.setDate(date.getDate() + 7);\n\n  // se mudou o mês → é a última sexta\n  return date.getMonth() !== nextFriday.getMonth();\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "544943e2-2f6a-4db5-a33f-351f45d759a6",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "Get many executions": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Cria pasta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria pasta": {
      "main": [
        [
          {
            "node": "Torna publico1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza documento2": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega o documento2": {
      "main": [
        [
          {
            "node": "Atualiza documento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Torna publico1": {
      "main": [
        [
          {
            "node": "Copia  o arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copia  o arquivo": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Pega o documento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Torna publico2": {
      "main": [
        [
          {
            "node": "Deleta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Torna publico2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get many executions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Cw4BKEAZCX2tPyvL",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b8183b7c-0d90-43c3-bb30-25a5dbabdc93",
  "activeVersionId": "b8183b7c-0d90-43c3-bb30-25a5dbabdc93",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-15T12:09:11.129Z",
      "createdAt": "2026-05-15T12:09:11.129Z",
      "role": "workflow:owner",
      "workflowId": "hc92cjYqPw8JsUii",
      "projectId": "XZrA9Oiu8K5e6BgC"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-20T00:24:55.593Z",
    "createdAt": "2026-05-20T00:24:53.942Z",
    "versionId": "b8183b7c-0d90-43c3-bb30-25a5dbabdc93",
    "workflowId": "hc92cjYqPw8JsUii",
    "nodes": [
      {
        "parameters": {
          "resource": "execution",
          "returnAll": true,
          "filters": {},
          "options": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          592,
          -16
        ],
        "id": "6808a9e6-a3ab-4155-a80e-114829c9d48e",
        "name": "Get many executions",
        "retryOnFail": true,
        "credentials": {
          "n8nApi": {
            "id": "OsWXfaE2cSzddKkE",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e7302c56-e616-41c3-a862-bd3725f06551",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "85c77444-4a71-4bf2-b5ec-954d85538244",
                "name": "finished",
                "value": "={{ $json.finished }}",
                "type": "boolean"
              },
              {
                "id": "e0319960-ac70-4df6-9278-56ffd5964d6d",
                "name": "status",
                "value": "={{ $json.status }}",
                "type": "string"
              },
              {
                "id": "8bec28b4-d5ce-480a-a875-d776f4227e60",
                "name": "startedAt",
                "value": "={{ $json.startedAt }}",
                "type": "string"
              },
              {
                "id": "66e3520c-3418-462e-bcca-e86d3332e50a",
                "name": "stoppedAt",
                "value": "={{ $json.stoppedAt }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          768,
          -16
        ],
        "id": "f6243e45-9e49-4d59-a533-3dec2022c778",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "jsCode": "// ===============================\n// CAPTURA EXECUÇÕES\n// ===============================\n\nconst executions = $input.all().map(i => i.json);\n\n// Últimos 30 dias\nconst now = new Date();\nconst last30Days = new Date();\nlast30Days.setDate(now.getDate() - 30);\n\n// Filtra execuções válidas\nconst recentExecutions = executions.filter(e => {\n  if (!e.startedAt || !e.stoppedAt) return false;\n\n  const started = new Date(e.startedAt);\n  return started >= last30Days && started <= now;\n});\n\n// ===============================\n// MÉTRICAS TÉCNICAS\n// ===============================\n\nconst totalExecutions = recentExecutions.length;\n\nconst failedExecutions = recentExecutions.filter(\n  e => e.status !== 'success'\n).length;\n\nconst failureRate =\n  totalExecutions === 0\n    ? 0\n    : (failedExecutions / totalExecutions) * 100;\n\nlet totalExecutionTimeMs = 0;\n\nrecentExecutions.forEach(e => {\n  const start = new Date(e.startedAt);\n  const end = new Date(e.stoppedAt);\n  totalExecutionTimeMs += (end - start);\n});\n\nconst avgExecutionTimeMs =\n  totalExecutions === 0\n    ? 0\n    : totalExecutionTimeMs / totalExecutions;\n\n// ===============================\n// TEMPO ECONOMIZADO\n// ===============================\n\nconst MINUTOS_ECONOMIZADOS_POR_EXECUCAO = 5;\n\nconst tempoEconomizadoMinutos =\n  totalExecutions * MINUTOS_ECONOMIZADOS_POR_EXECUCAO;\n\nconst tempoEconomizadoHoras =\n  tempoEconomizadoMinutos / 60;\n\n// ===============================\n// MÉTRICAS EXECUTIVAS\n// ===============================\n\nconst HORAS_DIA = 8;\nconst HORAS_MES = 160;\n\nconst funcionariosEquivalentes =\n  tempoEconomizadoHoras / HORAS_MES;\n\nconst diasTrabalhoEconomizados =\n  tempoEconomizadoHoras / HORAS_DIA;\n\nconst mesesHumanosEconomizados =\n  tempoEconomizadoHoras / HORAS_MES;\n\n// ===============================\n// MÉTRICAS FINANCEIRAS\n// ===============================\n\nconst CUSTO_MEDIO_FUNCIONARIO = 4000;\nconst CUSTO_INFRAESTRUTURA_MENSAL = 250;\n\n// Economia em salários\nconst economiaSalarios =\n  funcionariosEquivalentes * CUSTO_MEDIO_FUNCIONARIO;\n\n// Economia líquida (ROI em R$)\nconst economiaLiquida =\n  economiaSalarios - CUSTO_INFRAESTRUTURA_MENSAL;\n\n// ===============================\n// CUSTOS UNITÁRIOS\n// ===============================\n\nconst TOTAL_AUTOMACOES_ATIVAS = 10; // ajuste conforme seu cenário\n\nconst custoPorAutomacao =\n  TOTAL_AUTOMACOES_ATIVAS === 0\n    ? 0\n    : CUSTO_INFRAESTRUTURA_MENSAL / TOTAL_AUTOMACOES_ATIVAS;\n\nconst custoPorExecucao =\n  totalExecutions === 0\n    ? 0\n    : CUSTO_INFRAESTRUTURA_MENSAL / totalExecutions;\n\n// ROI em R$\nconst roiFinanceiroMensalReais = economiaLiquida;\n\n// ===============================\n// OUTPUT FINAL\n// ===============================\n\nreturn [\n  {\n    json: {\n      periodo: \"ultimos_30_dias\",\n\n      // Execuções\n      execucoes_producao: totalExecutions,\n      execucoes_com_falha: failedExecutions,\n      taxa_falha_percentual: Number(failureRate.toFixed(2)),\n      tempo_medio_execucao_segundos:\n        Number((avgExecutionTimeMs / 1000).toFixed(2)),\n\n      // Tempo economizado\n      tempo_economizado_minutos: tempoEconomizadoMinutos,\n      tempo_economizado_horas:\n        Number(tempoEconomizadoHoras.toFixed(2)),\n\n      // Impacto operacional\n      funcionarios_equivalentes:\n        Number(funcionariosEquivalentes.toFixed(2)),\n\n      dias_trabalho_economizados:\n        Number(diasTrabalhoEconomizados.toFixed(0)),\n\n      meses_humanos_economizados:\n        Number(mesesHumanosEconomizados.toFixed(2)),\n\n      // 💰 FINANCEIRO EXECUTIVO\n      custo_medio_funcionario: CUSTO_MEDIO_FUNCIONARIO,\n      custo_infraestrutura_mensal: CUSTO_INFRAESTRUTURA_MENSAL,\n\n      economia_salarios_mensal:\n        Number(economiaSalarios.toFixed(2)),\n\n      economia_liquida_mensal:\n        Number(economiaLiquida.toFixed(2)),\n\n      roi_financeiro_mensal_reais:\n        Number(roiFinanceiroMensalReais.toFixed(2)),\n\n      // 🧠 CUSTOS UNITÁRIOS\n      custo_por_automacao:\n        Number(custoPorAutomacao.toFixed(2)),\n\n      custo_por_execucao:\n        Number(custoPorExecucao.toFixed(6))\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          -16
        ],
        "id": "902c3b23-c281-429e-a6eb-e3043fcb015c",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "MedicalSpin",
          "remoteJid": "5579999801810",
          "messageText": "=🚀​ *INSIGHTS AUTOMAÇÕES MEDICAL SPIN*​\n\nPeríodos: *{{ $json.periodo }}*\nExecuções: *{{ $json.execucoes_producao }}*\nExecuções com falha: *{{ $json.execucoes_com_falha }}*\nTaxa falha percentual: *{{ $json.taxa_falha_percentual }}%*\nTempo médio de execuções em segundos: *{{ $json.tempo_medio_execucao_segundos }}s*\nTempo economizado em minutos: *{{ $json.tempo_economizado_minutos }}min*\nTempo economizado em horas: *{{ $json.tempo_economizado_horas }}h*\nCusto da Infraestrutura mensal: *R${{ $json.custo_infraestrutura_mensal }}*\nCusto por Execução: *R${{ $json.custo_por_execucao }}*\n\n📈*AUTOMAÇÃO X MANUAL*📉\n\nFuncionários equivalentes: *{{ Math.round($json.funcionarios_equivalentes) }} Funcionários*\n40h semanais ≈ 160h por mês\nCálculo\n*{{ $json.tempo_economizado_horas }}h ÷ 160h = {{ Math.round($json.funcionarios_equivalentes) }} Funcionários*\n\nDias de trabalho economizados: *{{ $json.dias_trabalho_economizados }} dias*\n8 horas\nCálculo\n*{{ $json.tempo_economizado_horas }}h ÷ 8h = {{ $json.dias_trabalho_economizados }} dias*\n\nMeses economizados: *{{ Math.round ($json.meses_humanos_economizados) }} meses*\n160 horas ≈ mês corporativo médio\nCálculo\n*{{ $json.tempo_economizado_horas }}h ÷ 160h = {{ Math.round ($json.meses_humanos_economizados) }} meses*\n\nCusto médio por Funcionário: *R${{ $json.custo_medio_funcionario }}*\n*Salário bruto + INSS + FGTS + Férias + 1/3 + 13º proporcional + Equipamentos + Gestão e treinamento + Rotatividade*\n\nEconomia operacional Bruta: *R${{ $json.economia_salarios_mensal }}*\nCálculo\nFuncionários equivalentes: *{{ Math.round($json.funcionarios_equivalentes) }}* x Custo médio por Funcionário: *R${{ $json.custo_medio_funcionario }} = R${{ $json.economia_salarios_mensal }}*\n\nEconomia operacional Líquida: *R${{ $json.economia_liquida_mensal }}*\nCálculo\n*R${{ $json.economia_salarios_mensal }} - R${{ $json.custo_infraestrutura_mensal }} = R${{ $json.economia_liquida_mensal }}* ",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          1136,
          -16
        ],
        "id": "9ad790bf-3da4-430f-852a-dd51b352b219",
        "name": "Enviar texto",
        "credentials": {
          "evolutionApi": {
            "id": "79qcaif6AQLNsa1x",
            "name": "Evolution account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  5
                ],
                "triggerAtHour": 13
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "96d6ec25-e2c7-49a8-a805-54480f978c17",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "resource": "folder",
          "name": "=INSIGHTS {{ $now.format('dd-MM-yyyy') }}",
          "driveId": {
            "__rl": true,
            "value": "0AKJ3bKfyFPVrUk9PVA",
            "mode": "list",
            "cachedResultName": "Tech-Desenv-Software",
            "cachedResultUrl": "https://drive.google.com/drive/folders/0AKJ3bKfyFPVrUk9PVA"
          },
          "folderId": {
            "__rl": true,
            "value": "1hg34PTveABq5-tOS5Mb3bdNZ4njsOZiG",
            "mode": "list",
            "cachedResultName": "Insights",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1hg34PTveABq5-tOS5Mb3bdNZ4njsOZiG"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1312,
          -16
        ],
        "id": "9b20e34f-b5aa-4227-9cf4-768e558dc816",
        "name": "Cria pasta",
        "retryOnFail": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "Yg0MqWhsgxFkLHnh",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "share",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "permissionsUi": {
            "permissionsValues": {
              "role": "writer",
              "type": "anyone"
            }
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1488,
          -16
        ],
        "id": "15ab9581-796c-43a6-84f2-359cad14bc7f",
        "name": "Torna publico1",
        "retryOnFail": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "Yg0MqWhsgxFkLHnh",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentURL": "={{ $('Pega o documento2').item.json.documentId }}",
          "actionsUi": {
            "actionFields": [
              {
                "action": "replaceAll",
                "text": "{data}",
                "replaceText": "={{ $now.format('dd/MM/yyyy') }}"
              },
              {
                "action": "replaceAll",
                "text": "{periodo}",
                "replaceText": "={{ $('Code in JavaScript1').item.json.periodo }}"
              },
              {
                "action": "replaceAll",
                "text": "{execucoes_producao}",
                "replaceText": "={{ String($('Code in JavaScript1').item.json.execucoes_producao) }}"
              },
              {
                "action": "replaceAll",
                "text": "{execucoes_com_falha}",
                "replaceText": "={{ String($('Code in JavaScript1').item.json.execucoes_com_falha) }}"
              },
              {
                "action": "replaceAll",
                "text": "{taxa_falha_percentual}",
                "replaceText": "={{ String($('Code in JavaScript1').item.json.taxa_falha_percentual) }}"
              },
              {
                "action": "replaceAll",
                "text": "{tempo_medio_execucao_segundos}",
                "replaceText": "={{ String($('Code in JavaScript1').item.json.tempo_medio_execucao_segundos) }}"
              },
              {
                "action": "replaceAll",
                "text": "{tempo_economizado_minutos}",
                "replaceText": "={{ String($('Code in JavaScript1').item.json.tempo_economizado_minutos) }}"
              },
              {
                "action": "replaceAll",
                "text": "{tempo_economizado_horas}",
                "replaceText": "={{ String($('Code in JavaScript1').item.json.tempo_economizado_horas) }}"
              },
              {
                "action": "replaceAll",
                "text": "{funcionarios_equivalentes}",
                "replaceText": "={{ String(Math.round($('Code in JavaScript1').item.json.funcionarios_equivalentes)) }}"
              },
              {
                "action": "replaceAll",
                "text": "{dias_trabalho_economizados}",
                "replaceText": "={{ String(Math.round($('Code in JavaScript1').item.json.dias_trabalho_economizados)) }}"
              },
              {
                "action": "replaceAll",
                "text": "={meses_humanos_economizados}",
                "replaceText": "={{ String(Math.round($('Code in JavaScript1').item.json.meses_humanos_economizados)) }}"
              },
              {
                "action": "replaceAll",
                "text": "{custo_infraestrutura_mensal}",
                "replaceText": "={{ String($('Code in JavaScript1').item.json.custo_infraestrutura_mensal) }}"
              },
              {
                "action": "replaceAll",
                "text": "{custo_por_execucao}",
                "replaceText": "={{ String($('Code in JavaScript1').item.json.custo_por_execucao) }}"
              },
              {
                "action": "replaceAll",
                "text": "{custo_medio_funcionario}",
                "replaceText": "={{ String($('Code in JavaScript1').item.json.custo_medio_funcionario) }}"
              },
              {
                "action": "replaceAll",
                "text": "{economia_salarios_mensal}",
                "replaceText": "={{ String($('Code in JavaScript1').item.json.economia_salarios_mensal) }}"
              },
              {
                "action": "replaceAll",
                "text": "{economia_liquida_mensal}",
                "replaceText": "={{ String($('Code in JavaScript1').item.json.economia_liquida_mensal) }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          2224,
          -16
        ],
        "id": "b0089ac6-72e9-4c67-9c0b-ee2fb298852c",
        "name": "Atualiza documento2",
        "retryOnFail": true,
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "7uUks2OM1WgLSPNJ",
            "name": "Google Docs account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "documentURL": "={{ $('Copia  o arquivo').item.json.id }}"
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          2048,
          -16
        ],
        "id": "a0fcd90e-bc41-4251-aa61-bf46845952db",
        "name": "Pega o documento2",
        "retryOnFail": true,
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "7uUks2OM1WgLSPNJ",
            "name": "Google Docs account"
          }
        }
      },
      {
        "parameters": {
          "name": "={{ $('Cria pasta').item.json.name }}",
          "driveId": {
            "__rl": true,
            "value": "={{ $('Cria pasta').item.json.driveId }}",
            "mode": "id"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $('Cria pasta').item.json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2576,
          -16
        ],
        "id": "bd68dc1f-de6f-4c63-a26b-3f9095d13eca",
        "name": "Upload file1",
        "retryOnFail": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "Yg0MqWhsgxFkLHnh",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.documentId }}",
            "mode": "id"
          },
          "options": {
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "application/pdf"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2400,
          -16
        ],
        "id": "e41ae9a7-7c5c-41e8-9f11-6eb521316ab6",
        "name": "Download file1",
        "retryOnFail": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "Yg0MqWhsgxFkLHnh",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "copy",
          "fileId": {
            "__rl": true,
            "value": "1C3yA5hSGdFDu-jxlGUKNmhQQWuD7_EzrXrfo2MyFKHY",
            "mode": "list",
            "cachedResultName": "Insights Automações",
            "cachedResultUrl": "https://docs.google.com/document/d/1C3yA5hSGdFDu-jxlGUKNmhQQWuD7_EzrXrfo2MyFKHY/edit?usp=drivesdk"
          },
          "name": "=INSIGHTS {{ $now.format('dd-MM-yyyy') }}",
          "sameFolder": false,
          "driveId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/folders/1hg34PTveABq5-tOS5Mb3bdNZ4njsOZiG",
            "mode": "url"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $('Cria pasta').item.json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1664,
          -16
        ],
        "id": "35549e91-2dbd-46ac-ba3b-f65d1e89579e",
        "name": "Copia  o arquivo",
        "retryOnFail": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "Yg0MqWhsgxFkLHnh",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Pega todos os itens do nó \"dados\"\nconst dados = $('Code in JavaScript').all();\n\n// Retorna exatamente o que veio do nó \"dados\"\nreturn dados;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1856,
          -16
        ],
        "id": "8a9cdd48-5854-456f-be60-5b79dc77710b",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "operation": "share",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Pega o documento2').item.json.documentId }}",
            "mode": "id"
          },
          "permissionsUi": {
            "permissionsValues": {
              "role": "writer",
              "type": "anyone"
            }
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2768,
          -16
        ],
        "id": "c8d9010d-c9c9-403e-af06-c0f021217029",
        "name": "Torna publico2",
        "retryOnFail": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "Yg0MqWhsgxFkLHnh",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "deleteFile",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Pega o documento2').item.json.documentId }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2976,
          -16
        ],
        "id": "20ca8ebc-17a8-4398-919f-c983c75f5dc1",
        "name": "Deleta",
        "retryOnFail": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "Yg0MqWhsgxFkLHnh",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "wqnBczxd8lV0fL5y",
            "mode": "list",
            "cachedResultName": "insights",
            "cachedResultUrl": "/projects/XZrA9Oiu8K5e6BgC/datatables/wqnBczxd8lV0fL5y"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "ecoBruta": "={{ String($('Code in JavaScript1').item.json.economia_salarios_mensal) }}",
              "ecoLiquida": "={{ String($('Code in JavaScript1').item.json.economia_liquida_mensal) }}",
              "custoAutomacao": "={{ String($('Code in JavaScript1').item.json.custo_por_automacao) }}",
              "custoExecucao": "={{ String($('Code in JavaScript1').item.json.custo_por_execucao) }}",
              "data": "={{ $now.format('dd-MM-yyyy') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ecoBruta",
                "displayName": "ecoBruta",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "ecoLiquida",
                "displayName": "ecoLiquida",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "custoAutomacao",
                "displayName": "custoAutomacao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "custoExecucao",
                "displayName": "custoExecucao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          3184,
          -16
        ],
        "id": "e4e69c32-ad02-4cba-991d-963890d11f60",
        "name": "Insert row"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "6cbe1407-4016-4d03-8dde-98dd6d4efc67",
                "leftValue": "={{ $json.timestamp }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          400,
          0
        ],
        "id": "cf1d4285-a093-4833-ae0e-562b750fc2e1",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          592,
          144
        ],
        "id": "cff36314-a413-4e49-9395-bdf82d8d20f2",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ce3e433e-fc1a-4b0c-9894-1cb2e81a4651",
                "name": "timestamp",
                "value": "={{\n(() => {\n  const date = new Date($json.timestamp);\n\n  // precisa ser sexta-feira\n  if (date.getDay() !== 5) return false;\n\n  // calcula próxima sexta\n  const nextFriday = new Date(date);\n  nextFriday.setDate(date.getDate() + 7);\n\n  // se mudou o mês → é a última sexta\n  return date.getMonth() !== nextFriday.getMonth();\n})()\n}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          0
        ],
        "id": "544943e2-2f6a-4db5-a33f-351f45d759a6",
        "name": "Edit Fields1"
      }
    ],
    "connections": {
      "Get many executions": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Enviar texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar texto": {
        "main": [
          [
            {
              "node": "Cria pasta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cria pasta": {
        "main": [
          [
            {
              "node": "Torna publico1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualiza documento2": {
        "main": [
          [
            {
              "node": "Download file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pega o documento2": {
        "main": [
          [
            {
              "node": "Atualiza documento2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file1": {
        "main": [
          [
            {
              "node": "Upload file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Torna publico1": {
        "main": [
          [
            {
              "node": "Copia  o arquivo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Copia  o arquivo": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Pega o documento2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Torna publico2": {
        "main": [
          [
            {
              "node": "Deleta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload file1": {
        "main": [
          [
            {
              "node": "Torna publico2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deleta": {
        "main": [
          [
            {
              "node": "Insert row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Get many executions",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Automações  Medical Spin",
    "name": "Version b8183b7c",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2025-11-17T14:00:11.395Z",
      "createdAt": "2025-11-17T14:00:11.395Z",
      "id": "BiXlsIc9sGawCxiS",
      "name": "EvolutionAPI"
    },
    {
      "updatedAt": "2025-11-27T17:41:52.963Z",
      "createdAt": "2025-11-27T17:41:52.963Z",
      "id": "6elHMTsvW5UeAGVv",
      "name": "Docs"
    },
    {
      "updatedAt": "2025-11-27T17:41:23.357Z",
      "createdAt": "2025-11-27T17:41:23.357Z",
      "id": "qlhMLSlMQRcl50k1",
      "name": "Drive"
    },
    {
      "updatedAt": "2026-05-15T14:59:20.456Z",
      "createdAt": "2026-05-15T14:59:20.456Z",
      "id": "eq8akokSN3EyUZIN",
      "name": "n8nAPI"
    }
  ]
}