Backup 22-05-2026/QUALIFICAÇÃO DE LEADS E FOLLOWUP.json
{
  "updatedAt": "2026-05-20T19:21:40.333Z",
  "createdAt": "2026-05-13T10:53:41.441Z",
  "id": "VJw6Q10zRuggH8GZ",
  "name": "QUALIFICAÇÃO DE LEADS E FOLLOWUP",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -48,
        176
      ],
      "id": "8dd13cb9-a556-4da7-bc13-b6de87d0366f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "stage_id": 86
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        128,
        176
      ],
      "id": "41dd2047-6fe6-494a-82a5-c341c387b5ee",
      "name": "Get many deals",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MedicalSpin",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1696,
        192
      ],
      "id": "8fc4e3ec-5571-4dd5-bb9d-71bc37bcaec9",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "79qcaif6AQLNsa1x",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $json.id }}",
        "updateFields": {
          "stage_id": 87
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        480,
        176
      ],
      "id": "e0d4f555-0451-4172-b1ea-fec0be9969e3",
      "name": "Update a deal",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -48,
        336
      ],
      "id": "e800cfa2-0686-4281-9d0f-5c4cda00a6fa",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "stage_id": 87
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        128,
        336
      ],
      "id": "134129f4-5e90-4626-ad53-ba82040eb5c2",
      "name": "Get many deals1",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $json.id }}",
        "updateFields": {
          "stage_id": 88
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        480,
        336
      ],
      "id": "8b8c5ace-6185-4945-b4aa-122ca62a9e53",
      "name": "Update a deal1",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -48,
        592
      ],
      "id": "3aeedd1a-cd00-4732-a1d2-1393de1e769d",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "stage_id": 88
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        128,
        592
      ],
      "id": "2002249b-7f55-4d4f-b6fd-4ef4257bc4b9",
      "name": "Get many deals2",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $json.id }}",
        "updateFields": {
          "stage_id": 89
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        480,
        592
      ],
      "id": "2411f69b-cdc7-455e-95c7-7fc5db1b953f",
      "name": "Update a deal2",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -48,
        848
      ],
      "id": "7ddaef23-5ec6-4aef-936d-e6f9df083df7",
      "name": "Schedule Trigger3"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "stage_id": 89
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        128,
        848
      ],
      "id": "c61a1a3a-6c65-4af8-a661-215d4eac904c",
      "name": "Get many deals3",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $json.id }}",
        "updateFields": {
          "stage_id": 90
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        480,
        848
      ],
      "id": "74347d9f-2079-475d-bd47-6f9b33b601cc",
      "name": "Update a deal3",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -48,
        1024
      ],
      "id": "618912cc-7e00-4237-9ffc-bf61d2ea2d6e",
      "name": "Schedule Trigger4"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "stage_id": 90
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        128,
        1024
      ],
      "id": "845f99b3-ce97-4998-b20f-bc882ea7c16e",
      "name": "Get many deals4",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $json.id }}",
        "updateFields": {
          "stage_id": 86
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        480,
        1024
      ],
      "id": "f98c0ea3-227e-4087-948f-1b1c8a0ce228",
      "name": "Update a deal4",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const deals = $input.all();\n\n// Horário atual\nconst now = new Date();\n\n// 7 dias completos em milissegundos\nconst DAYS_7 = 7 * 24 * 60 * 60 * 1000;\n\nconst filteredDeals = deals.filter(item => {\n  const addTime = item.json.update_time;\n\n  if (!addTime) return false;\n\n  const createdAt = new Date(addTime);\n\n  // Diferença entre agora e a criação do deal\n  const diff = now.getTime() - createdAt.getTime();\n\n  // Mantém apenas deals com mais de 7 dias (168 horas)\n  return diff >= DAYS_7;\n});\n\nreturn filteredDeals;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        1024
      ],
      "id": "19a0be58-cc60-4e62-9dea-1bf01a1f6c72",
      "name": "Filtro 7 dias"
    },
    {
      "parameters": {
        "jsCode": "const deals = $input.all();\n\n// Horário atual no Brasil (America/Sao_Paulo)\nconst now = new Date();\n\n// 24 horas em milissegundos\nconst HOURS_24 = 24 * 60 * 60 * 1000;\n\nconst filteredDeals = deals.filter(item => {\n  // Data de criação do deal no Pipedrive\n  const addTime = item.json.add_time;\n\n  if (!addTime) return false;\n\n  // Converte para Date\n  const createdAt = new Date(addTime);\n\n  // Diferença em ms\n  const diff = now.getTime() - createdAt.getTime();\n\n  // Mantém apenas deals com mais de 24h\n  return diff > HOURS_24;\n});\n\nreturn filteredDeals;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        176
      ],
      "id": "eba37010-81c9-45a0-98dc-2a2a657592d8",
      "name": "Filtra 24h Desqualificado"
    },
    {
      "parameters": {
        "jsCode": "const deals = $input.all();\n\n// Horário atual no Brasil (America/Sao_Paulo)\nconst now = new Date();\n\n// 24 horas em milissegundos\nconst HOURS_24 = 24 * 60 * 60 * 1000;\n\nconst filteredDeals = deals.filter(item => {\n  // Data de criação do deal no Pipedrive\n  const addTime = item.json.update_time;\n\n  if (!addTime) return false;\n\n  // Converte para Date\n  const createdAt = new Date(addTime);\n\n  // Diferença em ms\n  const diff = now.getTime() - createdAt.getTime();\n\n  // Mantém apenas deals com mais de 24h\n  return diff > HOURS_24;\n});\n\nreturn filteredDeals;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        336
      ],
      "id": "1f82baa8-3c58-4a7e-96c0-152fe967cc06",
      "name": "Filtra 24h tentativa 1"
    },
    {
      "parameters": {
        "jsCode": "const deals = $input.all();\n\n// Horário atual no Brasil (America/Sao_Paulo)\nconst now = new Date();\n\n// 24 horas em milissegundos\nconst HOURS_24 = 24 * 60 * 60 * 1000;\n\nconst filteredDeals = deals.filter(item => {\n  // Data de criação do deal no Pipedrive\n  const addTime = item.json.update_time;\n\n  if (!addTime) return false;\n\n  // Converte para Date\n  const createdAt = new Date(addTime);\n\n  // Diferença em ms\n  const diff = now.getTime() - createdAt.getTime();\n\n  // Mantém apenas deals com mais de 24h\n  return diff > HOURS_24;\n});\n\nreturn filteredDeals;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        592
      ],
      "id": "3566a19f-8060-43dd-8003-b8034700a13a",
      "name": "Filtra 24h tentativa 2"
    },
    {
      "parameters": {
        "jsCode": "const deals = $input.all();\n\n// Horário atual no Brasil (America/Sao_Paulo)\nconst now = new Date();\n\n// 24 horas em milissegundos\nconst HOURS_24 = 24 * 60 * 60 * 1000;\n\nconst filteredDeals = deals.filter(item => {\n  // Data de criação do deal no Pipedrive\n  const addTime = item.json.update_time;\n\n  if (!addTime) return false;\n\n  // Converte para Date\n  const createdAt = new Date(addTime);\n\n  // Diferença em ms\n  const diff = now.getTime() - createdAt.getTime();\n\n  // Mantém apenas deals com mais de 24h\n  return diff > HOURS_24;\n});\n\nreturn filteredDeals;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        848
      ],
      "id": "95c9a9f7-5eed-4d11-8a31-efd93dce597c",
      "name": "Filtra 24h tentativa 3"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n\nconst brazilHour = Number(\n  now.toLocaleString('en-US', {\n    timeZone: 'America/Sao_Paulo',\n    hour: '2-digit',\n    hour12: false\n  })\n);\n\nconst brazilMinute = Number(\n  now.toLocaleString('en-US', {\n    timeZone: 'America/Sao_Paulo',\n    minute: '2-digit'\n  })\n);\n\nconst isValidTime =\n  (brazilHour === 8 || brazilHour === 14) &&\n  brazilMinute === 0;\n\nreturn [\n  {\n    json: {\n      result: isValidTime ? 'sim' : 'não'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        592
      ],
      "id": "b69d450d-20f0-4a0b-8968-5cfb187b9f02",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "48b67e31-9efc-46f7-91cf-49303d436682",
              "leftValue": "={{ $json.result }}",
              "rightValue": "sim",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        592
      ],
      "id": "462c356b-ca73-474a-88d5-62dd7cfcfcf1",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n\nconst brazilHour = Number(\n  now.toLocaleString('en-US', {\n    timeZone: 'America/Sao_Paulo',\n    hour: '2-digit',\n    hour12: false\n  })\n);\n\nconst brazilMinute = Number(\n  now.toLocaleString('en-US', {\n    timeZone: 'America/Sao_Paulo',\n    minute: '2-digit'\n  })\n);\n\nconst isValidTime =\n  (brazilHour === 8 || brazilHour === 14) &&\n  brazilMinute === 0;\n\nreturn [\n  {\n    json: {\n      result: isValidTime ? 'sim' : 'não'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        848
      ],
      "id": "752df690-b358-43f1-aa2b-ba8f5df7c191",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "48b67e31-9efc-46f7-91cf-49303d436682",
              "leftValue": "={{ $json.result }}",
              "rightValue": "sim",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        848
      ],
      "id": "0ffbc673-1c38-42e6-bb94-7e0d920e10a4",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "oOuA9MPrVTSYogge",
          "mode": "list",
          "cachedResultName": "followUp",
          "cachedResultUrl": "/projects/XZrA9Oiu8K5e6BgC/datatables/oOuA9MPrVTSYogge"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1296,
        208
      ],
      "id": "30c155e1-59fa-4545-80bf-f19103de2d5a",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "48b67e31-9efc-46f7-91cf-49303d436682",
              "leftValue": "={{ $json.result }}",
              "rightValue": "=sim",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        336
      ],
      "id": "067d3981-351f-4a54-ba55-2de5a07a9ddb",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n\nconst brazilTime = now.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false\n});\n\nconst brazilHour = Number(\n  now.toLocaleString('en-US', {\n    timeZone: 'America/Sao_Paulo',\n    hour: '2-digit',\n    hour12: false\n  })\n);\n\nconst brazilMinute = Number(\n  now.toLocaleString('en-US', {\n    timeZone: 'America/Sao_Paulo',\n    minute: '2-digit'\n  })\n);\n\nconst isValidTime =\n  (brazilHour === 8 || brazilHour === 14) &&\n  brazilMinute === 0;\n\nreturn [\n  {\n    json: {\n      result: isValidTime ? 'sim' : 'não',\n      time: brazilTime\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        336
      ],
      "id": "bab34a58-7b08-4c5b-be0d-c6b1e97eb156",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.time }}",
                    "rightValue": "08:00",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f307f0eb-8fdc-418d-8b2d-ea30444b8b21"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1 tentativa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9aae4242-fa57-4a1b-a45e-52dfb479e56e",
                    "leftValue": "={{ $json.time }}",
                    "rightValue": "14:00",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2 tentativa"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1104,
        320
      ],
      "id": "83a5a140-3a58-4962-b5c6-015a8379a174",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "oOuA9MPrVTSYogge",
          "mode": "list",
          "cachedResultName": "followUp",
          "cachedResultUrl": "/projects/XZrA9Oiu8K5e6BgC/datatables/oOuA9MPrVTSYogge"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1296,
        336
      ],
      "id": "9669c340-48aa-4aea-af79-4485f647d8cf",
      "name": "Get row(s)3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fefafdb-4766-4b26-abbc-9475fd534efa",
              "name": "tentativa1",
              "value": "={{ $json.tentativa1 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        208
      ],
      "id": "19552c93-40bf-4ec1-89ca-06d3e7c5e0d7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fefafdb-4766-4b26-abbc-9475fd534efa",
              "name": "tentativa2",
              "value": "={{ $json.tentativa2 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        336
      ],
      "id": "fc77fea4-ed5e-415e-b4c8-9450f79a149a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "oOuA9MPrVTSYogge",
          "mode": "list",
          "cachedResultName": "followUp",
          "cachedResultUrl": "/projects/XZrA9Oiu8K5e6BgC/datatables/oOuA9MPrVTSYogge"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1296,
        464
      ],
      "id": "7188f595-52e4-40c3-bd80-47619b83139b",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.time }}",
                    "rightValue": "08:00",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f307f0eb-8fdc-418d-8b2d-ea30444b8b21"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1 tentativa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9aae4242-fa57-4a1b-a45e-52dfb479e56e",
                    "leftValue": "={{ $json.time }}",
                    "rightValue": "14:00",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2 tentativa"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1104,
        576
      ],
      "id": "90394c8e-0b94-4d05-8c37-441e35f2d403",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "oOuA9MPrVTSYogge",
          "mode": "list",
          "cachedResultName": "followUp",
          "cachedResultUrl": "/projects/XZrA9Oiu8K5e6BgC/datatables/oOuA9MPrVTSYogge"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1296,
        592
      ],
      "id": "e930eead-1ec4-4327-ab11-a3e4c7774044",
      "name": "Get row(s)4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fefafdb-4766-4b26-abbc-9475fd534efa",
              "name": "tentativa1",
              "value": "={{ $json.tentativa1 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        464
      ],
      "id": "103cc3cf-38b4-431a-b2f0-3915eb45666e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fefafdb-4766-4b26-abbc-9475fd534efa",
              "name": "tentativa2",
              "value": "={{ $json.tentativa2 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        592
      ],
      "id": "50bf50dd-d8e6-4308-bfa8-77746f7d4470",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "oOuA9MPrVTSYogge",
          "mode": "list",
          "cachedResultName": "followUp",
          "cachedResultUrl": "/projects/XZrA9Oiu8K5e6BgC/datatables/oOuA9MPrVTSYogge"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1296,
        720
      ],
      "id": "332bc43a-84b0-43e7-9ca6-3e4ca3bf9c96",
      "name": "Get row(s)2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.time }}",
                    "rightValue": "08:00",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f307f0eb-8fdc-418d-8b2d-ea30444b8b21"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1 tentativa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9aae4242-fa57-4a1b-a45e-52dfb479e56e",
                    "leftValue": "={{ $json.time }}",
                    "rightValue": "14:00",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2 tentativa"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1104,
        832
      ],
      "id": "ee2e434c-6253-48f5-b211-2f4c447b688d",
      "name": "Switch3"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "oOuA9MPrVTSYogge",
          "mode": "list",
          "cachedResultName": "followUp",
          "cachedResultUrl": "/projects/XZrA9Oiu8K5e6BgC/datatables/oOuA9MPrVTSYogge"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1296,
        848
      ],
      "id": "88d945c9-38fd-4a09-a548-06ad97521696",
      "name": "Get row(s)5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fefafdb-4766-4b26-abbc-9475fd534efa",
              "name": "tentativa1",
              "value": "={{ $json.tentativa1 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        720
      ],
      "id": "ba345a49-2312-4f72-bf4f-5c964fa00e5c",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fefafdb-4766-4b26-abbc-9475fd534efa",
              "name": "tentativa2",
              "value": "={{ $json.tentativa2 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        848
      ],
      "id": "aa7149b4-dfcf-4e0c-9579-77ee482348d8",
      "name": "Edit Fields5"
    }
  ],
  "connections": {
    "Get many deals": {
      "main": [
        [
          {
            "node": "Filtra 24h Desqualificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get many deals1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many deals1": {
      "main": [
        [
          {
            "node": "Filtra 24h tentativa 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Get many deals2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many deals2": {
      "main": [
        [
          {
            "node": "Filtra 24h tentativa 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "Get many deals3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many deals3": {
      "main": [
        [
          {
            "node": "Filtra 24h tentativa 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger4": {
      "main": [
        [
          {
            "node": "Get many deals4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many deals4": {
      "main": [
        [
          {
            "node": "Filtro 7 dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro 7 dias": {
      "main": [
        [
          {
            "node": "Update a deal4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra 24h Desqualificado": {
      "main": [
        [
          {
            "node": "Update a deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra 24h tentativa 1": {
      "main": [
        [
          {
            "node": "Update a deal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra 24h tentativa 2": {
      "main": [
        [
          {
            "node": "Update a deal2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra 24h tentativa 3": {
      "main": [
        [
          {
            "node": "Update a deal3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a deal1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a deal2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a deal3": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)4": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Get row(s)2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)5": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger2": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger3": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger4": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Get many deals1": [
      {
        "json": {
          "id": 2573,
          "title": "Teste",
          "creator_user_id": 24207317,
          "value": 0,
          "person_id": 1713,
          "org_id": 2069,
          "stage_id": 87,
          "currency": "BRL",
          "add_time": "2026-05-20T17:44:31Z",
          "update_time": "2026-05-19T17:57:33Z",
          "status": "open",
          "probability": null,
          "lost_reason": null,
          "visible_to": 3,
          "close_time": null,
          "pipeline_id": 12,
          "won_time": null,
          "lost_time": null,
          "stage_change_time": "2026-05-20T17:57:33Z",
          "local_won_date": null,
          "local_lost_date": null,
          "local_close_date": null,
          "expected_close_date": null,
          "custom_fields": {
            "Origem": null,
            "Campanha": null,
            "Indicação": null,
            "Evento / Congresso": null,
            "Resp. pela investigação": null,
            "Resp. pela cadência": null,
            "Resp. pela Reunião / Fechamento": null,
            "Cadência de e-mails inicial": null,
            "[SDR] Direcionamento": null,
            "[SDR] Objetivo da \"Lig. filtragem de dados\"": null,
            "Cadência de contato Phillips ou Outras Marcas": null,
            "Resultado da cadência de contatos": null,
            "Cadência Inbound": null,
            "Destino do Lead após investigação e cadência": null,
            "Fomento": null,
            "Projeto": null,
            "Compra": null,
            "Locação": null,
            "Contrato de Manutenção": null,
            "Reparo de Bobinas de exames": null,
            "Reparo de modulos": null,
            "Peças": null
          },
          "owner_id": 24207317,
          "label_ids": [],
          "is_deleted": false,
          "origin": "ManuallyCreated",
          "origin_id": null,
          "channel": null,
          "channel_id": null,
          "acv": null,
          "arr": null,
          "mrr": null,
          "is_archived": false,
          "archive_time": null
        }
      }
    ],
    "Get many deals4": [
      {
        "json": {
          "id": 2573,
          "title": "Teste",
          "creator_user_id": 24207317,
          "value": 0,
          "person_id": 1713,
          "org_id": 2069,
          "stage_id": 90,
          "currency": "BRL",
          "add_time": "2026-05-20T17:44:31Z",
          "update_time": "2026-05-13T17:59:52Z",
          "status": "open",
          "probability": null,
          "lost_reason": null,
          "visible_to": 3,
          "close_time": null,
          "pipeline_id": 12,
          "won_time": null,
          "lost_time": null,
          "stage_change_time": "2026-05-20T17:59:52Z",
          "local_won_date": null,
          "local_lost_date": null,
          "local_close_date": null,
          "expected_close_date": null,
          "custom_fields": {
            "Origem": null,
            "Campanha": null,
            "Indicação": null,
            "Evento / Congresso": null,
            "Resp. pela investigação": null,
            "Resp. pela cadência": null,
            "Resp. pela Reunião / Fechamento": null,
            "Cadência de e-mails inicial": null,
            "[SDR] Direcionamento": null,
            "[SDR] Objetivo da \"Lig. filtragem de dados\"": null,
            "Cadência de contato Phillips ou Outras Marcas": null,
            "Resultado da cadência de contatos": null,
            "Cadência Inbound": null,
            "Destino do Lead após investigação e cadência": null,
            "Fomento": null,
            "Projeto": null,
            "Compra": null,
            "Locação": null,
            "Contrato de Manutenção": null,
            "Reparo de Bobinas de exames": null,
            "Reparo de modulos": null,
            "Peças": null
          },
          "owner_id": 24207317,
          "label_ids": [],
          "is_deleted": false,
          "origin": "ManuallyCreated",
          "origin_id": null,
          "channel": null,
          "channel_id": null,
          "acv": null,
          "arr": null,
          "mrr": null,
          "is_archived": false,
          "archive_time": null
        }
      }
    ],
    "Code in JavaScript": [
      {
        "json": {
          "result": "não",
          "time": "08:00"
        }
      }
    ]
  },
  "versionId": "3e04a1b4-3d2e-4a2b-8e0d-cd31926d3246",
  "activeVersionId": null,
  "triggerCount": 5,
  "shared": [
    {
      "updatedAt": "2026-05-13T10:53:41.441Z",
      "createdAt": "2026-05-13T10:53:41.441Z",
      "role": "workflow:owner",
      "workflowId": "VJw6Q10zRuggH8GZ",
      "projectId": "XZrA9Oiu8K5e6BgC"
    }
  ],
  "activeVersion": null,
  "tags": []
}