Backup 26-06-2026/Sistema de Mensagens FOLLOW-UP.json
{
  "updatedAt": "2026-06-25T12:59:03.048Z",
  "createdAt": "2026-05-25T10:58:13.774Z",
  "id": "zqoWUtam36eRQUbf",
  "name": "Sistema de Mensagens FOLLOW-UP",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "path": "0159e614-a540-4e46-bced-732107c12d9e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e472f138-3627-4d0f-a681-8cbeb13fde4a",
      "name": "Webhook",
      "webhookId": "0159e614-a540-4e46-bced-732107c12d9e"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"pt-br\">\n<head>\n<meta charset=\"UTF-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n\n<title>Editor de Follow-Up</title>\n\n<style>\n\n*{\n  margin:0;\n  padding:0;\n  box-sizing:border-box;\n}\n\nbody{\n  font-family:Arial, sans-serif;\n  background:#0f172a;\n  color:#e2e8f0;\n  padding:20px;\n}\n\nh1{\n  margin-bottom:20px;\n}\n\n.layout{\n  display:grid;\n  grid-template-columns:320px 1fr;\n  gap:20px;\n}\n\n.card{\n  background:#1e293b;\n  border-radius:14px;\n  padding:18px;\n}\n\n.list{\n  display:flex;\n  flex-direction:column;\n  gap:10px;\n}\n\n.item{\n  background:#0f172a;\n  border:1px solid #334155;\n  border-radius:10px;\n  padding:14px;\n  cursor:pointer;\n  transition:.2s;\n}\n\n.item:hover{\n  border-color:#3b82f6;\n}\n\n.item.active{\n  border-color:#60a5fa;\n  background:#172554;\n}\n\n.preview{\n  margin-top:20px;\n  background:#0f172a;\n  border:1px solid #334155;\n  border-radius:10px;\n  padding:16px;\n  white-space:pre-wrap;\n  line-height:1.6;\n  min-height:220px;\n}\n\ntextarea{\n  width:100%;\n  min-height:220px;\n  resize:vertical;\n  margin-top:12px;\n  border:none;\n  border-radius:10px;\n  padding:14px;\n  background:#0f172a;\n  border:1px solid #334155;\n  color:white;\n}\n\ntextarea:focus{\n  outline:none;\n  border-color:#3b82f6;\n}\n\nbutton{\n  width:100%;\n  margin-top:16px;\n  padding:14px;\n  border:none;\n  border-radius:10px;\n  background:#2563eb;\n  color:white;\n  font-weight:bold;\n  cursor:pointer;\n}\n\nbutton:hover{\n  background:#1d4ed8;\n}\n\n.status{\n  margin-top:14px;\n  font-size:14px;\n}\n\n.badge{\n  display:inline-block;\n  padding:6px 10px;\n  background:#334155;\n  border-radius:999px;\n  font-size:12px;\n  margin-bottom:10px;\n}\n\n.meta{\n  margin-top:16px;\n  opacity:.7;\n  font-size:13px;\n}\n\n@media(max-width:900px){\n\n  .layout{\n    grid-template-columns:1fr;\n  }\n\n}\n\n</style>\n</head>\n\n<body>\n\n<h1>🧠 Editor de Follow-Up</h1>\n\n<div class=\"layout\">\n\n  <!-- LISTA -->\n  <div class=\"card\">\n\n    <h2>Tentativas</h2>\n\n    <div class=\"list\" id=\"list\"></div>\n\n    <div class=\"meta\">\n      Clique em uma tentativa para editar.\n    </div>\n\n  </div>\n\n  <!-- EDITOR -->\n  <div class=\"card\">\n\n    <div class=\"badge\" id=\"selectedLabel\">\n      Nenhuma tentativa selecionada\n    </div>\n\n    <!-- PREVIEW -->\n    <h3>👁 Preview</h3>\n    \n    <div class=\"preview\" id=\"preview\">\n    Selecione uma tentativa ao lado.\n    </div>\n    \n    <!-- EDITOR -->\n    <h3 style=\"margin-top:30px;\">✏️ Editor</h3>\n    \n    <textarea\n      id=\"message\"\n      placeholder=\"Digite a mensagem...\"\n    ></textarea>\n    \n    <button onclick=\"save()\">\n      Salvar Alteração\n    </button>\n    \n    <div class=\"status\" id=\"status\"></div>\n\n  </div>\n\n</div>\n\n<script>\n\n/*\n========================================\nDADOS DO NÓ ANTERIOR\n========================================\n*/\n\nconst data =\n{{ JSON.stringify($input.first().json) }};\n\n\n/*\n========================================\nWEBHOOK\n========================================\n*/\n\nconst WEBHOOK_URL =\n\"https://n8n-www4kggggc4c8k8ow4w8g4g0.95.217.164.173.sslip.io/webhook/0159e614-a540-4e46-bced-732107c12d9e\";\n\n\n/*\n========================================\nTENTATIVAS\n========================================\n*/\n\nconst attempts = [\n  \"tentativa1\",\n  \"tentativa2\",\n  \"tentativa3\",\n  \"tentativa4\",\n  \"tentativa5\",\n  \"tentativa6\"\n];\n\n\n/*\n========================================\nSTATE\n========================================\n*/\n\nlet selectedAttempt = null;\n\n\n/*\n========================================\nRENDER LISTA\n========================================\n*/\n\nfunction renderList(){\n\n  const list =\n    document.getElementById(\"list\");\n\n  list.innerHTML = attempts.map(key => {\n\n    const content =\n      data[key] || \"\";\n\n    return `\n      <div\n        class=\"item\"\n        id=\"${key}\"\n        onclick=\"selectAttempt('${key}')\"\n      >\n\n        <strong>\n          ${key.replace(\"tentativa\",\"Tentativa \")}\n        </strong>\n\n        <div style=\"\n          margin-top:8px;\n          opacity:.7;\n          font-size:13px;\n        \">\n          ${content.slice(0,60) || \"Vazio\"}\n        </div>\n\n      </div>\n    `;\n\n  }).join(\"\");\n\n}\n\n\n/*\n========================================\nSELECIONAR\n========================================\n*/\n\nfunction selectAttempt(key){\n\n  selectedAttempt = key;\n\n  document\n    .querySelectorAll(\".item\")\n    .forEach(el => el.classList.remove(\"active\"));\n\n  document\n    .getElementById(key)\n    .classList.add(\"active\");\n\n  document\n    .getElementById(\"selectedLabel\")\n    .innerText =\n      key.replace(\"tentativa\",\"Tentativa \");\n\n  document\n    .getElementById(\"message\")\n    .value =\n      data[key] || \"\";\n\n  renderPreview();\n\n}\n\n\n/*\n========================================\nPREVIEW\n========================================\n*/\n\nfunction renderPreview(){\n\n  const text =\n    document.getElementById(\"message\").value;\n\n  document\n    .getElementById(\"preview\")\n    .innerText =\n      text || \"Sem conteúdo\";\n\n}\n\n\ndocument\n  .getElementById(\"message\")\n  .addEventListener(\"input\", renderPreview);\n\n\n/*\n========================================\nSALVAR\n========================================\n*/\n\nasync function save(){\n\n  if(!selectedAttempt){\n\n    alert(\"Selecione uma tentativa\");\n\n    return;\n  }\n\n  const newValue =\n    document.getElementById(\"message\").value;\n\n  /*\n  ========================================\n  ENVIA SOMENTE O ALTERADO\n  ========================================\n  */\n\n  const payload = {\n\n    id:data.id,\n\n    field:selectedAttempt,\n\n    value:newValue\n\n  };\n\n  const status =\n    document.getElementById(\"status\");\n\n  status.innerHTML =\n    \"⏳ Salvando...\";\n\n  try{\n\n    const response = await fetch(\n      WEBHOOK_URL,\n      {\n        method:\"POST\",\n\n        headers:{\n          \"Content-Type\":\"application/json\"\n        },\n\n        body:JSON.stringify(payload)\n      }\n    );\n\n    if(!response.ok){\n\n      throw new Error(\"Erro ao salvar\");\n    }\n\n    /*\n    ========================================\n    ATUALIZA LOCALMENTE\n    ========================================\n    */\n\n    data[selectedAttempt] = newValue;\n\n    renderList();\n\n    document\n      .getElementById(selectedAttempt)\n      .classList.add(\"active\");\n\n    status.innerHTML =\n      \"✅ Alteração salva com sucesso!\";\n\n  }catch(error){\n\n    console.error(error);\n\n    status.innerHTML =\n      \"❌ Erro ao salvar alteração\";\n\n  }\n\n}\n\n\n/*\n========================================\nINIT\n========================================\n*/\n\nwindow.onload = ()=>{\n\n  renderList();\n\n};\n\n</script>\n\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "81dee933-4b48-41f7-ad95-329b1614c1e5",
      "name": "HTML"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        0
      ],
      "id": "33b792eb-aa40-42ff-ad95-7fa1ee7fc1e9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "oOuA9MPrVTSYogge",
          "mode": "list",
          "cachedResultName": "followUp",
          "cachedResultUrl": "/projects/XZrA9Oiu8K5e6BgC/datatables/oOuA9MPrVTSYogge"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "e376ae7a-1e9f-4773-a024-5b3d4058e113",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0159e614-a540-4e46-bced-732107c12d9e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        816,
        0
      ],
      "id": "6e5efc2f-b543-491a-b401-472a9d849b14",
      "name": "Webhook1",
      "webhookId": "0159e614-a540-4e46-bced-732107c12d9e"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d67af460-80fb-4b8a-bb21-e4f3e6ff52da",
                    "leftValue": "={{ $json.body.field }}",
                    "rightValue": "tentativa1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tentativa1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "36e4a7b4-b8f1-4580-a033-e1acdb1a034a",
                    "leftValue": "={{ $json.body.field }}",
                    "rightValue": "tentativa2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tentativa2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e784aa15-4c46-4318-901f-911faeea6568",
                    "leftValue": "={{ $json.body.field }}",
                    "rightValue": "tentativa3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tentativa3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "09ea367d-cfe2-4baa-9385-5ffc0170b5af",
                    "leftValue": "={{ $json.body.field }}",
                    "rightValue": "tentativa4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tentativa4"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6e88f60f-a0d1-490d-bf0c-e6cbd19e4926",
                    "leftValue": "={{ $json.body.field }}",
                    "rightValue": "tentativa5",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tentativa5"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "51c3e670-c4ac-4d36-87a4-9b29e71536ae",
                    "leftValue": "={{ $json.body.field }}",
                    "rightValue": "tentativa6",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tentativa6"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1024,
        -64
      ],
      "id": "a283ce9f-8981-40e6-bc5d-cc6a5d4f03c9",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "oOuA9MPrVTSYogge",
          "mode": "list",
          "cachedResultName": "followUp",
          "cachedResultUrl": "/projects/XZrA9Oiu8K5e6BgC/datatables/oOuA9MPrVTSYogge"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tentativa1": "={{ $json.body.value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tentativa1",
              "displayName": "tentativa1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tentativa2",
              "displayName": "tentativa2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa3",
              "displayName": "tentativa3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa4",
              "displayName": "tentativa4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa5",
              "displayName": "tentativa5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa6",
              "displayName": "tentativa6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1232,
        -320
      ],
      "id": "51f468b5-fb29-4a07-a04e-2258a0f03061",
      "name": "tentativa1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "oOuA9MPrVTSYogge",
          "mode": "list",
          "cachedResultName": "followUp",
          "cachedResultUrl": "/projects/XZrA9Oiu8K5e6BgC/datatables/oOuA9MPrVTSYogge"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tentativa2": "={{ $json.body.value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tentativa1",
              "displayName": "tentativa1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa2",
              "displayName": "tentativa2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tentativa3",
              "displayName": "tentativa3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa4",
              "displayName": "tentativa4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa5",
              "displayName": "tentativa5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa6",
              "displayName": "tentativa6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1232,
        -192
      ],
      "id": "feeac7c5-2c00-425f-903b-9581e85edd78",
      "name": "tentativa2"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "oOuA9MPrVTSYogge",
          "mode": "list",
          "cachedResultName": "followUp",
          "cachedResultUrl": "/projects/XZrA9Oiu8K5e6BgC/datatables/oOuA9MPrVTSYogge"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tentativa3": "={{ $json.body.value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tentativa1",
              "displayName": "tentativa1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa2",
              "displayName": "tentativa2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa3",
              "displayName": "tentativa3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tentativa4",
              "displayName": "tentativa4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa5",
              "displayName": "tentativa5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa6",
              "displayName": "tentativa6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1232,
        -64
      ],
      "id": "396ef862-4a4b-46bb-9dcc-42b4640dd8b0",
      "name": "tentativa3"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "oOuA9MPrVTSYogge",
          "mode": "list",
          "cachedResultName": "followUp",
          "cachedResultUrl": "/projects/XZrA9Oiu8K5e6BgC/datatables/oOuA9MPrVTSYogge"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tentativa4": "={{ $json.body.value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tentativa1",
              "displayName": "tentativa1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa2",
              "displayName": "tentativa2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa3",
              "displayName": "tentativa3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa4",
              "displayName": "tentativa4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tentativa5",
              "displayName": "tentativa5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa6",
              "displayName": "tentativa6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1232,
        64
      ],
      "id": "c509f781-1b44-4788-ba2c-b1d472c3f830",
      "name": "tentativa4"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "oOuA9MPrVTSYogge",
          "mode": "list",
          "cachedResultName": "followUp",
          "cachedResultUrl": "/projects/XZrA9Oiu8K5e6BgC/datatables/oOuA9MPrVTSYogge"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tentativa5": "={{ $json.body.value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tentativa1",
              "displayName": "tentativa1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa2",
              "displayName": "tentativa2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa3",
              "displayName": "tentativa3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa4",
              "displayName": "tentativa4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa5",
              "displayName": "tentativa5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tentativa6",
              "displayName": "tentativa6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1232,
        192
      ],
      "id": "2abe3173-a48c-4645-b38b-586de67e2cfe",
      "name": "tentativa5"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "oOuA9MPrVTSYogge",
          "mode": "list",
          "cachedResultName": "followUp",
          "cachedResultUrl": "/projects/XZrA9Oiu8K5e6BgC/datatables/oOuA9MPrVTSYogge"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tentativa6": "={{ $json.body.value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tentativa1",
              "displayName": "tentativa1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa2",
              "displayName": "tentativa2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa3",
              "displayName": "tentativa3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa4",
              "displayName": "tentativa4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa5",
              "displayName": "tentativa5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tentativa6",
              "displayName": "tentativa6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1232,
        320
      ],
      "id": "f779c9e9-427c-4460-ae9b-19fed726c942",
      "name": "tentativa6"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "tentativa1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tentativa2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tentativa3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tentativa4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tentativa5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tentativa6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n-www4kggggc4c8k8ow4w8g4g0.95.217.164.173.sslip.io",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36",
            "content-length": "42",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"148\", \"Google Chrome\";v=\"148\", \"Not/A)Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "45.233.99.26",
            "x-forwarded-host": "n8n-www4kggggc4c8k8ow4w8g4g0.95.217.164.173.sslip.io",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "21ebda4186cf",
            "x-real-ip": "45.233.99.26"
          },
          "params": {},
          "query": {},
          "body": {
            "id": 1,
            "field": "tentativa1",
            "value": "oi"
          },
          "webhookUrl": "https://n8n-www4kggggc4c8k8ow4w8g4g0.95.217.164.173.sslip.io/webhook/0159e614-a540-4e46-bced-732107c12d9e",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "4ae2ba9f-8478-41b7-aa62-f162e8878142",
  "activeVersionId": null,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-05-25T10:58:13.774Z",
      "createdAt": "2026-05-25T10:58:13.774Z",
      "role": "workflow:owner",
      "workflowId": "zqoWUtam36eRQUbf",
      "projectId": "XZrA9Oiu8K5e6BgC"
    }
  ],
  "activeVersion": null,
  "tags": []
}