Backup 13-11-2025/My workflow.json
{
  "updatedAt": "2025-11-12T11:50:49.730Z",
  "createdAt": "2025-11-11T10:07:31.633Z",
  "id": "oRhRoC6FEiAxBaiM",
  "name": "My workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -144,
        0
      ],
      "id": "f595bc6b-5d89-4b5b-866c-cd8169491535",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "desenvmedicalspin@gmail.com",
          "mode": "list",
          "cachedResultName": "desenvmedicalspin@gmail.com"
        },
        "returnAll": true,
        "timeMin": "=",
        "timeMax": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        64,
        0
      ],
      "id": "17a5b6c1-969b-4603-812f-239443e599fd",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bb1iZsiQTblnlZKc",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ddfd83aa-3e43-4d46-ac0a-9574bb28369f",
              "leftValue": "={{ $json.start.dateTime }}",
              "rightValue": "2025-",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "07b16cda-09ea-4d45-9e32-8e4766453bca",
              "leftValue": "={{ $json.end.dateTime }}",
              "rightValue": "2025-",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        272,
        0
      ],
      "id": "9ffd89eb-a9c0-41ea-a864-d3c90d8858a6",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4336fd5-69ba-4509-b798-c21df528ade4",
              "name": "start.dateTime",
              "value": "={{ $json.start.dateTime }}",
              "type": "string"
            },
            {
              "id": "537709a4-f4b6-45b8-a73c-297593f42ac4",
              "name": "end.dateTime",
              "value": "={{ $json.end.dateTime }}",
              "type": "string"
            },
            {
              "id": "aa3cd834-b346-4778-96ec-f9270dfad7e8",
              "name": "attendees",
              "value": "={{ $json.attendees }}",
              "type": "array"
            },
            {
              "id": "d01d6bed-dcce-4205-a7ed-a5e5114bcf86",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        0
      ],
      "id": "d5463df6-d0f5-44fb-9f9a-391dda06b482",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MedicalSpin",
        "remoteJid": "=+{{ $json.description }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        688,
        0
      ],
      "id": "360111a4-8e7c-45fc-9941-e7968eec9805",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "70uh12r25ZnXKIUg",
          "name": "WhatsApp"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Calendar Trigger": {
      "lastTimeChecked": "2025-11-11T10:15:30Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7f1fd5b1-6f6e-4f05-92a9-cf63bd17b335",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-11T10:07:31.633Z",
      "createdAt": "2025-11-11T10:07:31.633Z",
      "role": "workflow:owner",
      "workflowId": "oRhRoC6FEiAxBaiM",
      "projectId": "GjBqXqsURslZKNiG"
    }
  ],
  "tags": []
}