Backup 14-01-2026/SITE + PIPEDRIVE + VOXFREE + GOOGLE ADS + GMAIL + SHEETS - PG MANTUENÇÃO.json
{
  "updatedAt": "2026-01-14T10:07:54.947Z",
  "createdAt": "2026-01-14T09:47:14.205Z",
  "id": "xcpyHmS2VQEtJibJ",
  "name": "SITE + PIPEDRIVE + VOXFREE + GOOGLE ADS + GMAIL + SHEETS - PG MANTUENÇÃO",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "form-popup-manutenção",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1072,
        496
      ],
      "id": "bb265d34-943b-4490-8671-a1473e88f963",
      "name": "Webhook5",
      "webhookId": "449b7690-9b51-4e9f-bb58-eb2e6a43b5b1"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook5').item.json.body.Nome }}",
        "additionalFields": {
          "email": [
            "={{ $('Webhook5').item.json.body.Email }}"
          ],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Webhook5').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1760,
        640
      ],
      "id": "74a2115d-4d2a-4d4c-9628-dfb74922d34d",
      "name": "Create a person5",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization2').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1936,
        640
      ],
      "id": "1f570560-9af8-406e-b810-f65c89a41265",
      "name": "Create a lead5",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person5').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              },
              {
                "name": "3c1b0e8b2081fdbc27acffe179a4c704662362f5",
                "value": "Camila"
              }
            ]
          },
          "org_id": "={{ $('Create an organization2').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2112,
        640
      ],
      "id": "c68695b3-b2c2-4dbd-9e23-0a041e10d0dc",
      "name": "Create a deal5",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## FORM PUP-UP",
        "height": 608,
        "width": 2896,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1056,
        304
      ],
      "id": "38c8fd36-2e02-4787-bdbc-56c4ef7bf777",
      "name": "Sticky Note7",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG BOBINAS DE MANUTENÇÃO POP-UP\n\n🔹Nome: {{ $('Create a person5').item.json.name }}\n🔹Telefone: {{ $('Create a person5').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person5').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization2').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization2').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2288,
        640
      ],
      "id": "01436dee-66c1-43ad-aba7-6476e82ef4b6",
      "name": "Create a note5",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript2').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields3').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* ⚡\\n🔧 Um especialista já foi avisado!\\n\\n🧪 *Em nosso lab certificado*, restauramos bobinas condenadas com *100% de sucesso nos testes de IQT* ✅\\n\\n📍 Pode informar *modelo, marca da RM* e o que está buscando?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG MANUTENÇÃO POP-UP\\n🔹Nome: {{ $('Create a person5').item.json.name }}\\n🔹Telefone: {{ $('Create a person5').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person5').item.json.email[0].value }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3168,
        640
      ],
      "id": "acbb52d5-db2a-4784-af9d-325f8fbb1697",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "1668",
              "type": "string"
            },
            {
              "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
              "name": "form",
              "value": "Reparo de bobina",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2992,
        640
      ],
      "id": "8d8eef9f-eadc-43de-89ec-eab7e485788d",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "sendTo": "contato@medicalspin.com.br",
        "subject": "Novo Lead Interessado em Manutenção- POP-UP",
        "emailType": "text",
        "message": "=Nome: {{ $('Webhook5').item.json.body.Nome }}\nEmail: {{ $('Webhook5').item.json.body.Email }}\nTelefone: {{ $('Webhook5').item.json.body.WhatsApp }}\nClínica: {{ $('Create an organization2').item.json.name }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2464,
        640
      ],
      "id": "98842266-748a-4f40-9f49-6fa594affbfa",
      "name": "Send a message2",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "KvJgpEKJ3c13wnGv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person5').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person5').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person5').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "937af5e8-81b8-40cf-b352-8f2cbb1b9095",
              "name": "org",
              "value": "={{ $('Create an organization2').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        640
      ],
      "id": "1885e069-fd77-474f-a03b-e0ef69fe68a7",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields3').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        640
      ],
      "id": "9bdd3c40-014c-45b2-88c0-aa2621547b37",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body[\"Clínica\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1584,
        640
      ],
      "id": "581ba313-360e-4819-bccd-a0511f227b0e",
      "name": "Create an organization2",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c530bcc4-b650-41bf-8425-16ffbfec6a4c",
              "leftValue": "={{ $json.body['Page URL'] }}",
              "rightValue": "https://manutencao.medicalspin.com.br",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1408,
        496
      ],
      "id": "a5ef4904-8572-492c-b402-4544a2f41d0a",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook5').item.json.body.Nome }}",
        "additionalFields": {
          "email": [
            "={{ $('Webhook5').item.json.body.Email }}"
          ],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('If1').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1760,
        480
      ],
      "id": "406f6cc8-be6b-4f10-a01f-8a24ac837586",
      "name": "Create a person7",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization3').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1936,
        480
      ],
      "id": "407ae157-a0de-4154-bde1-89f3e96187e6",
      "name": "Create a lead7",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person7').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              },
              {
                "name": "3c1b0e8b2081fdbc27acffe179a4c704662362f5",
                "value": "Camila"
              }
            ]
          },
          "org_id": "={{ $('Create an organization3').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2112,
        480
      ],
      "id": "01d3543b-ba18-4b21-a480-03206145a5c2",
      "name": "Create a deal7",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG MANUTENÇÃO POP-UP - ANÚNCIO DO GOOGLE ADS\n\n🔹Nome: {{ $('Create a person7').item.json.name }}\n🔹Telefone: {{ $('Create a person7').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person7').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization3').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization3').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2288,
        480
      ],
      "id": "618ae4c6-3790-40e8-800b-a573f42c454f",
      "name": "Create a note7",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript4').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields9').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* ⚡\\n🔧 Um especialista já foi avisado!\\n\\n🧪 *Em nosso lab certificado*, restauramos bobinas condenadas com *100% de sucesso nos testes de IQT* ✅\\n\\n📍 Pode informar *modelo, marca da RM* e o que está buscando?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG MANUTENÇÃO POP-UP - ANÚNCIO DO GOOGLE ADS\\n🔹Nome: {{ $('Create a person7').item.json.name }}\\n🔹Telefone: {{ $('Create a person7').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person7').item.json.email[0].value }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3168,
        480
      ],
      "id": "a5ebb468-3756-45d4-b6e1-f9b58d76b970",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "1668",
              "type": "string"
            },
            {
              "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
              "name": "form",
              "value": "Reparo de bobina",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2992,
        480
      ],
      "id": "b3295b2c-6cce-4485-9852-82d3f91af0ed",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "sendTo": "contato@medicalspin.com.br",
        "subject": "Novo Lead Interessado em Manutenção - POP-UP - Google ADS",
        "emailType": "text",
        "message": "=Nome: {{ $('Webhook5').item.json.body.Nome }}\nEmail: {{ $('Webhook5').item.json.body.Email }}\nTelefone: {{ $('Webhook5').item.json.body.WhatsApp }}\nClínica: {{ $('Create an organization3').item.json.name }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2464,
        480
      ],
      "id": "177b6d51-472b-49af-acf5-2ad933c139ed",
      "name": "Send a message4",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "KvJgpEKJ3c13wnGv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person7').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person7').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person7').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "6e246d30-a02f-43a9-9efc-2301b8b580b2",
              "name": "org",
              "value": "={{ $('Create an organization3').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        480
      ],
      "id": "660c280f-e97c-4ece-ba48-e3eacbbe5a98",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields9').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        480
      ],
      "id": "9ef4048f-c01e-40ed-bae8-230707f2674c",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body[\"Clínica\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1584,
        480
      ],
      "id": "ebb74193-7038-46cd-9054-d062477d0e77",
      "name": "Create an organization3",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8",
          "mode": "list",
          "cachedResultName": "PLANILHA 2025 SOLARO - LEADS INBOUND",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 139886296,
          "mode": "list",
          "cachedResultName": "GoogleAds",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit#gid=139886296"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{ $('Edit Fields9').item.json.email }}",
            "Telefone ": "={{ $('Code in JavaScript4').item.json.phone }}",
            "Nome": "={{ $('Edit Fields9').item.json.name }}",
            "Empresa": "={{ $('Edit Fields9').item.json.org }}",
            "Tipo de Serviço": "=Google ADS PG MANUTENÇÃO POP-UP",
            "Data do Cadastro": "={{ $now.format('dd-LL-yyyy T') }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Contato",
              "displayName": "Contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data do Cadastro",
              "displayName": "Data do Cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo de Serviço",
              "displayName": "Tipo de Serviço",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone ",
              "displayName": "Telefone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Observações",
              "displayName": "Observações",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pipedrive",
              "displayName": "Pipedrive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Planilha",
              "displayName": "Planilha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3584,
        320
      ],
      "id": "45ac8326-5796-4737-8980-8dad5b42e162",
      "name": "SUCESSO",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2DSmp4SarxDNx6pV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields3').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields3').item.json.email }}",
            "TELEFONE": "={{ $('Code in JavaScript2').item.json.phone }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OBSERVAÇÕES",
              "displayName": "OBSERVAÇÕES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3584,
        608
      ],
      "id": "476e06c5-5c8d-479f-a5eb-07a1f2455d10",
      "name": "SUCESSO1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2DSmp4SarxDNx6pV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8",
          "mode": "list",
          "cachedResultName": "PLANILHA 2025 SOLARO - LEADS INBOUND",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 139886296,
          "mode": "list",
          "cachedResultName": "GoogleAds",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit#gid=139886296"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{ $('Edit Fields9').item.json.email }}",
            "Telefone ": "={{ $('Code in JavaScript4').item.json.phone }}",
            "Nome": "={{ $('Edit Fields9').item.json.name }}",
            "Empresa": "={{ $('Edit Fields9').item.json.org }}",
            "Tipo de Serviço": "=Google ADS PG MANUTENÇÃO POP-UP",
            "Data do Cadastro": "={{ $now.format('dd-LL-yyyy T') }}",
            "Observações": "Forneceu um contato sem WhatsApp"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Contato",
              "displayName": "Contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data do Cadastro",
              "displayName": "Data do Cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo de Serviço",
              "displayName": "Tipo de Serviço",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone ",
              "displayName": "Telefone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Observações",
              "displayName": "Observações",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pipedrive",
              "displayName": "Pipedrive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Planilha",
              "displayName": "Planilha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3776,
        480
      ],
      "id": "3989524c-fc8c-4524-bff3-fc43a28c3a3a",
      "name": "ERRO",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2DSmp4SarxDNx6pV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields3').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields3').item.json.email }}",
            "TELEFONE": "={{ $('Code in JavaScript2').item.json.phone }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}",
            "OBSERVAÇÕES": "Forneceu um contato sem WhatsApp"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OBSERVAÇÕES",
              "displayName": "OBSERVAÇÕES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3776,
        752
      ],
      "id": "8ff5d622-4cbf-4878-bc4d-333b200735bd",
      "name": "ERRO1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2DSmp4SarxDNx6pV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "902b0a95-c3a9-441d-a179-45bed61ad9c3",
              "leftValue": "={{ /\\d/.test($json.body['Clínica']) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1232,
        496
      ],
      "id": "efd3b873-055c-4568-94b6-3f2a1de14e1c",
      "name": "If3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1408,
        640
      ],
      "id": "71a53819-a580-4060-9ef1-b25765a14489",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "jsCode": "// Remove duplicatas com base no campo 'resultado'\nconst vistos = new Set();\nconst unicos = [];\n\nfor (const item of items) {\n  if (!vistos.has(item.json.resultado)) {\n    vistos.add(item.json.resultado);\n    unicos.push(item);\n  }\n}\n\nreturn unicos;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3584,
        480
      ],
      "id": "1eaa322b-710a-439d-a5ec-39f37817c388",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "jsCode": "// Remove duplicatas com base no campo 'resultado'\nconst vistos = new Set();\nconst unicos = [];\n\nfor (const item of items) {\n  if (!vistos.has(item.json.resultado)) {\n    vistos.add(item.json.resultado);\n    unicos.push(item);\n  }\n}\n\nreturn unicos;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3584,
        752
      ],
      "id": "3af39e2d-d667-4a8b-ac7d-c439cee27d99",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "34238324-b70c-4d50-9e30-f84b1dc0dea7",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Iniciando conversa",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "728cb7bb-230f-4391-93e3-78ba55b5daae",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Ja possui conversa ativa",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3360,
        480
      ],
      "id": "33954888-a5fc-432e-9917-a2ebd1e11baa",
      "name": "If18"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "34238324-b70c-4d50-9e30-f84b1dc0dea7",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Iniciando conversa",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "728cb7bb-230f-4391-93e3-78ba55b5daae",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Ja possui conversa ativa",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3360,
        640
      ],
      "id": "0c105457-393c-4cbf-9fca-69600e302121",
      "name": "If19"
    },
    {
      "parameters": {
        "content": "## Página de Manutenção",
        "height": 752,
        "width": 2960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1024,
        224
      ],
      "id": "6172182a-1abb-49d4-b74f-7807252730a3",
      "name": "Sticky Note6"
    }
  ],
  "connections": {
    "Webhook5": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person5": {
      "main": [
        [
          {
            "node": "Create a lead5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead5": {
      "main": [
        [
          {
            "node": "Create a deal5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal5": {
      "main": [
        [
          {
            "node": "Create a note5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note5": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization2": {
      "main": [
        [
          {
            "node": "Create a person5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create an organization3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an organization2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person7": {
      "main": [
        [
          {
            "node": "Create a lead7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead7": {
      "main": [
        [
          {
            "node": "Create a deal7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal7": {
      "main": [
        [
          {
            "node": "Create a note7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note7": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "If18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message4": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization3": {
      "main": [
        [
          {
            "node": "Create a person7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "ERRO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "ERRO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If18": {
      "main": [
        [
          {
            "node": "SUCESSO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If19": {
      "main": [
        [
          {
            "node": "SUCESSO1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook5": [
      {
        "json": {
          "headers": {
            "host": "n8n-www4kggggc4c8k8ow4w8g4g0.95.217.164.173.sslip.io",
            "user-agent": "WordPress/6.9; https://manutencao.medicalspin.com.br",
            "content-length": "409",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip, br",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "69.6.213.99",
            "x-forwarded-host": "n8n-www4kggggc4c8k8ow4w8g4g0.95.217.164.173.sslip.io",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "21ebda4186cf",
            "x-real-ip": "69.6.213.99"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Desenv - MedicalSpin",
            "Email": "teste@teste.com",
            "WhatsApp": "(79) 99980-1810",
            "Clínica": "teste",
            "Date": "14 de janeiro de 2026",
            "Time": "06:49",
            "Page URL": "https://manutencao.medicalspin.com.br/",
            "User Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "Remote IP": "45.233.99.11",
            "Powered by": "PRO Elements",
            "form_id": "1b3fb0e5",
            "form_name": "New Form"
          },
          "webhookUrl": "https://n8n-www4kggggc4c8k8ow4w8g4g0.95.217.164.173.sslip.io/webhook/form-popup-manutenção",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "490ff4f3-7774-4332-9418-2d387886b6f9",
  "activeVersionId": "490ff4f3-7774-4332-9418-2d387886b6f9",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-14T09:47:14.205Z",
      "createdAt": "2026-01-14T09:47:14.205Z",
      "role": "workflow:owner",
      "workflowId": "xcpyHmS2VQEtJibJ",
      "projectId": "XZrA9Oiu8K5e6BgC"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-14T10:07:54.949Z",
    "createdAt": "2026-01-14T10:07:54.949Z",
    "versionId": "490ff4f3-7774-4332-9418-2d387886b6f9",
    "workflowId": "xcpyHmS2VQEtJibJ",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "form-popup-manutenção",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          1072,
          496
        ],
        "id": "bb265d34-943b-4490-8671-a1473e88f963",
        "name": "Webhook5",
        "webhookId": "449b7690-9b51-4e9f-bb58-eb2e6a43b5b1"
      },
      {
        "parameters": {
          "resource": "person",
          "name": "={{ $('Webhook5').item.json.body.Nome }}",
          "additionalFields": {
            "email": [
              "={{ $('Webhook5').item.json.body.Email }}"
            ],
            "org_id": "={{ $json.id }}",
            "phone": [
              "={{ $('Webhook5').item.json.body.WhatsApp }}"
            ]
          }
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          1760,
          640
        ],
        "id": "74a2115d-4d2a-4d4c-9628-dfb74922d34d",
        "name": "Create a person5",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "lead",
          "title": "={{ $json.name }}",
          "associateWith": "person",
          "person_id": "={{ $json.id }}",
          "additionalFields": {
            "organization_id": "={{ $('Create an organization2').item.json.id }}"
          }
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          1936,
          640
        ],
        "id": "1f570560-9af8-406e-b810-f65c89a41265",
        "name": "Create a lead5",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "title": "={{ $json.title }}",
          "associateWith": "person",
          "person_id": "={{ $('Create a person5').item.json.id }}",
          "additionalFields": {
            "customProperties": {
              "property": [
                {
                  "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                  "value": "Site"
                },
                {
                  "name": "26246539655446743bf780a9ada870d71bacb1a0",
                  "value": "Inbound"
                },
                {
                  "name": "3c1b0e8b2081fdbc27acffe179a4c704662362f5",
                  "value": "Camila"
                }
              ]
            },
            "org_id": "={{ $('Create an organization2').item.json.id }}",
            "stage_id": 17
          }
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          2112,
          640
        ],
        "id": "c68695b3-b2c2-4dbd-9e23-0a041e10d0dc",
        "name": "Create a deal5",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "content": "## FORM PUP-UP",
          "height": 608,
          "width": 2896,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1056,
          304
        ],
        "id": "38c8fd36-2e02-4787-bdbc-56c4ef7bf777",
        "name": "Sticky Note7",
        "disabled": true
      },
      {
        "parameters": {
          "resource": "note",
          "content": "=🚀LEAD SITE PG BOBINAS DE MANUTENÇÃO POP-UP\n\n🔹Nome: {{ $('Create a person5').item.json.name }}\n🔹Telefone: {{ $('Create a person5').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person5').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization2').item.json.name }}",
          "additionalFields": {
            "deal_id": "={{ $json.id }}",
            "org_id": "={{ $('Create an organization2').item.json.id }}"
          }
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          2288,
          640
        ],
        "id": "01436dee-66c1-43ad-aba7-6476e82ef4b6",
        "name": "Create a note5",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript2').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields3').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* ⚡\\n🔧 Um especialista já foi avisado!\\n\\n🧪 *Em nosso lab certificado*, restauramos bobinas condenadas com *100% de sucesso nos testes de IQT* ✅\\n\\n📍 Pode informar *modelo, marca da RM* e o que está buscando?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG MANUTENÇÃO POP-UP\\n🔹Nome: {{ $('Create a person5').item.json.name }}\\n🔹Telefone: {{ $('Create a person5').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person5').item.json.email[0].value }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3168,
          640
        ],
        "id": "acbb52d5-db2a-4784-af9d-325f8fbb1697",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
                "name": "dp_id",
                "value": "1668",
                "type": "string"
              },
              {
                "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
                "name": "form",
                "value": "Reparo de bobina",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2992,
          640
        ],
        "id": "8d8eef9f-eadc-43de-89ec-eab7e485788d",
        "name": "Edit Fields6"
      },
      {
        "parameters": {
          "sendTo": "contato@medicalspin.com.br",
          "subject": "Novo Lead Interessado em Manutenção- POP-UP",
          "emailType": "text",
          "message": "=Nome: {{ $('Webhook5').item.json.body.Nome }}\nEmail: {{ $('Webhook5').item.json.body.Email }}\nTelefone: {{ $('Webhook5').item.json.body.WhatsApp }}\nClínica: {{ $('Create an organization2').item.json.name }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          2464,
          640
        ],
        "id": "98842266-748a-4f40-9f49-6fa594affbfa",
        "name": "Send a message2",
        "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
        "credentials": {
          "gmailOAuth2": {
            "id": "KvJgpEKJ3c13wnGv",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
                "name": "name",
                "value": "={{ $('Create a person5').item.json.first_name }}",
                "type": "string"
              },
              {
                "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
                "name": "email",
                "value": "={{ $('Create a person5').item.json.email[0].value }}",
                "type": "string"
              },
              {
                "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
                "name": "phone",
                "value": "={{ $('Create a person5').item.json.phone[0].value }}",
                "type": "string"
              },
              {
                "id": "937af5e8-81b8-40cf-b352-8f2cbb1b9095",
                "name": "org",
                "value": "={{ $('Create an organization2').item.json.name }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2640,
          640
        ],
        "id": "1885e069-fd77-474f-a03b-e0ef69fe68a7",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields3').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2816,
          640
        ],
        "id": "9bdd3c40-014c-45b2-88c0-aa2621547b37",
        "name": "Code in JavaScript2"
      },
      {
        "parameters": {
          "resource": "organization",
          "name": "={{ $json.body[\"Clínica\"] }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          1584,
          640
        ],
        "id": "581ba313-360e-4819-bccd-a0511f227b0e",
        "name": "Create an organization2",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c530bcc4-b650-41bf-8425-16ffbfec6a4c",
                "leftValue": "={{ $json.body['Page URL'] }}",
                "rightValue": "https://manutencao.medicalspin.com.br",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1408,
          496
        ],
        "id": "a5ef4904-8572-492c-b402-4544a2f41d0a",
        "name": "If1"
      },
      {
        "parameters": {
          "resource": "person",
          "name": "={{ $('Webhook5').item.json.body.Nome }}",
          "additionalFields": {
            "email": [
              "={{ $('Webhook5').item.json.body.Email }}"
            ],
            "org_id": "={{ $json.id }}",
            "phone": [
              "={{ $('If1').item.json.body.WhatsApp }}"
            ]
          }
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          1760,
          480
        ],
        "id": "406f6cc8-be6b-4f10-a01f-8a24ac837586",
        "name": "Create a person7",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "lead",
          "title": "={{ $json.name }}",
          "associateWith": "person",
          "person_id": "={{ $json.id }}",
          "additionalFields": {
            "organization_id": "={{ $('Create an organization3').item.json.id }}"
          }
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          1936,
          480
        ],
        "id": "407ae157-a0de-4154-bde1-89f3e96187e6",
        "name": "Create a lead7",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "title": "={{ $json.title }}",
          "associateWith": "person",
          "person_id": "={{ $('Create a person7').item.json.id }}",
          "additionalFields": {
            "customProperties": {
              "property": [
                {
                  "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                  "value": "Site"
                },
                {
                  "name": "26246539655446743bf780a9ada870d71bacb1a0",
                  "value": "Inbound"
                },
                {
                  "name": "3c1b0e8b2081fdbc27acffe179a4c704662362f5",
                  "value": "Camila"
                }
              ]
            },
            "org_id": "={{ $('Create an organization3').item.json.id }}",
            "stage_id": 17
          }
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          2112,
          480
        ],
        "id": "01d3543b-ba18-4b21-a480-03206145a5c2",
        "name": "Create a deal7",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "note",
          "content": "=🚀LEAD SITE PG MANUTENÇÃO POP-UP - ANÚNCIO DO GOOGLE ADS\n\n🔹Nome: {{ $('Create a person7').item.json.name }}\n🔹Telefone: {{ $('Create a person7').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person7').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization3').item.json.name }}",
          "additionalFields": {
            "deal_id": "={{ $json.id }}",
            "org_id": "={{ $('Create an organization3').item.json.id }}"
          }
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          2288,
          480
        ],
        "id": "618ae4c6-3790-40e8-800b-a573f42c454f",
        "name": "Create a note7",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript4').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields9').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* ⚡\\n🔧 Um especialista já foi avisado!\\n\\n🧪 *Em nosso lab certificado*, restauramos bobinas condenadas com *100% de sucesso nos testes de IQT* ✅\\n\\n📍 Pode informar *modelo, marca da RM* e o que está buscando?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG MANUTENÇÃO POP-UP - ANÚNCIO DO GOOGLE ADS\\n🔹Nome: {{ $('Create a person7').item.json.name }}\\n🔹Telefone: {{ $('Create a person7').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person7').item.json.email[0].value }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3168,
          480
        ],
        "id": "a5ebb468-3756-45d4-b6e1-f9b58d76b970",
        "name": "HTTP Request3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
                "name": "dp_id",
                "value": "1668",
                "type": "string"
              },
              {
                "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
                "name": "form",
                "value": "Reparo de bobina",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2992,
          480
        ],
        "id": "b3295b2c-6cce-4485-9852-82d3f91af0ed",
        "name": "Edit Fields7"
      },
      {
        "parameters": {
          "sendTo": "contato@medicalspin.com.br",
          "subject": "Novo Lead Interessado em Manutenção - POP-UP - Google ADS",
          "emailType": "text",
          "message": "=Nome: {{ $('Webhook5').item.json.body.Nome }}\nEmail: {{ $('Webhook5').item.json.body.Email }}\nTelefone: {{ $('Webhook5').item.json.body.WhatsApp }}\nClínica: {{ $('Create an organization3').item.json.name }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          2464,
          480
        ],
        "id": "177b6d51-472b-49af-acf5-2ad933c139ed",
        "name": "Send a message4",
        "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
        "credentials": {
          "gmailOAuth2": {
            "id": "KvJgpEKJ3c13wnGv",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
                "name": "name",
                "value": "={{ $('Create a person7').item.json.first_name }}",
                "type": "string"
              },
              {
                "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
                "name": "email",
                "value": "={{ $('Create a person7').item.json.email[0].value }}",
                "type": "string"
              },
              {
                "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
                "name": "phone",
                "value": "={{ $('Create a person7').item.json.phone[0].value }}",
                "type": "string"
              },
              {
                "id": "6e246d30-a02f-43a9-9efc-2301b8b580b2",
                "name": "org",
                "value": "={{ $('Create an organization3').item.json.name }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2640,
          480
        ],
        "id": "660c280f-e97c-4ece-ba48-e3eacbbe5a98",
        "name": "Edit Fields9"
      },
      {
        "parameters": {
          "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields9').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2816,
          480
        ],
        "id": "9ef4048f-c01e-40ed-bae8-230707f2674c",
        "name": "Code in JavaScript4"
      },
      {
        "parameters": {
          "resource": "organization",
          "name": "={{ $json.body[\"Clínica\"] }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          1584,
          480
        ],
        "id": "ebb74193-7038-46cd-9054-d062477d0e77",
        "name": "Create an organization3",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8",
            "mode": "list",
            "cachedResultName": "PLANILHA 2025 SOLARO - LEADS INBOUND",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 139886296,
            "mode": "list",
            "cachedResultName": "GoogleAds",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit#gid=139886296"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "E-mail": "={{ $('Edit Fields9').item.json.email }}",
              "Telefone ": "={{ $('Code in JavaScript4').item.json.phone }}",
              "Nome": "={{ $('Edit Fields9').item.json.name }}",
              "Empresa": "={{ $('Edit Fields9').item.json.org }}",
              "Tipo de Serviço": "=Google ADS PG MANUTENÇÃO POP-UP",
              "Data do Cadastro": "={{ $now.format('dd-LL-yyyy T') }}"
            },
            "matchingColumns": [
              "ID"
            ],
            "schema": [
              {
                "id": "Contato",
                "displayName": "Contato",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Data do Cadastro",
                "displayName": "Data do Cadastro",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Tipo de Serviço",
                "displayName": "Tipo de Serviço",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Empresa",
                "displayName": "Empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Nome",
                "displayName": "Nome",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Telefone ",
                "displayName": "Telefone ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "E-mail",
                "displayName": "E-mail",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Observações",
                "displayName": "Observações",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Pipedrive",
                "displayName": "Pipedrive",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Planilha",
                "displayName": "Planilha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          3584,
          320
        ],
        "id": "45ac8326-5796-4737-8980-8dad5b42e162",
        "name": "SUCESSO",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "2DSmp4SarxDNx6pV",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
            "mode": "list",
            "cachedResultName": "Leads Medical Spin",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1978480406,
            "mode": "list",
            "cachedResultName": "SITE",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "NOME": "={{ $('Edit Fields3').item.json.name }}",
              "EMAIL": "={{ $('Edit Fields3').item.json.email }}",
              "TELEFONE": "={{ $('Code in JavaScript2').item.json.phone }}",
              "DATA": "={{$now.format('dd-LL-yyyy T')}}"
            },
            "matchingColumns": [
              "ID"
            ],
            "schema": [
              {
                "id": "NOME",
                "displayName": "NOME",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "EMAIL",
                "displayName": "EMAIL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TELEFONE",
                "displayName": "TELEFONE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "CLÍNICA",
                "displayName": "CLÍNICA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "DATA",
                "displayName": "DATA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "OBSERVAÇÕES",
                "displayName": "OBSERVAÇÕES",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          3584,
          608
        ],
        "id": "476e06c5-5c8d-479f-a5eb-07a1f2455d10",
        "name": "SUCESSO1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "2DSmp4SarxDNx6pV",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8",
            "mode": "list",
            "cachedResultName": "PLANILHA 2025 SOLARO - LEADS INBOUND",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 139886296,
            "mode": "list",
            "cachedResultName": "GoogleAds",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit#gid=139886296"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "E-mail": "={{ $('Edit Fields9').item.json.email }}",
              "Telefone ": "={{ $('Code in JavaScript4').item.json.phone }}",
              "Nome": "={{ $('Edit Fields9').item.json.name }}",
              "Empresa": "={{ $('Edit Fields9').item.json.org }}",
              "Tipo de Serviço": "=Google ADS PG MANUTENÇÃO POP-UP",
              "Data do Cadastro": "={{ $now.format('dd-LL-yyyy T') }}",
              "Observações": "Forneceu um contato sem WhatsApp"
            },
            "matchingColumns": [
              "ID"
            ],
            "schema": [
              {
                "id": "Contato",
                "displayName": "Contato",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Data do Cadastro",
                "displayName": "Data do Cadastro",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Tipo de Serviço",
                "displayName": "Tipo de Serviço",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Empresa",
                "displayName": "Empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Nome",
                "displayName": "Nome",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Telefone ",
                "displayName": "Telefone ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "E-mail",
                "displayName": "E-mail",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Observações",
                "displayName": "Observações",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Pipedrive",
                "displayName": "Pipedrive",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Planilha",
                "displayName": "Planilha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          3776,
          480
        ],
        "id": "3989524c-fc8c-4524-bff3-fc43a28c3a3a",
        "name": "ERRO",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "2DSmp4SarxDNx6pV",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
            "mode": "list",
            "cachedResultName": "Leads Medical Spin",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1978480406,
            "mode": "list",
            "cachedResultName": "SITE",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "NOME": "={{ $('Edit Fields3').item.json.name }}",
              "EMAIL": "={{ $('Edit Fields3').item.json.email }}",
              "TELEFONE": "={{ $('Code in JavaScript2').item.json.phone }}",
              "DATA": "={{$now.format('dd-LL-yyyy T')}}",
              "OBSERVAÇÕES": "Forneceu um contato sem WhatsApp"
            },
            "matchingColumns": [
              "ID"
            ],
            "schema": [
              {
                "id": "NOME",
                "displayName": "NOME",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "EMAIL",
                "displayName": "EMAIL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TELEFONE",
                "displayName": "TELEFONE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "CLÍNICA",
                "displayName": "CLÍNICA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "DATA",
                "displayName": "DATA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "OBSERVAÇÕES",
                "displayName": "OBSERVAÇÕES",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          3776,
          752
        ],
        "id": "8ff5d622-4cbf-4878-bc4d-333b200735bd",
        "name": "ERRO1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "2DSmp4SarxDNx6pV",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "902b0a95-c3a9-441d-a179-45bed61ad9c3",
                "leftValue": "={{ /\\d/.test($json.body['Clínica']) }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1232,
          496
        ],
        "id": "efd3b873-055c-4568-94b6-3f2a1de14e1c",
        "name": "If3"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1408,
          640
        ],
        "id": "71a53819-a580-4060-9ef1-b25765a14489",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "jsCode": "// Remove duplicatas com base no campo 'resultado'\nconst vistos = new Set();\nconst unicos = [];\n\nfor (const item of items) {\n  if (!vistos.has(item.json.resultado)) {\n    vistos.add(item.json.resultado);\n    unicos.push(item);\n  }\n}\n\nreturn unicos;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3584,
          480
        ],
        "id": "1eaa322b-710a-439d-a5ec-39f37817c388",
        "name": "Code in JavaScript5"
      },
      {
        "parameters": {
          "jsCode": "// Remove duplicatas com base no campo 'resultado'\nconst vistos = new Set();\nconst unicos = [];\n\nfor (const item of items) {\n  if (!vistos.has(item.json.resultado)) {\n    vistos.add(item.json.resultado);\n    unicos.push(item);\n  }\n}\n\nreturn unicos;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3584,
          752
        ],
        "id": "3af39e2d-d667-4a8b-ac7d-c439cee27d99",
        "name": "Code in JavaScript6"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "34238324-b70c-4d50-9e30-f84b1dc0dea7",
                "leftValue": "={{ $json.resultado }}",
                "rightValue": "Iniciando conversa",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "728cb7bb-230f-4391-93e3-78ba55b5daae",
                "leftValue": "={{ $json.resultado }}",
                "rightValue": "Ja possui conversa ativa",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3360,
          480
        ],
        "id": "33954888-a5fc-432e-9917-a2ebd1e11baa",
        "name": "If18"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "34238324-b70c-4d50-9e30-f84b1dc0dea7",
                "leftValue": "={{ $json.resultado }}",
                "rightValue": "Iniciando conversa",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "728cb7bb-230f-4391-93e3-78ba55b5daae",
                "leftValue": "={{ $json.resultado }}",
                "rightValue": "Ja possui conversa ativa",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3360,
          640
        ],
        "id": "0c105457-393c-4cbf-9fca-69600e302121",
        "name": "If19"
      },
      {
        "parameters": {
          "content": "## Página de Manutenção",
          "height": 752,
          "width": 2960,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1024,
          224
        ],
        "id": "6172182a-1abb-49d4-b74f-7807252730a3",
        "name": "Sticky Note6"
      }
    ],
    "connections": {
      "Webhook5": {
        "main": [
          [
            {
              "node": "If3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a person5": {
        "main": [
          [
            {
              "node": "Create a lead5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a lead5": {
        "main": [
          [
            {
              "node": "Create a deal5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a deal5": {
        "main": [
          [
            {
              "node": "Create a note5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a note5": {
        "main": [
          [
            {
              "node": "Send a message2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "If19",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields6": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message2": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Code in JavaScript2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript2": {
        "main": [
          [
            {
              "node": "Edit Fields6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create an organization2": {
        "main": [
          [
            {
              "node": "Create a person5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Create an organization3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create an organization2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a person7": {
        "main": [
          [
            {
              "node": "Create a lead7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a lead7": {
        "main": [
          [
            {
              "node": "Create a deal7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a deal7": {
        "main": [
          [
            {
              "node": "Create a note7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a note7": {
        "main": [
          [
            {
              "node": "Send a message4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request3": {
        "main": [
          [
            {
              "node": "If18",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields7": {
        "main": [
          [
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message4": {
        "main": [
          [
            {
              "node": "Edit Fields9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields9": {
        "main": [
          [
            {
              "node": "Code in JavaScript4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript4": {
        "main": [
          [
            {
              "node": "Edit Fields7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create an organization3": {
        "main": [
          [
            {
              "node": "Create a person7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If3": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript5": {
        "main": [
          [
            {
              "node": "ERRO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript6": {
        "main": [
          [
            {
              "node": "ERRO1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If18": {
        "main": [
          [
            {
              "node": "SUCESSO",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If19": {
        "main": [
          [
            {
              "node": "SUCESSO1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Automações  Medical Spin",
    "name": null,
    "description": null
  },
  "tags": []
}