Backup 19-03-2026/Fluxo erros Automações.json
{
  "updatedAt": "2026-03-02T13:53:37.968Z",
  "createdAt": "2025-11-17T14:09:10.373Z",
  "id": "Cw4BKEAZCX2tPyvL",
  "name": "Fluxo erros Automações",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d73e4ad8-ba2d-4949-9e95-e3c26d813269",
      "name": "Error Trigger",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MedicalSpin",
        "remoteJid": "5579999801810",
        "messageText": "=🧩 EXECUÇÃO COM ERRO\n\n🆔 ID: {{ $json.execution.id }}\n🔗 URL: {{ $json.execution.url.replace('http://localhost:5678', 'https://n8n.medicalspin.com.br').replace(/\\/executions\\/\\d+$/, '') }}\n\n❌ ERRO: {{ $json.execution.error.name }}\n📦 TIPO: {{ $json.execution.error.node.type }}\n💬 MSG: {{ $json.execution.error.message }}\n\n⚙️ FLUXO: {{ $json.workflow.name }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        400,
        96
      ],
      "id": "219aff39-01ef-4bcb-89c2-0e726b6e9a86",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "79qcaif6AQLNsa1x",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://medicalspin.atlassian.net/rest/api/3/issue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic ZGVzZW52bWVkaWNhbHNwaW5AZ21haWwuY29tOkFUQVRUM3hGZkdGMHU2b0VCbDlTcHdsNGFPYmo3 OXIzc3F0b1hxWkxQOUp5OWJiWlFOQ29seEtBX1FxLXNHb2lLdXFPS1lMTWJqT2swUE45QldNSS02 ZlhkLXJuTlhmRERHZmt1SzU4X0VwazQyVXZ3VjN1YUJFdC1xeFE3UXRaWWZuMEl5cUZBbEZqRU05 OWFLbk5JWVIzQVZNZ2xSZHVHallIY2ZNV2ZzNXBDdXBPamh6N25oYz0zQTk5QUE2NQ=="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"project\": {\n      \"key\": \"MN\"\n    },\n    \"summary\": \"Execução com erro no fluxo - {{ $('Error Trigger').item.json.workflow.name }}\",\n    \"description\": {\n      \"type\": \"doc\",\n      \"version\": 1,\n      \"content\": [\n        {\n          \"type\": \"paragraph\",\n          \"content\": [\n            {\"type\": \"text\", \"text\": \"ID: {{ $('Error Trigger').item.json.execution.id }}\"},\n            {\"type\": \"text\", \"text\": \"\\nURL: {{ $('Error Trigger').item.json.execution.url.replace('http://localhost:5678', 'https://n8n.medicalspin.com.br').replace(/\\/executions\\/\\d+$/, '') }}\"},\n            {\"type\": \"text\", \"text\": \"\\nERRO: {{ $('Error Trigger').item.json.execution.error.name }}\"},\n            {\"type\": \"text\", \"text\": \"\\nTIPO: {{ $('Error Trigger').item.json.execution.error.node.type }}\"},\n            {\"type\": \"text\", \"text\": \"\\nMSG: {{ $('Error Trigger').item.json.execution.error.message }}\"},\n            {\"type\": \"text\", \"text\": \"\\nFLUXO: {{ $('Error Trigger').item.json.workflow.name }}\"}\n          ]\n        }\n      ]\n    },\n    \"issuetype\": {\n      \"name\": \"Task\"\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        96
      ],
      "id": "3cd5484d-2117-4d9c-909d-1e7afee35a0b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "92b161a2-535a-44d6-832d-cd9f0457aca7",
              "leftValue": "={{ $json.workflow.name }}",
              "rightValue": "PIPEDRIVE INBOUND/OUTBOUND",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        0
      ],
      "id": "41bb6f91-80ed-464d-93cb-3a47bc5bbe13",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw",
          "mode": "list",
          "cachedResultName": "BANCO DE DADOS INBOUND",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 320228705,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw/edit#gid=320228705"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ERRO": "={{ $json.execution.error.message }}",
            "NODE": "={{ $json.execution.error.node.name }}",
            "DATA/HORA": "={{$now.format('dd/LL/yyyy T')}}"
          },
          "matchingColumns": [
            "ERRO"
          ],
          "schema": [
            {
              "id": "ERRO",
              "displayName": "ERRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NODE",
              "displayName": "NODE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA/HORA",
              "displayName": "DATA/HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        -80
      ],
      "id": "3086b8e4-ceb3-45a4-a9ed-35e9bfea4caa",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2DSmp4SarxDNx6pV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MedicalSpin",
        "remoteJid": "5579999801810",
        "messageText": "=🧩 EXECUÇÃO COM ERRO\n\n🆔 ID: {{ $('If').item.json.execution.id }}\n🔗 URL: {{ $('If').item.json.execution.url }}\n\n❌ ERRO: {{ $('If').item.json.execution.error.name }}\n📦 TIPO: {{ $('If').item.json.execution.error.node.type }}\n💬 MSG: {{ $('If').item.json.execution.error.message }}\n\n⚙️ FLUXO: {{ $('If').item.json.workflow.name }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        576,
        -80
      ],
      "id": "805c3401-e4b9-4562-8f2d-3b793c5d56a3",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "79qcaif6AQLNsa1x",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://medicalspin.atlassian.net/rest/api/3/issue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic ZGVzZW52bWVkaWNhbHNwaW5AZ21haWwuY29tOkFUQVRUM3hGZkdGMHU2b0VCbDlTcHdsNGFPYmo3 OXIzc3F0b1hxWkxQOUp5OWJiWlFOQ29seEtBX1FxLXNHb2lLdXFPS1lMTWJqT2swUE45QldNSS02 ZlhkLXJuTlhmRERHZmt1SzU4X0VwazQyVXZ3VjN1YUJFdC1xeFE3UXRaWWZuMEl5cUZBbEZqRU05 OWFLbk5JWVIzQVZNZ2xSZHVHallIY2ZNV2ZzNXBDdXBPamh6N25oYz0zQTk5QUE2NQ=="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"project\": {\n      \"key\": \"MN\"\n    },\n    \"summary\": \"Execução com erro no fluxo - {{ $('Error Trigger').item.json.workflow.name }}\",\n    \"description\": {\n      \"type\": \"doc\",\n      \"version\": 1,\n      \"content\": [\n        {\n          \"type\": \"paragraph\",\n          \"content\": [\n            {\"type\": \"text\", \"text\": \"ID: {{ $('Error Trigger').item.json.execution.id }}\"},\n            {\"type\": \"text\", \"text\": \"\\nURL: {{ $('Error Trigger').item.json.execution.url.replace('http://localhost:5678', 'https://n8n.medicalspin.com.br').replace(/\\/executions\\/\\d+$/, '') }}\"},\n            {\"type\": \"text\", \"text\": \"\\nERRO: {{ $('Error Trigger').item.json.execution.error.name }}\"},\n            {\"type\": \"text\", \"text\": \"\\nTIPO: {{ $('Error Trigger').item.json.execution.error.node.type }}\"},\n            {\"type\": \"text\", \"text\": \"\\nMSG: {{ $('Error Trigger').item.json.execution.error.message }}\"},\n            {\"type\": \"text\", \"text\": \"\\nFLUXO: {{ $('Error Trigger').item.json.workflow.name }}\"}\n          ]\n        }\n      ]\n    },\n    \"issuetype\": {\n      \"name\": \"Task\"\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        -80
      ],
      "id": "5e48adba-6f11-4c07-8c30-430bac63685e",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": "69001",
            "url": "https://n8n-www4kggggc4c8k8ow4w8g4g0.95.217.164.173.sslip.io/workflow/54jxOH41sbsU0cF3/executions/69001",
            "error": {
              "level": "warning",
              "tags": {},
              "description": "Refresh the columns list in the 'Column to Match On' parameter. Updated columns:  Cadência [Phillips] ou [Outras Marcas[ ->  Cadência [Phillips] ou [Outras Marcas], Resultado da Cadência de contatos] -> Resultado da Cadência de contatos",
              "timestamp": 1772458469363,
              "context": {},
              "functionality": "regular",
              "name": "NodeOperationError",
              "node": {
                "parameters": {
                  "authentication": "oAuth2",
                  "resource": "sheet",
                  "operation": "appendOrUpdate",
                  "documentId": {
                    "__rl": true,
                    "value": "1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM",
                    "mode": "list",
                    "cachedResultName": "BANCO DE DADOS OUTBOUND CNES2",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM/edit?usp=drivesdk"
                  },
                  "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "LEADS PIPEDRIVE",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFvOc8SaopVMZsfN5AP_dpIF2xA6y1zgrxNdjkv5GWM/edit#gid=0"
                  },
                  "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                      "CNPJ": "={{ $json.CNPJ }}",
                      "UF": "={{ $json.UF }}",
                      "EMPREENDIMENTO": "={{ $json.Empreendimento }}",
                      "ENDEREÇO": "={{ $json[\"Endereço\"] }}",
                      "SITE": "={{ $json.Site }}",
                      "E-MAIL": "={{ $json[\"E-mail\"] }}",
                      "Data de criação do negócio": "={{ DateTime.fromFormat($json.dataNegocio, 'yyyy-MM-dd HH:mm:ss').toFormat('dd/MM/yyyy') }}",
                      "Cadência de e-mails inicial": "={{ $json[\"Cadência de e-mails inicial\"] }}",
                      "Temperatura do Lead": "={{ $json.temperaturaLead }}",
                      "Direcionamento": "={{ $json.SDRDirecionamento }}",
                      "Objetivo da \"Lig. filtragem de dados\" concluído (Marca de RM e nome do responsável) ": "={{ JSON.parse($json.SDRObjetivodaLigfiltragemdedados).join(\"\\n\") }}",
                      "RAZÃO SOCIAL": "={{ $json[\"Razão social\"] }}",
                      " Cadência [Phillips] ou [Outras Marcas[": "={{ $json['Cadência de contato Phillips ou Outras Marcas'] }}",
                      "Resultado da Cadência de contatos]": "={{ $json['Resultado da cadência de contatos'] }}"
                    },
                    "matchingColumns": [
                      "CNPJ"
                    ],
                    "schema": [
                      {
                        "id": "RAZÃO SOCIAL",
                        "displayName": "RAZÃO SOCIAL",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      },
                      {
                        "id": "CNPJ",
                        "displayName": "CNPJ",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      },
                      {
                        "id": "ENDEREÇO",
                        "displayName": "ENDEREÇO",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      },
                      {
                        "id": "UF",
                        "displayName": "UF",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true
                      },
                      {
                        "id": "EMPREENDIMENTO",
                        "displayName": "EMPREENDIMENTO",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      },
                      {
                        "id": "SITE",
                        "displayName": "SITE",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      },
                      {
                        "id": "E-MAIL",
                        "displayName": "E-MAIL",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      },
                      {
                        "id": "Data da verificação de lista",
                        "displayName": "Data da verificação de lista",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": true
                      },
                      {
                        "id": "Responsável pela Verificação de lista",
                        "displayName": "Responsável pela Verificação de lista",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": true
                      },
                      {
                        "id": "Destino",
                        "displayName": "Destino",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": true
                      },
                      {
                        "id": "CAMPANHA",
                        "displayName": "CAMPANHA",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": true
                      },
                      {
                        "id": "Data de criação do negócio",
                        "displayName": "Data de criação do negócio",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      },
                      {
                        "id": "Cadência de e-mails inicial",
                        "displayName": "Cadência de e-mails inicial",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      },
                      {
                        "id": "Data da Investigação Web (Organização)",
                        "displayName": "Data da Investigação Web (Organização)",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": true
                      },
                      {
                        "id": "SDR Responsável pela Investigação",
                        "displayName": "SDR Responsável pela Investigação",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": true
                      },
                      {
                        "id": "Direcionamento",
                        "displayName": "Direcionamento",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      },
                      {
                        "id": "Data da \"Ligação contato inicial\"",
                        "displayName": "Data da \"Ligação contato inicial\"",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": true
                      },
                      {
                        "id": "Objetivo da \"Lig. filtragem de dados\" concluído (Marca de RM e nome do responsável) ",
                        "displayName": "Objetivo da \"Lig. filtragem de dados\" concluído (Marca de RM e nome do responsável) ",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      },
                      {
                        "id": " Cadência [Phillips] ou [Outras Marcas[",
                        "displayName": " Cadência [Phillips] ou [Outras Marcas[",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      },
                      {
                        "id": "Resultado da Cadência de contatos]",
                        "displayName": "Resultado da Cadência de contatos]",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      },
                      {
                        "id": "SDR Responsável pela cadência IB",
                        "displayName": "SDR Responsável pela cadência IB",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": true
                      },
                      {
                        "id": "Ligação Comercial",
                        "displayName": "Ligação Comercial",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": true
                      },
                      {
                        "id": "Reunião comercial OB",
                        "displayName": "Reunião comercial OB",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": true
                      },
                      {
                        "id": "Temperatura do Lead",
                        "displayName": "Temperatura do Lead",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                  },
                  "options": {}
                },
                "type": "n8n-nodes-base.googleSheets",
                "typeVersion": 4.7,
                "position": [
                  1920,
                  -80
                ],
                "id": "4a20dca4-a4df-4082-876f-27632e7c3390",
                "name": "ATUALIZAR DADOS OUTBOUND1",
                "retryOnFail": true,
                "credentials": {
                  "googleSheetsOAuth2Api": {
                    "id": "2DSmp4SarxDNx6pV",
                    "name": "Google Sheets account"
                  }
                }
              },
              "messages": [],
              "message": "Column names were updated after the node's setup",
              "stack": "NodeOperationError: Column names were updated after the node's setup\n    at checkForSchemaChanges (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Google/Sheet/v2/helpers/GoogleSheets.utils.ts:365:9)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Google/Sheet/v2/actions/sheet/appendOrUpdate.operation.ts:320:24)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Google/Sheet/v2/actions/router.ts:64:14)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Google/Sheet/v2/GoogleSheetsV2.node.ts:30:10)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1659:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2302:11"
            },
            "lastNodeExecuted": "ATUALIZAR DADOS OUTBOUND1",
            "mode": "webhook",
            "executionContext": {
              "version": 1,
              "establishedAt": 1772458463202,
              "source": "webhook",
              "triggerNode": {
                "name": "Pipedrive Trigger",
                "type": "n8n-nodes-base.pipedriveTrigger"
              }
            }
          },
          "workflow": {
            "id": "54jxOH41sbsU0cF3",
            "name": "PIPEDRIVE INBOUND/OUTBOUND"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "f13e3d69-be0b-446d-93c9-8f575e466118",
  "activeVersionId": "f13e3d69-be0b-446d-93c9-8f575e466118",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-17T14:09:10.373Z",
      "createdAt": "2025-11-17T14:09:10.373Z",
      "role": "workflow:owner",
      "workflowId": "Cw4BKEAZCX2tPyvL",
      "projectId": "XZrA9Oiu8K5e6BgC"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-02T13:53:40.756Z",
    "createdAt": "2026-03-02T13:53:37.970Z",
    "versionId": "f13e3d69-be0b-446d-93c9-8f575e466118",
    "workflowId": "Cw4BKEAZCX2tPyvL",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "d73e4ad8-ba2d-4949-9e95-e3c26d813269",
        "name": "Error Trigger",
        "notesInFlow": false,
        "alwaysOutputData": false,
        "executeOnce": false,
        "retryOnFail": false
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "MedicalSpin",
          "remoteJid": "5579999801810",
          "messageText": "=🧩 EXECUÇÃO COM ERRO\n\n🆔 ID: {{ $json.execution.id }}\n🔗 URL: {{ $json.execution.url.replace('http://localhost:5678', 'https://n8n.medicalspin.com.br').replace(/\\/executions\\/\\d+$/, '') }}\n\n❌ ERRO: {{ $json.execution.error.name }}\n📦 TIPO: {{ $json.execution.error.node.type }}\n💬 MSG: {{ $json.execution.error.message }}\n\n⚙️ FLUXO: {{ $json.workflow.name }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          400,
          96
        ],
        "id": "219aff39-01ef-4bcb-89c2-0e726b6e9a86",
        "name": "Enviar texto",
        "credentials": {
          "evolutionApi": {
            "id": "79qcaif6AQLNsa1x",
            "name": "Evolution account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://medicalspin.atlassian.net/rest/api/3/issue",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Basic ZGVzZW52bWVkaWNhbHNwaW5AZ21haWwuY29tOkFUQVRUM3hGZkdGMHU2b0VCbDlTcHdsNGFPYmo3 OXIzc3F0b1hxWkxQOUp5OWJiWlFOQ29seEtBX1FxLXNHb2lLdXFPS1lMTWJqT2swUE45QldNSS02 ZlhkLXJuTlhmRERHZmt1SzU4X0VwazQyVXZ3VjN1YUJFdC1xeFE3UXRaWWZuMEl5cUZBbEZqRU05 OWFLbk5JWVIzQVZNZ2xSZHVHallIY2ZNV2ZzNXBDdXBPamh6N25oYz0zQTk5QUE2NQ=="
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"fields\": {\n    \"project\": {\n      \"key\": \"MN\"\n    },\n    \"summary\": \"Execução com erro no fluxo - {{ $('Error Trigger').item.json.workflow.name }}\",\n    \"description\": {\n      \"type\": \"doc\",\n      \"version\": 1,\n      \"content\": [\n        {\n          \"type\": \"paragraph\",\n          \"content\": [\n            {\"type\": \"text\", \"text\": \"ID: {{ $('Error Trigger').item.json.execution.id }}\"},\n            {\"type\": \"text\", \"text\": \"\\nURL: {{ $('Error Trigger').item.json.execution.url.replace('http://localhost:5678', 'https://n8n.medicalspin.com.br').replace(/\\/executions\\/\\d+$/, '') }}\"},\n            {\"type\": \"text\", \"text\": \"\\nERRO: {{ $('Error Trigger').item.json.execution.error.name }}\"},\n            {\"type\": \"text\", \"text\": \"\\nTIPO: {{ $('Error Trigger').item.json.execution.error.node.type }}\"},\n            {\"type\": \"text\", \"text\": \"\\nMSG: {{ $('Error Trigger').item.json.execution.error.message }}\"},\n            {\"type\": \"text\", \"text\": \"\\nFLUXO: {{ $('Error Trigger').item.json.workflow.name }}\"}\n          ]\n        }\n      ]\n    },\n    \"issuetype\": {\n      \"name\": \"Task\"\n    }\n  }\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          576,
          96
        ],
        "id": "3cd5484d-2117-4d9c-909d-1e7afee35a0b",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "92b161a2-535a-44d6-832d-cd9f0457aca7",
                "leftValue": "={{ $json.workflow.name }}",
                "rightValue": "PIPEDRIVE INBOUND/OUTBOUND",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          160,
          0
        ],
        "id": "41bb6f91-80ed-464d-93cb-3a47bc5bbe13",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw",
            "mode": "list",
            "cachedResultName": "BANCO DE DADOS INBOUND",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 320228705,
            "mode": "list",
            "cachedResultName": "Logs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw/edit#gid=320228705"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "ERRO": "={{ $json.execution.error.message }}",
              "NODE": "={{ $json.execution.error.node.name }}",
              "DATA/HORA": "={{$now.format('dd/LL/yyyy T')}}"
            },
            "matchingColumns": [
              "ERRO"
            ],
            "schema": [
              {
                "id": "ERRO",
                "displayName": "ERRO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "NODE",
                "displayName": "NODE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "DATA/HORA",
                "displayName": "DATA/HORA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          400,
          -80
        ],
        "id": "3086b8e4-ceb3-45a4-a9ed-35e9bfea4caa",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "2DSmp4SarxDNx6pV",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "MedicalSpin",
          "remoteJid": "5579999801810",
          "messageText": "=🧩 EXECUÇÃO COM ERRO\n\n🆔 ID: {{ $('If').item.json.execution.id }}\n🔗 URL: {{ $('If').item.json.execution.url }}\n\n❌ ERRO: {{ $('If').item.json.execution.error.name }}\n📦 TIPO: {{ $('If').item.json.execution.error.node.type }}\n💬 MSG: {{ $('If').item.json.execution.error.message }}\n\n⚙️ FLUXO: {{ $('If').item.json.workflow.name }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          576,
          -80
        ],
        "id": "805c3401-e4b9-4562-8f2d-3b793c5d56a3",
        "name": "Enviar texto1",
        "credentials": {
          "evolutionApi": {
            "id": "79qcaif6AQLNsa1x",
            "name": "Evolution account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://medicalspin.atlassian.net/rest/api/3/issue",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Basic ZGVzZW52bWVkaWNhbHNwaW5AZ21haWwuY29tOkFUQVRUM3hGZkdGMHU2b0VCbDlTcHdsNGFPYmo3 OXIzc3F0b1hxWkxQOUp5OWJiWlFOQ29seEtBX1FxLXNHb2lLdXFPS1lMTWJqT2swUE45QldNSS02 ZlhkLXJuTlhmRERHZmt1SzU4X0VwazQyVXZ3VjN1YUJFdC1xeFE3UXRaWWZuMEl5cUZBbEZqRU05 OWFLbk5JWVIzQVZNZ2xSZHVHallIY2ZNV2ZzNXBDdXBPamh6N25oYz0zQTk5QUE2NQ=="
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"fields\": {\n    \"project\": {\n      \"key\": \"MN\"\n    },\n    \"summary\": \"Execução com erro no fluxo - {{ $('Error Trigger').item.json.workflow.name }}\",\n    \"description\": {\n      \"type\": \"doc\",\n      \"version\": 1,\n      \"content\": [\n        {\n          \"type\": \"paragraph\",\n          \"content\": [\n            {\"type\": \"text\", \"text\": \"ID: {{ $('Error Trigger').item.json.execution.id }}\"},\n            {\"type\": \"text\", \"text\": \"\\nURL: {{ $('Error Trigger').item.json.execution.url.replace('http://localhost:5678', 'https://n8n.medicalspin.com.br').replace(/\\/executions\\/\\d+$/, '') }}\"},\n            {\"type\": \"text\", \"text\": \"\\nERRO: {{ $('Error Trigger').item.json.execution.error.name }}\"},\n            {\"type\": \"text\", \"text\": \"\\nTIPO: {{ $('Error Trigger').item.json.execution.error.node.type }}\"},\n            {\"type\": \"text\", \"text\": \"\\nMSG: {{ $('Error Trigger').item.json.execution.error.message }}\"},\n            {\"type\": \"text\", \"text\": \"\\nFLUXO: {{ $('Error Trigger').item.json.workflow.name }}\"}\n          ]\n        }\n      ]\n    },\n    \"issuetype\": {\n      \"name\": \"Task\"\n    }\n  }\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          752,
          -80
        ],
        "id": "5e48adba-6f11-4c07-8c30-430bac63685e",
        "name": "HTTP Request"
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar texto": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Enviar texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          [
            {
              "node": "Enviar texto1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar texto1": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Automações  Medical Spin",
    "name": "Version f13e3d69",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2025-11-17T14:09:04.161Z",
      "createdAt": "2025-11-17T14:09:04.161Z",
      "id": "2IpHgvBDztgEYNnL",
      "name": "errorNode"
    },
    {
      "updatedAt": "2025-11-17T14:09:04.153Z",
      "createdAt": "2025-11-17T14:09:04.153Z",
      "id": "32ehNS7DwOBedRQc",
      "name": "Sheets"
    }
  ]
}