Backup 14-05-2026/Atualizar access_token META.json
{
  "updatedAt": "2025-12-15T09:57:05.675Z",
  "createdAt": "2025-11-17T14:12:05.304Z",
  "id": "vDQ5Ln3pUAYUeKCi",
  "name": "Atualizar access_token META",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "fb365056-550b-4586-9f3c-2f212122e090",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "IBycaSsXqdACnr31",
          "mode": "list",
          "cachedResultName": "token",
          "cachedResultUrl": "/projects/XZrA9Oiu8K5e6BgC/datatables/IBycaSsXqdACnr31"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "70de02ea-9730-44d2-aa3b-07bcd9c97a9b",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v23.0/oauth/access_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "fb_exchange_token"
            },
            {
              "name": "client_id",
              "value": "1337896127719232"
            },
            {
              "name": "client_secret",
              "value": "676ea68b5b957ee52a9864941745379d"
            },
            {
              "name": "fb_exchange_token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "f2454fb5-c592-48ca-a453-f9b09f996bda",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "IBycaSsXqdACnr31",
          "mode": "list",
          "cachedResultName": "token",
          "cachedResultUrl": "/projects/XZrA9Oiu8K5e6BgC/datatables/IBycaSsXqdACnr31"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "token": "={{ $json.access_token }}"
          },
          "matchingColumns": [
            "token"
          ],
          "schema": [
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "b6c0edd6-d0fd-4a77-b6e8-df927821e33b",
      "name": "Update row(s)"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "Cw4BKEAZCX2tPyvL"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-12-15T00:00:53.017-03:00",
          "Readable date": "December 15th 2025, 12:00:53 am",
          "Readable time": "12:00:53 am",
          "Day of week": "Monday",
          "Year": "2025",
          "Month": "December",
          "Day of month": "15",
          "Hour": "00",
          "Minute": "00",
          "Second": "53",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "88ed7411-2029-4132-8aff-8294d72ef03e",
  "activeVersionId": "88ed7411-2029-4132-8aff-8294d72ef03e",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-17T14:12:05.304Z",
      "createdAt": "2025-11-17T14:12:05.304Z",
      "role": "workflow:owner",
      "workflowId": "vDQ5Ln3pUAYUeKCi",
      "projectId": "XZrA9Oiu8K5e6BgC"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-15T09:57:05.679Z",
    "createdAt": "2025-12-15T09:57:05.679Z",
    "versionId": "88ed7411-2029-4132-8aff-8294d72ef03e",
    "workflowId": "vDQ5Ln3pUAYUeKCi",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "months",
                "triggerAtDayOfMonth": 15
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "fb365056-550b-4586-9f3c-2f212122e090",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "IBycaSsXqdACnr31",
            "mode": "list",
            "cachedResultName": "token",
            "cachedResultUrl": "/projects/XZrA9Oiu8K5e6BgC/datatables/IBycaSsXqdACnr31"
          },
          "filters": {
            "conditions": [
              {
                "keyValue": "1"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          208,
          0
        ],
        "id": "70de02ea-9730-44d2-aa3b-07bcd9c97a9b",
        "name": "Get row(s)"
      },
      {
        "parameters": {
          "url": "https://graph.facebook.com/v23.0/oauth/access_token",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "grant_type",
                "value": "fb_exchange_token"
              },
              {
                "name": "client_id",
                "value": "1337896127719232"
              },
              {
                "name": "client_secret",
                "value": "676ea68b5b957ee52a9864941745379d"
              },
              {
                "name": "fb_exchange_token",
                "value": "={{ $json.token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          416,
          0
        ],
        "id": "f2454fb5-c592-48ca-a453-f9b09f996bda",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "IBycaSsXqdACnr31",
            "mode": "list",
            "cachedResultName": "token",
            "cachedResultUrl": "/projects/XZrA9Oiu8K5e6BgC/datatables/IBycaSsXqdACnr31"
          },
          "filters": {
            "conditions": [
              {
                "keyValue": "1"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "token": "={{ $json.access_token }}"
            },
            "matchingColumns": [
              "token"
            ],
            "schema": [
              {
                "id": "token",
                "displayName": "token",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          624,
          0
        ],
        "id": "b6c0edd6-d0fd-4a77-b6e8-df927821e33b",
        "name": "Update row(s)"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Update row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Automações  Medical Spin",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-11-17T14:11:29.912Z",
      "createdAt": "2025-11-17T14:11:29.912Z",
      "id": "1TwLnMKvi0k7VFNg",
      "name": "Meta ADS"
    },
    {
      "updatedAt": "2025-11-17T14:11:29.909Z",
      "createdAt": "2025-11-17T14:11:29.909Z",
      "id": "IH7MEWK4Uwzz1LV0",
      "name": "Facebook"
    },
    {
      "updatedAt": "2025-11-17T14:11:29.903Z",
      "createdAt": "2025-11-17T14:11:29.903Z",
      "id": "A1HgiGap1mb2jgxR",
      "name": "Database_n8n"
    }
  ]
}