Backup 10-04-2026/Fluxo erros Automações.json
{
  "updatedAt": "2026-03-20T11:02:54.642Z",
  "createdAt": "2025-11-17T14:09:10.373Z",
  "id": "Cw4BKEAZCX2tPyvL",
  "name": "Fluxo erros Automações",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d73e4ad8-ba2d-4949-9e95-e3c26d813269",
      "name": "Error Trigger",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MedicalSpin",
        "remoteJid": "5579999801810",
        "messageText": "=🧩 EXECUÇÃO COM ERRO\n\n🆔 ID: {{ $json.execution.id }}\n🔗 URL: {{ $json.execution.url.replace('http://localhost:5678', 'https://n8n.medicalspin.com.br').replace(/\\/executions\\/\\d+$/, '') }}\n\n❌ ERRO: {{ $json.execution.error.name }}\n📦 TIPO: {{ $json.execution.error.node.type }}\n💬 MSG: {{ $json.execution.error.message }}\n\n⚙️ FLUXO: {{ $json.workflow.name }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        400,
        96
      ],
      "id": "219aff39-01ef-4bcb-89c2-0e726b6e9a86",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "79qcaif6AQLNsa1x",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://medicalspin.atlassian.net/rest/api/3/issue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic ZGVzZW52bWVkaWNhbHNwaW5AZ21haWwuY29tOkFUQVRUM3hGZkdGMHU2b0VCbDlTcHdsNGFPYmo3 OXIzc3F0b1hxWkxQOUp5OWJiWlFOQ29seEtBX1FxLXNHb2lLdXFPS1lMTWJqT2swUE45QldNSS02 ZlhkLXJuTlhmRERHZmt1SzU4X0VwazQyVXZ3VjN1YUJFdC1xeFE3UXRaWWZuMEl5cUZBbEZqRU05 OWFLbk5JWVIzQVZNZ2xSZHVHallIY2ZNV2ZzNXBDdXBPamh6N25oYz0zQTk5QUE2NQ=="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"project\": {\n      \"key\": \"MN\"\n    },\n    \"summary\": \"Execução com erro no fluxo - {{ $('Error Trigger').item.json.workflow.name }}\",\n    \"description\": {\n      \"type\": \"doc\",\n      \"version\": 1,\n      \"content\": [\n        {\n          \"type\": \"paragraph\",\n          \"content\": [\n            {\"type\": \"text\", \"text\": \"ID: {{ $('Error Trigger').item.json.execution.id }}\"},\n            {\"type\": \"text\", \"text\": \"\\nURL: {{ $('Error Trigger').item.json.execution.url.replace('http://localhost:5678', 'https://n8n.medicalspin.com.br').replace(/\\/executions\\/\\d+$/, '') }}\"},\n            {\"type\": \"text\", \"text\": \"\\nERRO: {{ $('Error Trigger').item.json.execution.error.name }}\"},\n            {\"type\": \"text\", \"text\": \"\\nTIPO: {{ $('Error Trigger').item.json.execution.error.node.type }}\"},\n            {\"type\": \"text\", \"text\": \"\\nMSG: {{ $('Error Trigger').item.json.execution.error.message }}\"},\n            {\"type\": \"text\", \"text\": \"\\nFLUXO: {{ $('Error Trigger').item.json.workflow.name }}\"}\n          ]\n        }\n      ]\n    },\n    \"issuetype\": {\n      \"name\": \"Task\"\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        96
      ],
      "id": "3cd5484d-2117-4d9c-909d-1e7afee35a0b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "92b161a2-535a-44d6-832d-cd9f0457aca7",
              "leftValue": "={{ $json.workflow.name }}",
              "rightValue": "PIPEDRIVE INBOUND/OUTBOUND",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        0
      ],
      "id": "41bb6f91-80ed-464d-93cb-3a47bc5bbe13",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw",
          "mode": "list",
          "cachedResultName": "BANCO DE DADOS INBOUND",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 320228705,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw/edit#gid=320228705"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ERRO": "={{ $json.execution.error.message }}",
            "NODE": "={{ $json.execution.error.node.name }}",
            "DATA/HORA": "={{$now.format('dd/LL/yyyy T')}}"
          },
          "matchingColumns": [
            "ERRO"
          ],
          "schema": [
            {
              "id": "ERRO",
              "displayName": "ERRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NODE",
              "displayName": "NODE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA/HORA",
              "displayName": "DATA/HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        -80
      ],
      "id": "3086b8e4-ceb3-45a4-a9ed-35e9bfea4caa",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2DSmp4SarxDNx6pV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MedicalSpin",
        "remoteJid": "5579999801810",
        "messageText": "=🧩 EXECUÇÃO COM ERRO\n\n🆔 ID: {{ $('If').item.json.execution.id }}\n🔗 URL: {{ $('If').item.json.execution.url }}\n\n❌ ERRO: {{ $('If').item.json.execution.error.name }}\n📦 TIPO: {{ $('If').item.json.execution.error.node.type }}\n💬 MSG: {{ $('If').item.json.execution.error.message }}\n\n⚙️ FLUXO: {{ $('If').item.json.workflow.name }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        576,
        -80
      ],
      "id": "805c3401-e4b9-4562-8f2d-3b793c5d56a3",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "79qcaif6AQLNsa1x",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://medicalspin.atlassian.net/rest/api/3/issue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic ZGVzZW52bWVkaWNhbHNwaW5AZ21haWwuY29tOkFUQVRUM3hGZkdGMHU2b0VCbDlTcHdsNGFPYmo3 OXIzc3F0b1hxWkxQOUp5OWJiWlFOQ29seEtBX1FxLXNHb2lLdXFPS1lMTWJqT2swUE45QldNSS02 ZlhkLXJuTlhmRERHZmt1SzU4X0VwazQyVXZ3VjN1YUJFdC1xeFE3UXRaWWZuMEl5cUZBbEZqRU05 OWFLbk5JWVIzQVZNZ2xSZHVHallIY2ZNV2ZzNXBDdXBPamh6N25oYz0zQTk5QUE2NQ=="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"project\": {\n      \"key\": \"MN\"\n    },\n    \"summary\": \"Execução com erro no fluxo - {{ $('Error Trigger').item.json.workflow.name }}\",\n    \"description\": {\n      \"type\": \"doc\",\n      \"version\": 1,\n      \"content\": [\n        {\n          \"type\": \"paragraph\",\n          \"content\": [\n            {\"type\": \"text\", \"text\": \"ID: {{ $('Error Trigger').item.json.execution.id }}\"},\n            {\"type\": \"text\", \"text\": \"\\nURL: {{ $('Error Trigger').item.json.execution.url.replace('http://localhost:5678', 'https://n8n.medicalspin.com.br').replace(/\\/executions\\/\\d+$/, '') }}\"},\n            {\"type\": \"text\", \"text\": \"\\nERRO: {{ $('Error Trigger').item.json.execution.error.name }}\"},\n            {\"type\": \"text\", \"text\": \"\\nTIPO: {{ $('Error Trigger').item.json.execution.error.node.type }}\"},\n            {\"type\": \"text\", \"text\": \"\\nMSG: {{ $('Error Trigger').item.json.execution.error.message }}\"},\n            {\"type\": \"text\", \"text\": \"\\nFLUXO: {{ $('Error Trigger').item.json.workflow.name }}\"}\n          ]\n        }\n      ]\n    },\n    \"issuetype\": {\n      \"name\": \"Task\"\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        -80
      ],
      "id": "5e48adba-6f11-4c07-8c30-430bac63685e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mTNaDFY7XY1V5gESfBKCdgd2ZVChW2CLEGA3ix_bUPs",
          "mode": "list",
          "cachedResultName": "ErrosGeral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTNaDFY7XY1V5gESfBKCdgd2ZVChW2CLEGA3ix_bUPs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTNaDFY7XY1V5gESfBKCdgd2ZVChW2CLEGA3ix_bUPs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('If').item.json.execution.id }}",
            "URL": "={{ $('If').item.json.execution.url }}",
            "FLUXO": "={{ $('If').item.json.workflow.name }}",
            "ERRO": "={{ $('If').item.json.execution.error.name }}",
            "MSG": "={{ $('If').item.json.execution.error.message }}",
            "TIPO": "={{ $('If').item.json.execution.error.node.type }}",
            "DATA": "={{ $now.format('dd/LL/yyyy T') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ERRO",
              "displayName": "ERRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO",
              "displayName": "TIPO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MSG",
              "displayName": "MSG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FLUXO",
              "displayName": "FLUXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        96
      ],
      "id": "44d252ef-feb5-46ce-8fa5-74c78fd957a7",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2DSmp4SarxDNx6pV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mTNaDFY7XY1V5gESfBKCdgd2ZVChW2CLEGA3ix_bUPs",
          "mode": "list",
          "cachedResultName": "ErrosGeral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTNaDFY7XY1V5gESfBKCdgd2ZVChW2CLEGA3ix_bUPs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTNaDFY7XY1V5gESfBKCdgd2ZVChW2CLEGA3ix_bUPs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('If').item.json.execution.id }}",
            "URL": "={{ $('If').item.json.execution.url }}",
            "FLUXO": "={{ $('If').item.json.workflow.name }}",
            "ERRO": "={{ $('If').item.json.execution.error.name }}",
            "MSG": "={{ $('If').item.json.execution.error.message }}",
            "TIPO": "={{ $('If').item.json.execution.error.node.type }}",
            "DATA": "={{ $now.format('dd/LL/yyyy T') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ERRO",
              "displayName": "ERRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO",
              "displayName": "TIPO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MSG",
              "displayName": "MSG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FLUXO",
              "displayName": "FLUXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        -80
      ],
      "id": "5c79197c-b46e-4fe6-8e09-ae4d5be7dea8",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2DSmp4SarxDNx6pV",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": "82211",
            "url": "https://n8n-www4kggggc4c8k8ow4w8g4g0.95.217.164.173.sslip.io/workflow/dCYdJw4PoGZcfp5S/executions/82211",
            "error": {
              "level": "warning",
              "tags": {},
              "description": "The service is currently unavailable.",
              "timestamp": 1774003841240,
              "context": {},
              "functionality": "regular",
              "name": "NodeApiError",
              "node": {
                "parameters": {
                  "authentication": "oAuth2",
                  "resource": "sheet",
                  "operation": "append",
                  "documentId": {
                    "__rl": true,
                    "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
                    "mode": "list",
                    "cachedResultName": "Leads Medical Spin",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
                  },
                  "sheetName": {
                    "__rl": true,
                    "value": 1698967993,
                    "mode": "list",
                    "cachedResultName": "VoxFree",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1698967993"
                  },
                  "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                      "NOME": "={{ $('Edit Fields2').item.json.nome }}",
                      "TELEFONE": "={{ $('Edit Fields2').item.json.contato }}",
                      "DATA": "={{ $now.format('dd-LL-yyyy T') }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                      {
                        "id": "NOME",
                        "displayName": "NOME",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true
                      },
                      {
                        "id": "TELEFONE",
                        "displayName": "TELEFONE",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true
                      },
                      {
                        "id": "DATA",
                        "displayName": "DATA",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true
                      }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                  },
                  "options": {}
                },
                "type": "n8n-nodes-base.googleSheets",
                "typeVersion": 4.7,
                "position": [
                  1008,
                  144
                ],
                "id": "52f512b5-b548-432b-954f-9a03efdee3c4",
                "name": "Append row in sheet",
                "credentials": {
                  "googleSheetsOAuth2Api": {
                    "id": "2DSmp4SarxDNx6pV",
                    "name": "Google Sheets account"
                  }
                }
              },
              "messages": [
                "503 - {\"error\":{\"code\":503,\"message\":\"The service is currently unavailable.\",\"status\":\"UNAVAILABLE\"}}"
              ],
              "httpCode": "503",
              "message": "Service unavailable - try again later or consider setting this node to retry automatically (in the node settings)",
              "stack": "NodeApiError: Service unavailable - try again later or consider setting this node to retry automatically (in the node settings)\n    at ExecuteContext.apiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Google/Sheet/v2/transport/index.ts:78:9)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at GoogleSheet.spreadsheetGetSheet (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Google/Sheet/v2/helpers/GoogleSheet.ts:129:21)\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Google/Sheet/v2/actions/router.ts:43:20)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Google/Sheet/v2/GoogleSheetsV2.node.ts:30:10)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1659:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2302:11"
            },
            "lastNodeExecuted": "Append row in sheet",
            "mode": "webhook",
            "executionContext": {
              "version": 1,
              "establishedAt": 1774003774422,
              "source": "webhook",
              "triggerNode": {
                "name": "Webhook2",
                "type": "n8n-nodes-base.webhook"
              }
            }
          },
          "workflow": {
            "id": "dCYdJw4PoGZcfp5S",
            "name": "Mapeamento INSTAGRAM ADS + VOXFREE + PIPEDRIVE"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "0ee2e2c9-69d0-407c-9496-233d17cee99c",
  "activeVersionId": "0ee2e2c9-69d0-407c-9496-233d17cee99c",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-17T14:09:10.373Z",
      "createdAt": "2025-11-17T14:09:10.373Z",
      "role": "workflow:owner",
      "workflowId": "Cw4BKEAZCX2tPyvL",
      "projectId": "XZrA9Oiu8K5e6BgC"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-20T11:02:24.200Z",
    "createdAt": "2026-03-20T11:02:21.840Z",
    "versionId": "0ee2e2c9-69d0-407c-9496-233d17cee99c",
    "workflowId": "Cw4BKEAZCX2tPyvL",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "d73e4ad8-ba2d-4949-9e95-e3c26d813269",
        "name": "Error Trigger",
        "notesInFlow": false,
        "alwaysOutputData": false,
        "executeOnce": false,
        "retryOnFail": false
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "MedicalSpin",
          "remoteJid": "5579999801810",
          "messageText": "=🧩 EXECUÇÃO COM ERRO\n\n🆔 ID: {{ $json.execution.id }}\n🔗 URL: {{ $json.execution.url.replace('http://localhost:5678', 'https://n8n.medicalspin.com.br').replace(/\\/executions\\/\\d+$/, '') }}\n\n❌ ERRO: {{ $json.execution.error.name }}\n📦 TIPO: {{ $json.execution.error.node.type }}\n💬 MSG: {{ $json.execution.error.message }}\n\n⚙️ FLUXO: {{ $json.workflow.name }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          400,
          96
        ],
        "id": "219aff39-01ef-4bcb-89c2-0e726b6e9a86",
        "name": "Enviar texto",
        "credentials": {
          "evolutionApi": {
            "id": "79qcaif6AQLNsa1x",
            "name": "Evolution account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://medicalspin.atlassian.net/rest/api/3/issue",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Basic ZGVzZW52bWVkaWNhbHNwaW5AZ21haWwuY29tOkFUQVRUM3hGZkdGMHU2b0VCbDlTcHdsNGFPYmo3 OXIzc3F0b1hxWkxQOUp5OWJiWlFOQ29seEtBX1FxLXNHb2lLdXFPS1lMTWJqT2swUE45QldNSS02 ZlhkLXJuTlhmRERHZmt1SzU4X0VwazQyVXZ3VjN1YUJFdC1xeFE3UXRaWWZuMEl5cUZBbEZqRU05 OWFLbk5JWVIzQVZNZ2xSZHVHallIY2ZNV2ZzNXBDdXBPamh6N25oYz0zQTk5QUE2NQ=="
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"fields\": {\n    \"project\": {\n      \"key\": \"MN\"\n    },\n    \"summary\": \"Execução com erro no fluxo - {{ $('Error Trigger').item.json.workflow.name }}\",\n    \"description\": {\n      \"type\": \"doc\",\n      \"version\": 1,\n      \"content\": [\n        {\n          \"type\": \"paragraph\",\n          \"content\": [\n            {\"type\": \"text\", \"text\": \"ID: {{ $('Error Trigger').item.json.execution.id }}\"},\n            {\"type\": \"text\", \"text\": \"\\nURL: {{ $('Error Trigger').item.json.execution.url.replace('http://localhost:5678', 'https://n8n.medicalspin.com.br').replace(/\\/executions\\/\\d+$/, '') }}\"},\n            {\"type\": \"text\", \"text\": \"\\nERRO: {{ $('Error Trigger').item.json.execution.error.name }}\"},\n            {\"type\": \"text\", \"text\": \"\\nTIPO: {{ $('Error Trigger').item.json.execution.error.node.type }}\"},\n            {\"type\": \"text\", \"text\": \"\\nMSG: {{ $('Error Trigger').item.json.execution.error.message }}\"},\n            {\"type\": \"text\", \"text\": \"\\nFLUXO: {{ $('Error Trigger').item.json.workflow.name }}\"}\n          ]\n        }\n      ]\n    },\n    \"issuetype\": {\n      \"name\": \"Task\"\n    }\n  }\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          576,
          96
        ],
        "id": "3cd5484d-2117-4d9c-909d-1e7afee35a0b",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "92b161a2-535a-44d6-832d-cd9f0457aca7",
                "leftValue": "={{ $json.workflow.name }}",
                "rightValue": "PIPEDRIVE INBOUND/OUTBOUND",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          160,
          0
        ],
        "id": "41bb6f91-80ed-464d-93cb-3a47bc5bbe13",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw",
            "mode": "list",
            "cachedResultName": "BANCO DE DADOS INBOUND",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 320228705,
            "mode": "list",
            "cachedResultName": "Logs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw/edit#gid=320228705"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "ERRO": "={{ $json.execution.error.message }}",
              "NODE": "={{ $json.execution.error.node.name }}",
              "DATA/HORA": "={{$now.format('dd/LL/yyyy T')}}"
            },
            "matchingColumns": [
              "ERRO"
            ],
            "schema": [
              {
                "id": "ERRO",
                "displayName": "ERRO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "NODE",
                "displayName": "NODE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "DATA/HORA",
                "displayName": "DATA/HORA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          400,
          -80
        ],
        "id": "3086b8e4-ceb3-45a4-a9ed-35e9bfea4caa",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "2DSmp4SarxDNx6pV",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "MedicalSpin",
          "remoteJid": "5579999801810",
          "messageText": "=🧩 EXECUÇÃO COM ERRO\n\n🆔 ID: {{ $('If').item.json.execution.id }}\n🔗 URL: {{ $('If').item.json.execution.url }}\n\n❌ ERRO: {{ $('If').item.json.execution.error.name }}\n📦 TIPO: {{ $('If').item.json.execution.error.node.type }}\n💬 MSG: {{ $('If').item.json.execution.error.message }}\n\n⚙️ FLUXO: {{ $('If').item.json.workflow.name }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          576,
          -80
        ],
        "id": "805c3401-e4b9-4562-8f2d-3b793c5d56a3",
        "name": "Enviar texto1",
        "credentials": {
          "evolutionApi": {
            "id": "79qcaif6AQLNsa1x",
            "name": "Evolution account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://medicalspin.atlassian.net/rest/api/3/issue",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Basic ZGVzZW52bWVkaWNhbHNwaW5AZ21haWwuY29tOkFUQVRUM3hGZkdGMHU2b0VCbDlTcHdsNGFPYmo3 OXIzc3F0b1hxWkxQOUp5OWJiWlFOQ29seEtBX1FxLXNHb2lLdXFPS1lMTWJqT2swUE45QldNSS02 ZlhkLXJuTlhmRERHZmt1SzU4X0VwazQyVXZ3VjN1YUJFdC1xeFE3UXRaWWZuMEl5cUZBbEZqRU05 OWFLbk5JWVIzQVZNZ2xSZHVHallIY2ZNV2ZzNXBDdXBPamh6N25oYz0zQTk5QUE2NQ=="
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"fields\": {\n    \"project\": {\n      \"key\": \"MN\"\n    },\n    \"summary\": \"Execução com erro no fluxo - {{ $('Error Trigger').item.json.workflow.name }}\",\n    \"description\": {\n      \"type\": \"doc\",\n      \"version\": 1,\n      \"content\": [\n        {\n          \"type\": \"paragraph\",\n          \"content\": [\n            {\"type\": \"text\", \"text\": \"ID: {{ $('Error Trigger').item.json.execution.id }}\"},\n            {\"type\": \"text\", \"text\": \"\\nURL: {{ $('Error Trigger').item.json.execution.url.replace('http://localhost:5678', 'https://n8n.medicalspin.com.br').replace(/\\/executions\\/\\d+$/, '') }}\"},\n            {\"type\": \"text\", \"text\": \"\\nERRO: {{ $('Error Trigger').item.json.execution.error.name }}\"},\n            {\"type\": \"text\", \"text\": \"\\nTIPO: {{ $('Error Trigger').item.json.execution.error.node.type }}\"},\n            {\"type\": \"text\", \"text\": \"\\nMSG: {{ $('Error Trigger').item.json.execution.error.message }}\"},\n            {\"type\": \"text\", \"text\": \"\\nFLUXO: {{ $('Error Trigger').item.json.workflow.name }}\"}\n          ]\n        }\n      ]\n    },\n    \"issuetype\": {\n      \"name\": \"Task\"\n    }\n  }\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          752,
          -80
        ],
        "id": "5e48adba-6f11-4c07-8c30-430bac63685e",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1mTNaDFY7XY1V5gESfBKCdgd2ZVChW2CLEGA3ix_bUPs",
            "mode": "list",
            "cachedResultName": "ErrosGeral",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTNaDFY7XY1V5gESfBKCdgd2ZVChW2CLEGA3ix_bUPs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Página1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTNaDFY7XY1V5gESfBKCdgd2ZVChW2CLEGA3ix_bUPs/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "ID": "={{ $('If').item.json.execution.id }}",
              "URL": "={{ $('If').item.json.execution.url }}",
              "FLUXO": "={{ $('If').item.json.workflow.name }}",
              "ERRO": "={{ $('If').item.json.execution.error.name }}",
              "MSG": "={{ $('If').item.json.execution.error.message }}",
              "TIPO": "={{ $('If').item.json.execution.error.node.type }}",
              "DATA": "={{ $now.format('dd/LL/yyyy T') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ID",
                "displayName": "ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ERRO",
                "displayName": "ERRO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TIPO",
                "displayName": "TIPO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "MSG",
                "displayName": "MSG",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "FLUXO",
                "displayName": "FLUXO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "DATA",
                "displayName": "DATA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          944,
          96
        ],
        "id": "44d252ef-feb5-46ce-8fa5-74c78fd957a7",
        "name": "Append row in sheet1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "2DSmp4SarxDNx6pV",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1mTNaDFY7XY1V5gESfBKCdgd2ZVChW2CLEGA3ix_bUPs",
            "mode": "list",
            "cachedResultName": "ErrosGeral",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTNaDFY7XY1V5gESfBKCdgd2ZVChW2CLEGA3ix_bUPs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Página1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mTNaDFY7XY1V5gESfBKCdgd2ZVChW2CLEGA3ix_bUPs/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "ID": "={{ $('If').item.json.execution.id }}",
              "URL": "={{ $('If').item.json.execution.url }}",
              "FLUXO": "={{ $('If').item.json.workflow.name }}",
              "ERRO": "={{ $('If').item.json.execution.error.name }}",
              "MSG": "={{ $('If').item.json.execution.error.message }}",
              "TIPO": "={{ $('If').item.json.execution.error.node.type }}",
              "DATA": "={{ $now.format('dd/LL/yyyy T') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ID",
                "displayName": "ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ERRO",
                "displayName": "ERRO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TIPO",
                "displayName": "TIPO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "MSG",
                "displayName": "MSG",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "FLUXO",
                "displayName": "FLUXO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "DATA",
                "displayName": "DATA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          944,
          -80
        ],
        "id": "5c79197c-b46e-4fe6-8e09-ae4d5be7dea8",
        "name": "Append row in sheet2",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "2DSmp4SarxDNx6pV",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar texto": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Enviar texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          [
            {
              "node": "Enviar texto1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar texto1": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Append row in sheet2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Append row in sheet1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Automações  Medical Spin",
    "name": "Version 0ee2e2c9",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2025-11-17T14:09:04.161Z",
      "createdAt": "2025-11-17T14:09:04.161Z",
      "id": "2IpHgvBDztgEYNnL",
      "name": "errorNode"
    },
    {
      "updatedAt": "2025-11-17T14:09:04.153Z",
      "createdAt": "2025-11-17T14:09:04.153Z",
      "id": "32ehNS7DwOBedRQc",
      "name": "Sheets"
    }
  ]
}