Backup 27-03-2026/Mapeamento de produtos na loja de peças.json
{
  "updatedAt": "2026-03-04T19:16:42.032Z",
  "createdAt": "2025-11-17T15:13:05.753Z",
  "id": "7QAO0I3gV5FpfemT",
  "name": "Mapeamento de produtos na loja de peças",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "loja-de-peças1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        256
      ],
      "id": "90e29123-6ff1-4730-95bc-424e8874ff35",
      "name": "Webhook1",
      "webhookId": "ee4f75d4-d3b9-4683-a09e-6063ca3f14f0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83f1bffe-0e3b-4fae-a38e-e80061b3ca7d",
              "name": "body.data.key.remoteJid",
              "value": "={{ $json.whatsappJid.replace('@s.whatsapp.net', '') }}",
              "type": "string"
            },
            {
              "id": "b3057820-4c9d-44dd-b25d-003f396ee8f4",
              "name": "body.data.key.fromMe",
              "value": "={{ $('Webhook1').item.json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "64251236-d9dd-49cf-946d-7e97c571b906",
              "name": "body.data.pushName",
              "value": "={{ $('Webhook1').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "6aa3b3ac-b1a7-4942-9938-f2ad573c7164",
              "name": "body.data.message.conversation",
              "value": "={{ $('Webhook1').item.json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "9e28e8d1-70e3-45a2-af63-b98a0ff9dd1d",
              "name": "produto",
              "value": "={{ $('Webhook1').item.json.body.data.message.conversation.match(/https?:\\/\\/[^\\s]+/)[0].split('/produto/')[1].replace('/', '') }}",
              "type": "string"
            },
            {
              "id": "acaea2db-4e15-4c25-9157-059fbb87f4b2",
              "name": "produto1",
              "value": "={{ $('Webhook1').item.json.body.data.message.conversation.match(/https?:\\/\\/[^\\s]+/)[0].split('/produto/')[1].replace('/', '') }}",
              "type": "string"
            },
            {
              "id": "f7c68c1a-22f1-4078-8e11-d664fd5fb03c",
              "name": "produto_url",
              "value": "={{ $('Webhook1').item.json.body.data.message.conversation.match(/https?:\\/\\/[^\\s]+/)[0] }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        256
      ],
      "id": "3c779638-95bc-4887-b01a-5c4d47e83a31",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b2f8e2b-0739-48ed-bea1-a5d1ae34ebeb",
              "leftValue": "={{ $json.body.data.message.conversation }}",
              "rightValue": "Olá! Gostaria de solicitar um orçamento para o produto:",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        176
      ],
      "id": "42e5b7b8-ec03-48d3-b5a2-82edadea43f0",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $('Edit Fields1').item.json.body.data.pushName }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        832,
        160
      ],
      "id": "03b39b18-bd0c-4fb9-9d00-892c94163c08",
      "name": "Create an organization",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Edit Fields1').item.json.body.data.pushName }}",
        "additionalFields": {
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Edit Fields1').item.json.body.data.key.remoteJid }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1040,
        160
      ],
      "id": "8f0a016e-0715-45c1-9b9c-d30c56c5dcc0",
      "name": "Create a person",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.org_id.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1248,
        160
      ],
      "id": "7a9cef45-382b-438f-86e7-318d4f30dc34",
      "name": "Create a lead",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              },
              {
                "name": "3c1b0e8b2081fdbc27acffe179a4c704662362f5",
                "value": "Camila"
              }
            ]
          },
          "org_id": "={{ $('Create an organization').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1456,
        160
      ],
      "id": "8bd1f841-7d99-4e06-864f-18595b3ca06b",
      "name": "Create a deal",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🛒LEAD INTERESSADO NA LOJA DE PEÇAS\n\n🔹Nome: {{ $('Edit Fields1').item.json.body.data.pushName }}\n🔹Telefone: {{ $('Edit Fields1').item.json.body.data.key.remoteJid }}\n🔹Produto: {{ $('Edit Fields1').item.json.produto }}\n🔹Link: {{ $('Edit Fields1').item.json.produto_url }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1648,
        160
      ],
      "id": "720042d7-0d5d-4851-bf25-f6d21de8a499",
      "name": "Create a note",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MxYU4E5J0FoRyMXI2VcXGCHa5zVkio3XT033zR_2puQ",
          "mode": "list",
          "cachedResultName": "Mapeamento de Produtos da Loja de Peças",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MxYU4E5J0FoRyMXI2VcXGCHa5zVkio3XT033zR_2puQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 348125450,
          "mode": "list",
          "cachedResultName": "Lead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MxYU4E5J0FoRyMXI2VcXGCHa5zVkio3XT033zR_2puQ/edit#gid=348125450"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "PRODUTO": "={{ $('Edit Fields1').item.json.produto }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}",
            "NOME": "={{ $('Edit Fields1').item.json.body.data.pushName }}",
            "TELEFONE": "={{ $('Edit Fields1').item.json.body.data.key.remoteJid }}",
            "LINK": "={{ $('Edit Fields1').item.json.produto_url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRODUTO",
              "displayName": "PRODUTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LINK",
              "displayName": "LINK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        160
      ],
      "id": "9a0e1a19-6f75-467e-a271-66fefa53aa19",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2DSmp4SarxDNx6pV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chave",
              "value": "ahirlllzkrgcsnHM"
            },
            {
              "name": "canal",
              "value": "444"
            },
            {
              "name": "numero",
              "value": "={{ $('Edit Fields1').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "mensagem",
              "value": "=👋 Olá, {{ $('Edit Fields1').item.json.body.data.pushName }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* 🤖\\n🧠 Um especialista foi avisado e atenderá você em breve!\\n\\n🎯 *Bem-vindo* ao *Programa Medical Spin Certified*.\\nSua *ressonância protegida* pela *Solução 360°* 🛡️\\n\\n💬 Pode nos contar mais sobre o seu projeto?"
            },
            {
              "name": "direcionamento",
              "value": "={{ $json.dp_id }}"
            },
            {
              "name": "msg_operador",
              "value": "=🛒LEAD INTERESSADO NA LOJA DE PEÇAS\\n🔹Nome: {{ $('Edit Fields1').item.json.body.data.pushName }}\\n🔹Telefone: {{ $('Edit Fields1').item.json.body.data.key.remoteJid }}\\n🔹Produto: {{ $('Edit Fields1').item.json.produto }}\\n🔹Link: {{ $('Edit Fields1').item.json.produto_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        160
      ],
      "id": "c59d56c3-a780-43f2-9eef-6045f590575b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "1668",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        160
      ],
      "id": "0b090e27-3d35-408d-84ce-32597e8169d0",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b2f8e2b-0739-48ed-bea1-a5d1ae34ebeb",
              "leftValue": "={{ $json.body.data.message.conversation }}",
              "rightValue": "Olá! Estou acessando esta página:",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        336
      ],
      "id": "cd67d7ca-01a1-44a3-a18a-6bf219a42eb9",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $('Edit Fields1').item.json.body.data.pushName }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        832,
        320
      ],
      "id": "6813094d-96b4-4482-ae2b-2b3944074089",
      "name": "Create an organization1",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Edit Fields1').item.json.body.data.pushName }}",
        "additionalFields": {
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Edit Fields1').item.json.body.data.key.remoteJid }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1040,
        320
      ],
      "id": "1dd798d3-6946-4ff7-928c-b3d078cf337f",
      "name": "Create a person1",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.org_id.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1248,
        320
      ],
      "id": "7f1e0b4c-6ce6-4579-9333-ca2ba2fb2287",
      "name": "Create a lead1",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person1').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              },
              {
                "name": "3c1b0e8b2081fdbc27acffe179a4c704662362f5",
                "value": "Camila"
              }
            ]
          },
          "org_id": "={{ $('Create an organization1').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1456,
        320
      ],
      "id": "b965b172-72f1-44a6-9de2-a645fdf4399d",
      "name": "Create a deal1",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🛒LEAD INTERESSADO NA LOJA DE PEÇAS\n\n🔹Nome: {{ $('Edit Fields1').item.json.body.data.pushName }}\n🔹Telefone: {{ $('Edit Fields1').item.json.body.data.key.remoteJid }}\n🔹Produto: {{ $('Edit Fields1').item.json.produto1 }}\n🔹Link: {{ $('Edit Fields1').item.json.produto_url }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization1').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1648,
        320
      ],
      "id": "40ae6595-5d06-4b77-b516-32d1a1ff257c",
      "name": "Create a note1",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MxYU4E5J0FoRyMXI2VcXGCHa5zVkio3XT033zR_2puQ",
          "mode": "list",
          "cachedResultName": "Mapeamento de Produtos da Loja de Peças",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MxYU4E5J0FoRyMXI2VcXGCHa5zVkio3XT033zR_2puQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 348125450,
          "mode": "list",
          "cachedResultName": "Lead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MxYU4E5J0FoRyMXI2VcXGCHa5zVkio3XT033zR_2puQ/edit#gid=348125450"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "PRODUTO": "={{ $('Edit Fields1').item.json.produto1 }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}",
            "NOME": "={{ $('Edit Fields1').item.json.body.data.pushName }}",
            "TELEFONE": "={{ $('Edit Fields1').item.json.body.data.key.remoteJid }}",
            "LINK": "={{ $('Edit Fields1').item.json.produto_url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRODUTO",
              "displayName": "PRODUTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LINK",
              "displayName": "LINK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        320
      ],
      "id": "1b9b4d27-0725-4f65-a846-41658736c3b5",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2DSmp4SarxDNx6pV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "1668",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        320
      ],
      "id": "282e86e4-c2bc-4f70-a994-085179fb7544",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "jsCode": "// Captura os valores\nconst data = $input.first().json.body.data.key;\n\nconst jid1 = data.remoteJid;\nconst jid2 = data.remoteJidAlt;\n\n// Função para extrair e formatar o JID\nfunction formatWhatsApp(jid) {\n  if (typeof jid !== 'string' || !jid) return null;\n\n  // Pega somente a parte antes do @\n  let base = jid.split('@')[0].trim();\n  if (!base) return null;\n\n  // Adiciona @s.whatsapp.net\n  return `${base}@s.whatsapp.net`;\n}\n\n// Prioriza o primeiro válido, depois o segundo\nlet result = formatWhatsApp(jid1) || formatWhatsApp(jid2);\n\n// Saída formatada\nreturn [\n  {\n    json: {\n      whatsappJid: result\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        256
      ],
      "id": "e749c3eb-1f39-4e6e-9c73-c9c1b74667d3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chave",
              "value": "ahirlllzkrgcsnHM"
            },
            {
              "name": "canal",
              "value": "444"
            },
            {
              "name": "numero",
              "value": "={{ $('Edit Fields1').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "mensagem",
              "value": "=👋 Olá, {{ $('Edit Fields1').item.json.body.data.pushName }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* 🤖\\n🧠 Um especialista foi avisado e atenderá você em breve!\\n\\n🎯 *Bem-vindo* ao *Programa Medical Spin Certified*.\\nSua *ressonância protegida* pela *Solução 360°* 🛡️\\n\\n💬 Pode nos contar mais sobre o seu projeto?"
            },
            {
              "name": "direcionamento",
              "value": "={{ $json.dp_id }}"
            },
            {
              "name": "msg_operador",
              "value": "=🛒LEAD INTERESSADO NA LOJA DE PEÇAS\\n🔹Nome: {{ $('Edit Fields1').item.json.body.data.pushName }}\\n🔹Telefone: {{ $('Edit Fields1').item.json.body.data.key.remoteJid }}\\n🔹Produto: {{ $('Edit Fields1').item.json.produto }}\\n🔹Link: {{ $('Edit Fields1').item.json.produto_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        320
      ],
      "id": "e1a5928b-affb-497b-a2c9-25e6683b4e49",
      "name": "HTTP Request3"
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create an organization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization": {
      "main": [
        [
          {
            "node": "Create a person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person": {
      "main": [
        [
          {
            "node": "Create a lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead": {
      "main": [
        [
          {
            "node": "Create a deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal": {
      "main": [
        [
          {
            "node": "Create a note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create an organization1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization1": {
      "main": [
        [
          {
            "node": "Create a person1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person1": {
      "main": [
        [
          {
            "node": "Create a lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead1": {
      "main": [
        [
          {
            "node": "Create a deal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal1": {
      "main": [
        [
          {
            "node": "Create a note1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note1": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "Cw4BKEAZCX2tPyvL"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n-www4kggggc4c8k8ow4w8g4g0.95.217.164.173.sslip.io",
            "user-agent": "axios/1.13.2",
            "content-length": "1732",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "10.0.1.1",
            "x-forwarded-host": "n8n-www4kggggc4c8k8ow4w8g4g0.95.217.164.173.sslip.io",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "21ebda4186cf",
            "x-real-ip": "10.0.1.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "MedicalSpin",
            "data": {
              "key": {
                "remoteJid": "554497060622@s.whatsapp.net",
                "remoteJidAlt": "554497060622@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB0379B19B4968BA88D93",
                "participant": "",
                "addressingMode": "lid"
              },
              "pushName": "André Felippe - Engenheiro Clínico",
              "status": "DELIVERY_ACK",
              "message": {
                "messageContextInfo": {
                  "threadId": [],
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 219,
                      "1": 30,
                      "2": 255,
                      "3": 3,
                      "4": 133,
                      "5": 0,
                      "6": 70,
                      "7": 210,
                      "8": 32,
                      "9": 83
                    },
                    "senderTimestamp": {
                      "low": 1772293845,
                      "high": 0,
                      "unsigned": true
                    },
                    "senderAccountType": 0,
                    "receiverAccountType": 0,
                    "recipientKeyHash": {
                      "0": 196,
                      "1": 30,
                      "2": 151,
                      "3": 10,
                      "4": 120,
                      "5": 200,
                      "6": 39,
                      "7": 46,
                      "8": 10,
                      "9": 94
                    },
                    "recipientTimestamp": {
                      "low": 1771703128,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 225,
                    "1": 55,
                    "2": 198,
                    "3": 81,
                    "4": 130,
                    "5": 173,
                    "6": 89,
                    "7": 227,
                    "8": 109,
                    "9": 106,
                    "10": 141,
                    "11": 254,
                    "12": 33,
                    "13": 184,
                    "14": 129,
                    "15": 40,
                    "16": 81,
                    "17": 151,
                    "18": 229,
                    "19": 9,
                    "20": 146,
                    "21": 181,
                    "22": 46,
                    "23": 171,
                    "24": 21,
                    "25": 100,
                    "26": 144,
                    "27": 41,
                    "28": 137,
                    "29": 194,
                    "30": 175,
                    "31": 0
                  }
                },
                "conversation": "Olá! Estou acessando esta página: https://medicalspin.com.br/produto/extreme-gradient-amplifier-2-xgd-gradient-amplifier/ e gostaria de saber mais informações."
              },
              "contextInfo": null,
              "messageType": "conversation",
              "messageTimestamp": 1772651592,
              "instanceId": "1a6f3d10-643f-4d3a-a86d-8c4139720839",
              "source": "web"
            },
            "destination": "https://n8n-www4kggggc4c8k8ow4w8g4g0.95.217.164.173.sslip.io/webhook/loja-de-peças1",
            "date_time": "2026-03-04T16:13:13.235Z",
            "sender": "555131811899@s.whatsapp.net",
            "server_url": "http://evo-j0o08ok8sgwc4cog04w0owok.95.217.164.173.sslip.io",
            "apikey": "06302B2C50C7-41DF-A3A2-DDEB39A4CEF8"
          },
          "webhookUrl": "https://n8n-www4kggggc4c8k8ow4w8g4g0.95.217.164.173.sslip.io/webhook/loja-de-peças1",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "1940043f-1190-4731-9f37-b64145d367d1",
  "activeVersionId": "1940043f-1190-4731-9f37-b64145d367d1",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-17T15:13:05.753Z",
      "createdAt": "2025-11-17T15:13:05.753Z",
      "role": "workflow:owner",
      "workflowId": "7QAO0I3gV5FpfemT",
      "projectId": "XZrA9Oiu8K5e6BgC"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-04T19:16:43.638Z",
    "createdAt": "2026-03-04T19:16:42.034Z",
    "versionId": "1940043f-1190-4731-9f37-b64145d367d1",
    "workflowId": "7QAO0I3gV5FpfemT",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "loja-de-peças1",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          256
        ],
        "id": "90e29123-6ff1-4730-95bc-424e8874ff35",
        "name": "Webhook1",
        "webhookId": "ee4f75d4-d3b9-4683-a09e-6063ca3f14f0"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "83f1bffe-0e3b-4fae-a38e-e80061b3ca7d",
                "name": "body.data.key.remoteJid",
                "value": "={{ $json.whatsappJid.replace('@s.whatsapp.net', '') }}",
                "type": "string"
              },
              {
                "id": "b3057820-4c9d-44dd-b25d-003f396ee8f4",
                "name": "body.data.key.fromMe",
                "value": "={{ $('Webhook1').item.json.body.data.key.fromMe }}",
                "type": "boolean"
              },
              {
                "id": "64251236-d9dd-49cf-946d-7e97c571b906",
                "name": "body.data.pushName",
                "value": "={{ $('Webhook1').item.json.body.data.pushName }}",
                "type": "string"
              },
              {
                "id": "6aa3b3ac-b1a7-4942-9938-f2ad573c7164",
                "name": "body.data.message.conversation",
                "value": "={{ $('Webhook1').item.json.body.data.message.conversation }}",
                "type": "string"
              },
              {
                "id": "9e28e8d1-70e3-45a2-af63-b98a0ff9dd1d",
                "name": "produto",
                "value": "={{ $('Webhook1').item.json.body.data.message.conversation.match(/https?:\\/\\/[^\\s]+/)[0].split('/produto/')[1].replace('/', '') }}",
                "type": "string"
              },
              {
                "id": "acaea2db-4e15-4c25-9157-059fbb87f4b2",
                "name": "produto1",
                "value": "={{ $('Webhook1').item.json.body.data.message.conversation.match(/https?:\\/\\/[^\\s]+/)[0].split('/produto/')[1].replace('/', '') }}",
                "type": "string"
              },
              {
                "id": "f7c68c1a-22f1-4078-8e11-d664fd5fb03c",
                "name": "produto_url",
                "value": "={{ $('Webhook1').item.json.body.data.message.conversation.match(/https?:\\/\\/[^\\s]+/)[0] }}\n",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          352,
          256
        ],
        "id": "3c779638-95bc-4887-b01a-5c4d47e83a31",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "5b2f8e2b-0739-48ed-bea1-a5d1ae34ebeb",
                "leftValue": "={{ $json.body.data.message.conversation }}",
                "rightValue": "Olá! Gostaria de solicitar um orçamento para o produto:",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          592,
          176
        ],
        "id": "42e5b7b8-ec03-48d3-b5a2-82edadea43f0",
        "name": "If"
      },
      {
        "parameters": {
          "resource": "organization",
          "name": "={{ $('Edit Fields1').item.json.body.data.pushName }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          832,
          160
        ],
        "id": "03b39b18-bd0c-4fb9-9d00-892c94163c08",
        "name": "Create an organization",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "person",
          "name": "={{ $('Edit Fields1').item.json.body.data.pushName }}",
          "additionalFields": {
            "org_id": "={{ $json.id }}",
            "phone": [
              "={{ $('Edit Fields1').item.json.body.data.key.remoteJid }}"
            ]
          }
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          1040,
          160
        ],
        "id": "8f0a016e-0715-45c1-9b9c-d30c56c5dcc0",
        "name": "Create a person",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "lead",
          "title": "={{ $json.org_id.name }}",
          "associateWith": "person",
          "person_id": "={{ $json.id }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          1248,
          160
        ],
        "id": "7a9cef45-382b-438f-86e7-318d4f30dc34",
        "name": "Create a lead",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "title": "={{ $json.title }}",
          "associateWith": "person",
          "person_id": "={{ $('Create a person').item.json.id }}",
          "additionalFields": {
            "customProperties": {
              "property": [
                {
                  "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                  "value": "Site"
                },
                {
                  "name": "26246539655446743bf780a9ada870d71bacb1a0",
                  "value": "Inbound"
                },
                {
                  "name": "3c1b0e8b2081fdbc27acffe179a4c704662362f5",
                  "value": "Camila"
                }
              ]
            },
            "org_id": "={{ $('Create an organization').item.json.id }}",
            "stage_id": 17
          }
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          1456,
          160
        ],
        "id": "8bd1f841-7d99-4e06-864f-18595b3ca06b",
        "name": "Create a deal",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "note",
          "content": "=🛒LEAD INTERESSADO NA LOJA DE PEÇAS\n\n🔹Nome: {{ $('Edit Fields1').item.json.body.data.pushName }}\n🔹Telefone: {{ $('Edit Fields1').item.json.body.data.key.remoteJid }}\n🔹Produto: {{ $('Edit Fields1').item.json.produto }}\n🔹Link: {{ $('Edit Fields1').item.json.produto_url }}",
          "additionalFields": {
            "deal_id": "={{ $json.id }}",
            "org_id": "={{ $('Create an organization').item.json.id }}"
          }
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          1648,
          160
        ],
        "id": "720042d7-0d5d-4851-bf25-f6d21de8a499",
        "name": "Create a note",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1MxYU4E5J0FoRyMXI2VcXGCHa5zVkio3XT033zR_2puQ",
            "mode": "list",
            "cachedResultName": "Mapeamento de Produtos da Loja de Peças",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MxYU4E5J0FoRyMXI2VcXGCHa5zVkio3XT033zR_2puQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 348125450,
            "mode": "list",
            "cachedResultName": "Lead",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MxYU4E5J0FoRyMXI2VcXGCHa5zVkio3XT033zR_2puQ/edit#gid=348125450"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "PRODUTO": "={{ $('Edit Fields1').item.json.produto }}",
              "DATA": "={{$now.format('dd-LL-yyyy T')}}",
              "NOME": "={{ $('Edit Fields1').item.json.body.data.pushName }}",
              "TELEFONE": "={{ $('Edit Fields1').item.json.body.data.key.remoteJid }}",
              "LINK": "={{ $('Edit Fields1').item.json.produto_url }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "NOME",
                "displayName": "NOME",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "TELEFONE",
                "displayName": "TELEFONE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "PRODUTO",
                "displayName": "PRODUTO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "LINK",
                "displayName": "LINK",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "DATA",
                "displayName": "DATA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2240,
          160
        ],
        "id": "9a0e1a19-6f75-467e-a271-66fefa53aa19",
        "name": "Append row in sheet1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "2DSmp4SarxDNx6pV",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chave",
                "value": "ahirlllzkrgcsnHM"
              },
              {
                "name": "canal",
                "value": "444"
              },
              {
                "name": "numero",
                "value": "={{ $('Edit Fields1').item.json.body.data.key.remoteJid }}"
              },
              {
                "name": "mensagem",
                "value": "=👋 Olá, {{ $('Edit Fields1').item.json.body.data.pushName }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* 🤖\\n🧠 Um especialista foi avisado e atenderá você em breve!\\n\\n🎯 *Bem-vindo* ao *Programa Medical Spin Certified*.\\nSua *ressonância protegida* pela *Solução 360°* 🛡️\\n\\n💬 Pode nos contar mais sobre o seu projeto?"
              },
              {
                "name": "direcionamento",
                "value": "={{ $json.dp_id }}"
              },
              {
                "name": "msg_operador",
                "value": "=🛒LEAD INTERESSADO NA LOJA DE PEÇAS\\n🔹Nome: {{ $('Edit Fields1').item.json.body.data.pushName }}\\n🔹Telefone: {{ $('Edit Fields1').item.json.body.data.key.remoteJid }}\\n🔹Produto: {{ $('Edit Fields1').item.json.produto }}\\n🔹Link: {{ $('Edit Fields1').item.json.produto_url }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2048,
          160
        ],
        "id": "c59d56c3-a780-43f2-9eef-6045f590575b",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
                "name": "dp_id",
                "value": "1668",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1856,
          160
        ],
        "id": "0b090e27-3d35-408d-84ce-32597e8169d0",
        "name": "Edit Fields6"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "5b2f8e2b-0739-48ed-bea1-a5d1ae34ebeb",
                "leftValue": "={{ $json.body.data.message.conversation }}",
                "rightValue": "Olá! Estou acessando esta página:",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          592,
          336
        ],
        "id": "cd67d7ca-01a1-44a3-a18a-6bf219a42eb9",
        "name": "If1"
      },
      {
        "parameters": {
          "resource": "organization",
          "name": "={{ $('Edit Fields1').item.json.body.data.pushName }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          832,
          320
        ],
        "id": "6813094d-96b4-4482-ae2b-2b3944074089",
        "name": "Create an organization1",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "person",
          "name": "={{ $('Edit Fields1').item.json.body.data.pushName }}",
          "additionalFields": {
            "org_id": "={{ $json.id }}",
            "phone": [
              "={{ $('Edit Fields1').item.json.body.data.key.remoteJid }}"
            ]
          }
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          1040,
          320
        ],
        "id": "1dd798d3-6946-4ff7-928c-b3d078cf337f",
        "name": "Create a person1",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "lead",
          "title": "={{ $json.org_id.name }}",
          "associateWith": "person",
          "person_id": "={{ $json.id }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          1248,
          320
        ],
        "id": "7f1e0b4c-6ce6-4579-9333-ca2ba2fb2287",
        "name": "Create a lead1",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "title": "={{ $json.title }}",
          "associateWith": "person",
          "person_id": "={{ $('Create a person1').item.json.id }}",
          "additionalFields": {
            "customProperties": {
              "property": [
                {
                  "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                  "value": "Site"
                },
                {
                  "name": "26246539655446743bf780a9ada870d71bacb1a0",
                  "value": "Inbound"
                },
                {
                  "name": "3c1b0e8b2081fdbc27acffe179a4c704662362f5",
                  "value": "Camila"
                }
              ]
            },
            "org_id": "={{ $('Create an organization1').item.json.id }}",
            "stage_id": 17
          }
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          1456,
          320
        ],
        "id": "b965b172-72f1-44a6-9de2-a645fdf4399d",
        "name": "Create a deal1",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "note",
          "content": "=🛒LEAD INTERESSADO NA LOJA DE PEÇAS\n\n🔹Nome: {{ $('Edit Fields1').item.json.body.data.pushName }}\n🔹Telefone: {{ $('Edit Fields1').item.json.body.data.key.remoteJid }}\n🔹Produto: {{ $('Edit Fields1').item.json.produto1 }}\n🔹Link: {{ $('Edit Fields1').item.json.produto_url }}",
          "additionalFields": {
            "deal_id": "={{ $json.id }}",
            "org_id": "={{ $('Create an organization1').item.json.id }}"
          }
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          1648,
          320
        ],
        "id": "40ae6595-5d06-4b77-b516-32d1a1ff257c",
        "name": "Create a note1",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1MxYU4E5J0FoRyMXI2VcXGCHa5zVkio3XT033zR_2puQ",
            "mode": "list",
            "cachedResultName": "Mapeamento de Produtos da Loja de Peças",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MxYU4E5J0FoRyMXI2VcXGCHa5zVkio3XT033zR_2puQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 348125450,
            "mode": "list",
            "cachedResultName": "Lead",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MxYU4E5J0FoRyMXI2VcXGCHa5zVkio3XT033zR_2puQ/edit#gid=348125450"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "PRODUTO": "={{ $('Edit Fields1').item.json.produto1 }}",
              "DATA": "={{$now.format('dd-LL-yyyy T')}}",
              "NOME": "={{ $('Edit Fields1').item.json.body.data.pushName }}",
              "TELEFONE": "={{ $('Edit Fields1').item.json.body.data.key.remoteJid }}",
              "LINK": "={{ $('Edit Fields1').item.json.produto_url }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "NOME",
                "displayName": "NOME",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "TELEFONE",
                "displayName": "TELEFONE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "PRODUTO",
                "displayName": "PRODUTO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "LINK",
                "displayName": "LINK",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "DATA",
                "displayName": "DATA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2240,
          320
        ],
        "id": "1b9b4d27-0725-4f65-a846-41658736c3b5",
        "name": "Append row in sheet2",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "2DSmp4SarxDNx6pV",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
                "name": "dp_id",
                "value": "1668",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1856,
          320
        ],
        "id": "282e86e4-c2bc-4f70-a994-085179fb7544",
        "name": "Edit Fields7"
      },
      {
        "parameters": {
          "jsCode": "// Captura os valores\nconst data = $input.first().json.body.data.key;\n\nconst jid1 = data.remoteJid;\nconst jid2 = data.remoteJidAlt;\n\n// Função para extrair e formatar o JID\nfunction formatWhatsApp(jid) {\n  if (typeof jid !== 'string' || !jid) return null;\n\n  // Pega somente a parte antes do @\n  let base = jid.split('@')[0].trim();\n  if (!base) return null;\n\n  // Adiciona @s.whatsapp.net\n  return `${base}@s.whatsapp.net`;\n}\n\n// Prioriza o primeiro válido, depois o segundo\nlet result = formatWhatsApp(jid1) || formatWhatsApp(jid2);\n\n// Saída formatada\nreturn [\n  {\n    json: {\n      whatsappJid: result\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          256
        ],
        "id": "e749c3eb-1f39-4e6e-9c73-c9c1b74667d3",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chave",
                "value": "ahirlllzkrgcsnHM"
              },
              {
                "name": "canal",
                "value": "444"
              },
              {
                "name": "numero",
                "value": "={{ $('Edit Fields1').item.json.body.data.key.remoteJid }}"
              },
              {
                "name": "mensagem",
                "value": "=👋 Olá, {{ $('Edit Fields1').item.json.body.data.pushName }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* 🤖\\n🧠 Um especialista foi avisado e atenderá você em breve!\\n\\n🎯 *Bem-vindo* ao *Programa Medical Spin Certified*.\\nSua *ressonância protegida* pela *Solução 360°* 🛡️\\n\\n💬 Pode nos contar mais sobre o seu projeto?"
              },
              {
                "name": "direcionamento",
                "value": "={{ $json.dp_id }}"
              },
              {
                "name": "msg_operador",
                "value": "=🛒LEAD INTERESSADO NA LOJA DE PEÇAS\\n🔹Nome: {{ $('Edit Fields1').item.json.body.data.pushName }}\\n🔹Telefone: {{ $('Edit Fields1').item.json.body.data.key.remoteJid }}\\n🔹Produto: {{ $('Edit Fields1').item.json.produto }}\\n🔹Link: {{ $('Edit Fields1').item.json.produto_url }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2048,
          320
        ],
        "id": "e1a5928b-affb-497b-a2c9-25e6683b4e49",
        "name": "HTTP Request3"
      }
    ],
    "connections": {
      "Webhook1": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            },
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Create an organization",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create an organization": {
        "main": [
          [
            {
              "node": "Create a person",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a person": {
        "main": [
          [
            {
              "node": "Create a lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a lead": {
        "main": [
          [
            {
              "node": "Create a deal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a deal": {
        "main": [
          [
            {
              "node": "Create a note",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a note": {
        "main": [
          [
            {
              "node": "Edit Fields6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields6": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Append row in sheet1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Create an organization1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create an organization1": {
        "main": [
          [
            {
              "node": "Create a person1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a person1": {
        "main": [
          [
            {
              "node": "Create a lead1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a lead1": {
        "main": [
          [
            {
              "node": "Create a deal1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a deal1": {
        "main": [
          [
            {
              "node": "Create a note1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a note1": {
        "main": [
          [
            {
              "node": "Edit Fields7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields7": {
        "main": [
          [
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request3": {
        "main": [
          [
            {
              "node": "Append row in sheet2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Automações  Medical Spin",
    "name": "Version 1940043f",
    "description": "",
    "autosaved": false
  },
  "tags": []
}