Backup 07-05-2026/My workflow 2.json
{
  "updatedAt": "2026-05-07T19:27:38.401Z",
  "createdAt": "2026-05-07T10:24:02.677Z",
  "id": "Cdfra43EYx4KrGSh",
  "name": "My workflow 2",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://receitaws.com.br/v1/cnpj/{{ $json.cnpj }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        -320
      ],
      "id": "fd53e05f-9ccd-46ab-ab16-6ca9e5df191c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2650c4d7-1ab7-45f9-814f-95b05599eedf",
              "name": "cnpj",
              "value": "={{ $json.custom_fields.CNPJ.replace(/\\D/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -320
      ],
      "id": "a9c51161-87dc-4b81-be9b-39b2404b5f2b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37efbdd3-c8ba-48f9-895c-54ef10c823bb",
              "name": "razao",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "e04457d3-e0b2-41c7-9438-7450231ded96",
              "name": "cnpj",
              "value": "={{ $json.cnpj }}",
              "type": "string"
            },
            {
              "id": "adc55e78-ad50-43a5-bc3c-99f225056d5f",
              "name": "endereco",
              "value": "={{ $json.municipio }},{{ $json.numero }}, {{ $json.bairro }}, {{ $json.uf }}, {{ $json.cep }}",
              "type": "string"
            },
            {
              "id": "cf2d18f9-0cab-49fd-984e-9955d17a9c1b",
              "name": "uf",
              "value": "={{ $json.uf }}",
              "type": "string"
            },
            {
              "id": "a648af8a-a164-4642-b9e6-5842e625d1c4",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "f0f12c1d-adc2-43f4-a469-9b4ab5cf7566",
              "name": "telefone",
              "value": "={{ $json.telefone }}",
              "type": "string"
            },
            {
              "id": "49900516-3b4c-4216-afaa-72a9a7e0216c",
              "name": "atividade_principal",
              "value": "={{ $json.atividade_principal?.[0] ? $json.atividade_principal[0].code + ' - ' + $json.atividade_principal[0].text : '' }}",
              "type": "array"
            },
            {
              "id": "653df22b-0800-4cec-b030-df0e897134e7",
              "name": "atividades_secundarias",
              "value": "={{ $json.atividades_secundarias?.length ? $json.atividades_secundarias.map(a => a.code + ' - ' + a.text).join('\\n') : '' }}",
              "type": "array"
            },
            {
              "id": "d2b648b4-62d0-4c59-8719-d78e2ee531b7",
              "name": "tipo",
              "value": "={{ $json.tipo ? $json.tipo.charAt(0).toUpperCase() + $json.tipo.slice(1).toLowerCase() : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        -320
      ],
      "id": "14055063-97bc-41ec-a252-efadf426cdd3",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bf59c78d-239d-4520-8b55-993f3408d911",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "ab821fad-7686-4bc2-b529-aa943880bb6d",
      "name": "Webhook",
      "webhookId": "bf59c78d-239d-4520-8b55-993f3408d911"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "548fade4-56f1-4962-b256-9f5ebc272b96",
              "leftValue": "={{ $json.done }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "55886a9d-04af-4fd6-bce9-2a9baad6f286",
              "leftValue": "={{ $json.type }}",
              "rightValue": "investigacao_web_ob__organ",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        -304
      ],
      "id": "c3140e2c-e2a6-46e0-8f9a-1f073b386906",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20e3021e-7820-4de5-9aa6-c401b0bc3563",
              "name": "deal_id",
              "value": "={{ $json.data.deal_id }}",
              "type": "number"
            },
            {
              "id": "4f362708-164e-456c-b92f-f08eefaf0dcb",
              "name": "done",
              "value": "={{ $json.data.done }}",
              "type": "boolean"
            },
            {
              "id": "8541c2c0-a995-42fa-b6b4-90b37861c0d2",
              "name": "type",
              "value": "={{ $json.data.type }}",
              "type": "string"
            },
            {
              "id": "29ca73ab-7b2d-4b8e-ae73-b5c6245fa730",
              "name": "data.due_date",
              "value": "={{ $json.data.update_time }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        -304
      ],
      "id": "e66e5d2e-4b4a-496d-b92f-3f1397337762",
      "name": "Edit Fields2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        592,
        -176
      ],
      "id": "44b9d484-5de5-4e4e-a768-36d35da4d8f8",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "resource": "organization",
        "operation": "update",
        "organizationId": "={{ $('Pipedrive Trigger').item.json.data.org_id }}",
        "updateFields": {
          "customFields": {
            "property": [
              {
                "name": "Razão social",
                "value": "={{ $json.razao }}"
              },
              {
                "name": "CNPJ",
                "value": "={{ $json.cnpj }}"
              },
              {
                "name": "E-mail",
                "value": "={{ $json.email }}"
              },
              {
                "name": "Telefone",
                "value": "={{ $json.telefone }}"
              },
              {
                "name": "UF",
                "value": "={{ $json.uf }}"
              },
              {
                "name": "Matriz / Filial",
                "value": "={{ $json.tipo }}"
              },
              {
                "name": "Endereço",
                "value": "={{ $json.endereco }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        1424,
        -320
      ],
      "id": "8c2f1943-1cab-496a-bdbc-ddd3738490a8",
      "name": "Update an organization",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "operation": "get",
        "organizationId": "={{ $('Pipedrive Trigger').item.json.data.org_id }}"
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        592,
        -320
      ],
      "id": "cdddbd74-defd-4e89-ab6f-196252f9fd76",
      "name": "Get an organization",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "action": "change",
        "entity": "activity"
      },
      "type": "n8n-nodes-base.pipedriveTrigger",
      "typeVersion": 1.1,
      "position": [
        -16,
        -304
      ],
      "id": "6806af67-60d2-4ee3-b827-10101d8eaa20",
      "name": "Pipedrive Trigger",
      "webhookId": "e93e0ce0-3f00-444a-a147-e13dc3bb1a63",
      "credentials": {
        "pipedriveApi": {
          "id": "4qJXbNcTRplBXhrh",
          "name": "Pipedrive account"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Update an organization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get an organization",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an organization": {
      "main": [
        []
      ]
    },
    "Get an organization": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipedrive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Google Sheets Trigger": {
      "documentId": "1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw",
      "sheetId": 0,
      "lastRevision": 7070,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1HQgsz0SjvmM6n6GaiiuUM9I3g-5MHgZv7s10FZLa8Mw&revision=7070&exportFormat=xlsx"
    },
    "node:Pipedrive Trigger": {}
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "cnpj": "00296061000148"
        }
      }
    ]
  },
  "versionId": "0c8635c9-f74f-4d4e-803b-86e30d0f478c",
  "activeVersionId": "0c8635c9-f74f-4d4e-803b-86e30d0f478c",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-07T10:24:02.677Z",
      "createdAt": "2026-05-07T10:24:02.677Z",
      "role": "workflow:owner",
      "workflowId": "Cdfra43EYx4KrGSh",
      "projectId": "XZrA9Oiu8K5e6BgC"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-07T19:33:52.680Z",
    "createdAt": "2026-05-07T19:27:38.403Z",
    "versionId": "0c8635c9-f74f-4d4e-803b-86e30d0f478c",
    "workflowId": "Cdfra43EYx4KrGSh",
    "nodes": [
      {
        "parameters": {
          "url": "=https://receitaws.com.br/v1/cnpj/{{ $json.cnpj }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1008,
          -320
        ],
        "id": "fd53e05f-9ccd-46ab-ab16-6ca9e5df191c",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2650c4d7-1ab7-45f9-814f-95b05599eedf",
                "name": "cnpj",
                "value": "={{ $json.custom_fields.CNPJ.replace(/\\D/g, '') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          800,
          -320
        ],
        "id": "a9c51161-87dc-4b81-be9b-39b2404b5f2b",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "37efbdd3-c8ba-48f9-895c-54ef10c823bb",
                "name": "razao",
                "value": "={{ $json.nome }}",
                "type": "string"
              },
              {
                "id": "e04457d3-e0b2-41c7-9438-7450231ded96",
                "name": "cnpj",
                "value": "={{ $json.cnpj }}",
                "type": "string"
              },
              {
                "id": "adc55e78-ad50-43a5-bc3c-99f225056d5f",
                "name": "endereco",
                "value": "={{ $json.municipio }},{{ $json.numero }}, {{ $json.bairro }}, {{ $json.uf }}, {{ $json.cep }}",
                "type": "string"
              },
              {
                "id": "cf2d18f9-0cab-49fd-984e-9955d17a9c1b",
                "name": "uf",
                "value": "={{ $json.uf }}",
                "type": "string"
              },
              {
                "id": "a648af8a-a164-4642-b9e6-5842e625d1c4",
                "name": "email",
                "value": "={{ $json.email }}",
                "type": "string"
              },
              {
                "id": "f0f12c1d-adc2-43f4-a469-9b4ab5cf7566",
                "name": "telefone",
                "value": "={{ $json.telefone }}",
                "type": "string"
              },
              {
                "id": "49900516-3b4c-4216-afaa-72a9a7e0216c",
                "name": "atividade_principal",
                "value": "={{ $json.atividade_principal?.[0] ? $json.atividade_principal[0].code + ' - ' + $json.atividade_principal[0].text : '' }}",
                "type": "array"
              },
              {
                "id": "653df22b-0800-4cec-b030-df0e897134e7",
                "name": "atividades_secundarias",
                "value": "={{ $json.atividades_secundarias?.length ? $json.atividades_secundarias.map(a => a.code + ' - ' + a.text).join('\\n') : '' }}",
                "type": "array"
              },
              {
                "id": "d2b648b4-62d0-4c59-8719-d78e2ee531b7",
                "name": "tipo",
                "value": "={{ $json.tipo ? $json.tipo.charAt(0).toUpperCase() + $json.tipo.slice(1).toLowerCase() : '' }}",
                "type": "string"
              }
            ]
          },
          "options": {
            "ignoreConversionErrors": true
          }
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1216,
          -320
        ],
        "id": "14055063-97bc-41ec-a252-efadf426cdd3",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "bf59c78d-239d-4520-8b55-993f3408d911",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "ab821fad-7686-4bc2-b529-aa943880bb6d",
        "name": "Webhook",
        "webhookId": "bf59c78d-239d-4520-8b55-993f3408d911"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "548fade4-56f1-4962-b256-9f5ebc272b96",
                "leftValue": "={{ $json.done }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              },
              {
                "id": "55886a9d-04af-4fd6-bce9-2a9baad6f286",
                "leftValue": "={{ $json.type }}",
                "rightValue": "investigacao_web_ob__organ",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          384,
          -304
        ],
        "id": "c3140e2c-e2a6-46e0-8f9a-1f073b386906",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "20e3021e-7820-4de5-9aa6-c401b0bc3563",
                "name": "deal_id",
                "value": "={{ $json.data.deal_id }}",
                "type": "number"
              },
              {
                "id": "4f362708-164e-456c-b92f-f08eefaf0dcb",
                "name": "done",
                "value": "={{ $json.data.done }}",
                "type": "boolean"
              },
              {
                "id": "8541c2c0-a995-42fa-b6b4-90b37861c0d2",
                "name": "type",
                "value": "={{ $json.data.type }}",
                "type": "string"
              },
              {
                "id": "29ca73ab-7b2d-4b8e-ae73-b5c6245fa730",
                "name": "data.due_date",
                "value": "={{ $json.data.update_time }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          176,
          -304
        ],
        "id": "e66e5d2e-4b4a-496d-b92f-3f1397337762",
        "name": "Edit Fields2"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          592,
          -176
        ],
        "id": "44b9d484-5de5-4e4e-a768-36d35da4d8f8",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "resource": "organization",
          "operation": "update",
          "organizationId": "={{ $('Pipedrive Trigger').item.json.data.org_id }}",
          "updateFields": {
            "customFields": {
              "property": [
                {
                  "name": "Razão social",
                  "value": "={{ $json.razao }}"
                },
                {
                  "name": "CNPJ",
                  "value": "={{ $json.cnpj }}"
                },
                {
                  "name": "E-mail",
                  "value": "={{ $json.email }}"
                },
                {
                  "name": "Telefone",
                  "value": "={{ $json.telefone }}"
                },
                {
                  "name": "UF",
                  "value": "={{ $json.uf }}"
                },
                {
                  "name": "Matriz / Filial",
                  "value": "={{ $json.tipo }}"
                },
                {
                  "name": "Endereço",
                  "value": "={{ $json.endereco }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 2,
        "position": [
          1424,
          -320
        ],
        "id": "8c2f1943-1cab-496a-bdbc-ddd3738490a8",
        "name": "Update an organization",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "organization",
          "operation": "get",
          "organizationId": "={{ $('Pipedrive Trigger').item.json.data.org_id }}"
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 2,
        "position": [
          592,
          -320
        ],
        "id": "cdddbd74-defd-4e89-ab6f-196252f9fd76",
        "name": "Get an organization",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "action": "change",
          "entity": "activity"
        },
        "type": "n8n-nodes-base.pipedriveTrigger",
        "typeVersion": 1.1,
        "position": [
          -16,
          -304
        ],
        "id": "6806af67-60d2-4ee3-b827-10101d8eaa20",
        "name": "Pipedrive Trigger",
        "webhookId": "e93e0ce0-3f00-444a-a147-e13dc3bb1a63",
        "credentials": {
          "pipedriveApi": {
            "id": "4qJXbNcTRplBXhrh",
            "name": "Pipedrive account"
          }
        },
        "disabled": true
      }
    ],
    "connections": {
      "Edit Fields": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Update an organization",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          []
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Get an organization",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update an organization": {
        "main": [
          []
        ]
      },
      "Get an organization": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pipedrive Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Automações  Medical Spin",
    "name": "Version 0c8635c9",
    "description": "",
    "autosaved": true
  },
  "tags": []
}