Backup 29-10-2025/SITE + PIPEDRIVE + VOXFREE + GOOGLE ADS + GMAIL + SHEETS - PG BOBINAS DE EXAMES.json
{
  "updatedAt": "2025-10-27T17:51:58.128Z",
  "createdAt": "2025-10-21T12:25:39.604Z",
  "id": "IHUSp3en5mN3PWhb",
  "name": "SITE + PIPEDRIVE + VOXFREE + GOOGLE ADS + GMAIL + SHEETS - PG BOBINAS DE EXAMES",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "form-popup-bobinas",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        272
      ],
      "id": "3edf495d-d2a2-467c-a802-9a1614b4bfc7",
      "name": "Webhook5",
      "webhookId": "449b7690-9b51-4e9f-bb58-eb2e6a43b5b1"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook5').item.json.body.Nome }}",
        "additionalFields": {
          "email": [
            "={{ $('Webhook5').item.json.body.Email }}"
          ],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Webhook5').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        736,
        416
      ],
      "id": "013a4419-432e-4202-a350-d249a7e5989d",
      "name": "Create a person5",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization2').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        912,
        416
      ],
      "id": "db290944-941c-4a46-9cfd-b0b6e278c08a",
      "name": "Create a lead5",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person5').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization2').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1088,
        416
      ],
      "id": "59ce630b-d899-4e65-933f-2b7f9971d963",
      "name": "Create a deal5",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "content": "## FORM PUP-UP",
        "height": 608,
        "width": 2896,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        80
      ],
      "id": "4cf57a03-88ca-4e86-acfa-1f784c5609b8",
      "name": "Sticky Note7",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "solicitar-contato-agora-bbex",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        880
      ],
      "id": "6e6bdab8-1464-47f2-a84b-264da35ac309",
      "name": "Webhook6",
      "webhookId": "449b7690-9b51-4e9f-bb58-eb2e6a43b5b1"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook6').item.json.body.Nome }}",
        "additionalFields": {
          "email": [],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Webhook6').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        736,
        1024
      ],
      "id": "62c75304-2db9-4543-98be-c5b8fcd75dbf",
      "name": "Create a person6",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization1').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        912,
        1024
      ],
      "id": "2b77a565-0d1a-4203-a129-7a72309cefee",
      "name": "Create a lead6",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person6').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization1').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1088,
        1024
      ],
      "id": "66f1af28-a4f8-4b21-902a-5c4a2427cb8e",
      "name": "Create a deal6",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "content": "## Solicitar Contato Agora",
        "height": 608,
        "width": 2896,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        720
      ],
      "id": "8cc52452-695b-4cdc-8c64-5f0ed33d64c9",
      "name": "Sticky Note8",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body['Clínica'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        560,
        1024
      ],
      "id": "f230171c-c98c-4dca-a240-a1815c669ac6",
      "name": "Create an organization1",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "content": "## Página de Bobinas de Exames",
        "height": 1360,
        "width": 2960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "bdc89a2e-ff3a-4391-bd44-ad115d31a16d",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG BOBINAS DE EXAMES POP-UP\n\n🔹Nome: {{ $('Create a person5').item.json.name }}\n🔹Telefone: {{ $('Create a person5').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person5').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization2').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization2').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1264,
        416
      ],
      "id": "29104385-f180-4a32-8333-4d9831554af5",
      "name": "Create a note5",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG BOBINAS DE EXAMES FOOTER FORM SOLICITAR CONTATO AGORA\n\n🔹Nome: {{ $('Create a person6').item.json.name }}\n🔹Telefone: {{ $('Create a person6').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person6').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization1').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization1').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1264,
        1024
      ],
      "id": "f53f2fc7-9cbf-4855-94f2-96b68259845e",
      "name": "Create a note6",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript2').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields3').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* ⚡\\n🔧 Um especialista já foi avisado!\\n\\n🧪 *Em nosso lab certificado*, restauramos bobinas condenadas com *100% de sucesso nos testes de IQT* ✅\\n\\n📍 Pode informar *modelo, marca da RM* e o que está buscando?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG BOBINAS DE EXAMES POP-UP\\n🔹Nome: {{ $('Create a person5').item.json.name }}\\n🔹Telefone: {{ $('Create a person5').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person5').item.json.email[0].value }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        416
      ],
      "id": "3e52071c-e3b4-4f0f-aa4a-91210b5a83d1",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "959",
              "type": "string"
            },
            {
              "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
              "name": "form",
              "value": "Reparo de bobina",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        416
      ],
      "id": "1f4662dd-b2d1-490a-be29-2755a2c51c47",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "sendTo": "contato@medicalspin.com.br",
        "subject": "Novo Lead Interessado em Bobinas de Exames - POP-UP",
        "emailType": "text",
        "message": "=Nome: {{ $('Webhook5').item.json.body.Nome }}\nEmail: {{ $('Webhook5').item.json.body.Email }}\nTelefone: {{ $('Webhook5').item.json.body.WhatsApp }}\nClínica: {{ $('Create an organization2').item.json.name }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1440,
        416
      ],
      "id": "339b3a7f-6f93-42a1-bbdc-7656a336e820",
      "name": "Send a message2",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person5').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person5').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person5').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "937af5e8-81b8-40cf-b352-8f2cbb1b9095",
              "name": "org",
              "value": "={{ $('Create an organization2').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        416
      ],
      "id": "19c68be9-aa1c-4ce2-b9ae-a2d70f06b1bc",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields3').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        416
      ],
      "id": "731bdea4-c266-4fe5-bf54-437de8881eff",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript3').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields4').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* ⚡\\n🔧 Um especialista já foi avisado!\\n\\n🧪 *Em nosso lab certificado*, restauramos bobinas condenadas com *100% de sucesso nos testes de IQT* ✅\\n\\n📍 Pode informar *modelo, marca da RM* e o que está buscando?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG BOBINAS DE EXAMES FOOTER FORM SOLICITAR CONTATO AGORA\\n🔹Nome: {{ $('Create a person6').item.json.name }}\\n🔹Telefone: {{ $('Create a person6').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person6').item.json.email[0].value }}\\n🔹Clínica: {{ $('Edit Fields4').item.json.org }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        1024
      ],
      "id": "e488d543-8513-4ad9-9bad-b7c8baafc45f",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "959",
              "type": "string"
            },
            {
              "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
              "name": "form",
              "value": "Reparo de bobina",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        1024
      ],
      "id": "0d6325e2-4cbe-45f1-be7a-4a5c74de92e1",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "sendTo": "contato@medicalspin.com.br",
        "subject": "Novo Lead Interessado em Bobinas de Exames - Solicitar Contato Agora",
        "emailType": "text",
        "message": "=Nome: {{ $('Webhook6').item.json.body.Nome }}\nTelefone: {{ $('Webhook6').item.json.body.WhatsApp }}\nClínica: {{ $('Create an organization1').item.json.name }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1440,
        1024
      ],
      "id": "4eff7f31-8484-4c32-a60e-a4f3d6021f2c",
      "name": "Send a message3",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person6').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person6').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person6').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "a08dd801-3c79-4a51-bfe6-70ef29bfbfbb",
              "name": "org",
              "value": "={{ $('Create an organization1').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        1024
      ],
      "id": "64ff14ab-cf2d-4b7b-a710-6256abce58b8",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields4').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        1024
      ],
      "id": "1ae2a4b9-19ae-4dd9-8b0b-611d49f9fa55",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body.Nome }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        560,
        416
      ],
      "id": "ab92c4ef-6f85-4ac9-a099-215b8bdd0895",
      "name": "Create an organization2",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c530bcc4-b650-41bf-8425-16ffbfec6a4c",
              "leftValue": "={{ $json.body['Page URL'] }}",
              "rightValue": "https://bobinasdeexames.medicalspin.com.br/?gad_source=1&",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        368,
        880
      ],
      "id": "a2e1f185-2c82-4538-9905-3f0d832bca9b",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c530bcc4-b650-41bf-8425-16ffbfec6a4c",
              "leftValue": "={{ $json.body['Page URL'] }}",
              "rightValue": "https://bobinasdeexames.medicalspin.com.br/?gad_source=1&",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        272
      ],
      "id": "3d991273-e11c-4e2a-a9da-32cfb7f04a15",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook6').item.json.body.Nome }}",
        "additionalFields": {
          "email": [],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('If').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        736,
        864
      ],
      "id": "a1b34f3f-d42e-4f0e-96ee-9d2fe43ca55d",
      "name": "Create a person",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        912,
        864
      ],
      "id": "f586eccc-0974-41bc-af5d-5267e31fd93e",
      "name": "Create a lead",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1088,
        864
      ],
      "id": "3dc8f660-1d0a-4995-b973-2567b6eb6eed",
      "name": "Create a deal",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body['Clínica'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        560,
        864
      ],
      "id": "26594479-08e2-4911-a071-cb4eda10d319",
      "name": "Create an organization",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG BOBINAS DE EXAMES FOOTER FORM SOLICITAR CONTATO AGORA - ANÚNCIO DO GOOGLE ADS\n\n🔹Nome: {{ $('Create a person').item.json.name }}\n🔹Telefone: {{ $('Create a person').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1264,
        864
      ],
      "id": "36696c69-2e3d-4abc-bdc8-153e70444c6c",
      "name": "Create a note",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields5').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* ⚡\\n🔧 Um especialista já foi avisado!\\n\\n🧪 *Em nosso lab certificado*, restauramos bobinas condenadas com *100% de sucesso nos testes de IQT* ✅\\n\\n📍 Pode informar *modelo, marca da RM* e o que está buscando?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG BOBINAS DE EXAMES FOOTER FORM SOLICITAR CONTATO AGORA - ANÚNCIO DO GOOGLE ADS\\n🔹Nome: {{ $('Create a person').item.json.name }}\\n🔹Telefone: {{ $('Create a person').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person').item.json.email[0].value }}\\n🔹Clínica: {{ $('Edit Fields5').item.json.org }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        864
      ],
      "id": "b6d98671-0438-4e79-85e5-f3c1dfed56dc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "959",
              "type": "string"
            },
            {
              "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
              "name": "form",
              "value": "Reparo de bobina",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        864
      ],
      "id": "855f70e7-0573-4c42-9a45-e8e4a8c5ba6c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "contato@medicalspin.com.br",
        "subject": "Novo Lead Interessado em Bobinas de Exames - Solicitar Contato Agora - Google ADS",
        "emailType": "text",
        "message": "=Nome: {{ $('Webhook6').item.json.body.Nome }}\nTelefone: {{ $('Webhook6').item.json.body.WhatsApp }}\nClínica: {{ $('Create an organization').item.json.name }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1440,
        864
      ],
      "id": "56b3025f-23e5-494e-a4c3-86ecd6ecb619",
      "name": "Send a message",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "a08dd801-3c79-4a51-bfe6-70ef29bfbfbb",
              "name": "org",
              "value": "={{ $('Create an organization').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        864
      ],
      "id": "aced9732-153f-40cb-9fbd-c3014064e2ad",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields5').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        864
      ],
      "id": "630b98b5-b14e-4316-950b-e6c6b7fbcccd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook5').item.json.body.Nome }}",
        "additionalFields": {
          "email": [
            "={{ $('Webhook5').item.json.body.Email }}"
          ],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('If1').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        736,
        256
      ],
      "id": "fcbc6478-8c21-40dd-b770-cab6f694b942",
      "name": "Create a person7",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization3').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        912,
        256
      ],
      "id": "ace85cd5-37e5-4840-aea8-1a702f85b8fe",
      "name": "Create a lead7",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person7').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization3').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1088,
        256
      ],
      "id": "7072fe88-5b3b-4b0f-868d-bd147a31b4a8",
      "name": "Create a deal7",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG BOBINAS DE EXAMES POP-UP - ANÚNCIO DO GOOGLE ADS\n\n🔹Nome: {{ $('Create a person7').item.json.name }}\n🔹Telefone: {{ $('Create a person7').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person7').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization3').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization3').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1264,
        256
      ],
      "id": "fb8f7b23-e6b5-43eb-84b3-a0ca8fa6dd4e",
      "name": "Create a note7",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript4').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields9').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* ⚡\\n🔧 Um especialista já foi avisado!\\n\\n🧪 *Em nosso lab certificado*, restauramos bobinas condenadas com *100% de sucesso nos testes de IQT* ✅\\n\\n📍 Pode informar *modelo, marca da RM* e o que está buscando?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG BOBINAS DE EXAMES POP-UP - ANÚNCIO DO GOOGLE ADS\\n🔹Nome: {{ $('Create a person7').item.json.name }}\\n🔹Telefone: {{ $('Create a person7').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person7').item.json.email[0].value }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        256
      ],
      "id": "cec26399-3f3c-4ab8-b5b9-2eb46a4f7f7e",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88d8ef2-8461-4b65-95b9-da090f997910",
              "name": "dp_id",
              "value": "959",
              "type": "string"
            },
            {
              "id": "8cbecb4a-8bc0-42ff-9357-c33f317c50cd",
              "name": "form",
              "value": "Reparo de bobina",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        256
      ],
      "id": "ab36c5eb-1aa5-41b1-b471-4bf09263e918",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "sendTo": "contato@medicalspin.com.br",
        "subject": "Novo Lead Interessado em Bobinas de Exames - POP-UP - Google ADS",
        "emailType": "text",
        "message": "=Nome: {{ $('Webhook5').item.json.body.Nome }}\nEmail: {{ $('Webhook5').item.json.body.Email }}\nTelefone: {{ $('Webhook5').item.json.body.WhatsApp }}\nClínica: {{ $('Create an organization3').item.json.name }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1440,
        256
      ],
      "id": "ff31feed-0186-4c6c-939e-ad7e98e7df00",
      "name": "Send a message4",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person7').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person7').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person7').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "6e246d30-a02f-43a9-9efc-2301b8b580b2",
              "name": "org",
              "value": "={{ $('Create an organization3').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        256
      ],
      "id": "dec6430c-6bee-4e7c-83d3-08d1fe7cd369",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields9').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        256
      ],
      "id": "fbfa246c-fa48-459e-b53f-efdf122d011b",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body.Nome }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        560,
        256
      ],
      "id": "4986b85c-63b6-4b3a-8a04-3bce6aa61c3d",
      "name": "Create an organization3",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8",
          "mode": "list",
          "cachedResultName": "PLANILHA 2025 SOLARO - LEADS INBOUND",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 139886296,
          "mode": "list",
          "cachedResultName": "GoogleAds",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit#gid=139886296"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{ $('Edit Fields9').item.json.email }}",
            "Telefone ": "={{ $('Code in JavaScript4').item.json.phone }}",
            "Nome": "={{ $('Edit Fields9').item.json.name }}",
            "Empresa": "={{ $('Edit Fields9').item.json.org }}",
            "Tipo de Serviço": "=Google ADS PG Boninas de Exames POP-UP",
            "Data do Cadastro": "={{ $now.format('dd-LL-yyyy T') }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Contato",
              "displayName": "Contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data do Cadastro",
              "displayName": "Data do Cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo de Serviço",
              "displayName": "Tipo de Serviço",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone ",
              "displayName": "Telefone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Observações",
              "displayName": "Observações",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2560,
        96
      ],
      "id": "87b217df-f3ae-4f08-8222-d43e21144863",
      "name": "SUCESSO",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields3').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields3').item.json.email }}",
            "TELEFONE": "={{ $('Code in JavaScript2').item.json.phone }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OBSERVAÇÕES",
              "displayName": "OBSERVAÇÕES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2560,
        384
      ],
      "id": "549c158c-85cf-45b2-9308-1ceb9f1c9cc4",
      "name": "SUCESSO1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8",
          "mode": "list",
          "cachedResultName": "PLANILHA 2025 SOLARO - LEADS INBOUND",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 139886296,
          "mode": "list",
          "cachedResultName": "GoogleAds",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit#gid=139886296"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data do Cadastro": "={{ $now.format('dd-LL-yyyy T') }}",
            "Tipo de Serviço": "=Google ADS PG Boninas de Exames Footer Form Solicitar Contato Agora",
            "Empresa": "={{ $('Edit Fields5').item.json.org }}",
            "Nome": "={{ $('Edit Fields5').item.json.name }}",
            "Telefone ": "={{ $('Code in JavaScript').item.json.phone }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Contato",
              "displayName": "Contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data do Cadastro",
              "displayName": "Data do Cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo de Serviço",
              "displayName": "Tipo de Serviço",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone ",
              "displayName": "Telefone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Observações",
              "displayName": "Observações",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2560,
        736
      ],
      "id": "649b6c7b-7179-46b0-9564-e9d08e2c3311",
      "name": "SUCESSO2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields4').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields4').item.json.email }}",
            "TELEFONE": "={{ $('Code in JavaScript3').item.json.phone }}",
            "CLÍNICA": "={{ $('Edit Fields4').item.json.org }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OBSERVAÇÕES",
              "displayName": "OBSERVAÇÕES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2560,
        1024
      ],
      "id": "3c34db21-eb72-48e4-80fe-6f1a66122ea3",
      "name": "SUCESSO3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8",
          "mode": "list",
          "cachedResultName": "PLANILHA 2025 SOLARO - LEADS INBOUND",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 139886296,
          "mode": "list",
          "cachedResultName": "GoogleAds",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit#gid=139886296"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{ $('Edit Fields9').item.json.email }}",
            "Telefone ": "={{ $('Code in JavaScript4').item.json.phone }}",
            "Nome": "={{ $('Edit Fields9').item.json.name }}",
            "Empresa": "={{ $('Edit Fields9').item.json.org }}",
            "Tipo de Serviço": "=Google ADS PG Boninas de Exames POP-UP",
            "Data do Cadastro": "={{ $now.format('dd-LL-yyyy T') }}",
            "Observações": "Forneceu um contato sem WhatsApp"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Contato",
              "displayName": "Contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data do Cadastro",
              "displayName": "Data do Cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo de Serviço",
              "displayName": "Tipo de Serviço",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone ",
              "displayName": "Telefone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Observações",
              "displayName": "Observações",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2752,
        256
      ],
      "id": "db2d2a3c-8772-4944-856d-b201335d40b6",
      "name": "ERRO",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields3').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields3').item.json.email }}",
            "TELEFONE": "={{ $('Code in JavaScript2').item.json.phone }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}",
            "OBSERVAÇÕES": "Forneceu um contato sem WhatsApp"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OBSERVAÇÕES",
              "displayName": "OBSERVAÇÕES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2752,
        528
      ],
      "id": "3c996a0b-e008-4f9c-95e2-f95a01018782",
      "name": "ERRO1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8",
          "mode": "list",
          "cachedResultName": "PLANILHA 2025 SOLARO - LEADS INBOUND",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 139886296,
          "mode": "list",
          "cachedResultName": "GoogleAds",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit#gid=139886296"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data do Cadastro": "={{ $now.format('dd-LL-yyyy T') }}",
            "Tipo de Serviço": "=Google ADS PG Boninas de Exames Footer Form Solicitar Contato Agora",
            "Empresa": "={{ $('Edit Fields5').item.json.org }}",
            "Nome": "={{ $('Edit Fields5').item.json.name }}",
            "Telefone ": "={{ $('Code in JavaScript').item.json.phone }}",
            "Observações": "Forneceu um contato sem WhatsApp"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Contato",
              "displayName": "Contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data do Cadastro",
              "displayName": "Data do Cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo de Serviço",
              "displayName": "Tipo de Serviço",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone ",
              "displayName": "Telefone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Observações",
              "displayName": "Observações",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2752,
        880
      ],
      "id": "e8c43157-2c26-47c3-951d-4e13a14ccbd9",
      "name": "ERRO2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields4').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields4').item.json.email }}",
            "TELEFONE": "={{ $('Code in JavaScript3').item.json.phone }}",
            "CLÍNICA": "={{ $('Edit Fields4').item.json.org }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}",
            "OBSERVAÇÕES": "Forneceu um contato sem WhatsApp"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OBSERVAÇÕES",
              "displayName": "OBSERVAÇÕES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2752,
        1168
      ],
      "id": "a0a80cd1-58ed-4836-9765-bdf647bdb308",
      "name": "ERRO3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "902b0a95-c3a9-441d-a179-45bed61ad9c3",
              "leftValue": "={{ /\\d/.test($json.body['Clínica']) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        272
      ],
      "id": "57b1c110-d66e-4e78-a5cd-1d62eb7cdbc9",
      "name": "If3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        384,
        416
      ],
      "id": "2a62e33c-d1fb-48db-920c-540c65ab699b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "902b0a95-c3a9-441d-a179-45bed61ad9c3",
              "leftValue": "={{ /\\d/.test($json.body['Clínica']) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        880
      ],
      "id": "1a4b07f2-79d6-4da9-b3a1-fe756ba3b930",
      "name": "If4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        368,
        1024
      ],
      "id": "5ea52f65-428e-44da-ae9e-c6dd8b81d3ae",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "jsCode": "// Remove duplicatas com base no campo 'resultado'\nconst vistos = new Set();\nconst unicos = [];\n\nfor (const item of items) {\n  if (!vistos.has(item.json.resultado)) {\n    vistos.add(item.json.resultado);\n    unicos.push(item);\n  }\n}\n\nreturn unicos;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        256
      ],
      "id": "93e5388a-9311-4981-91fd-d4cc3ae7728d",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "jsCode": "// Remove duplicatas com base no campo 'resultado'\nconst vistos = new Set();\nconst unicos = [];\n\nfor (const item of items) {\n  if (!vistos.has(item.json.resultado)) {\n    vistos.add(item.json.resultado);\n    unicos.push(item);\n  }\n}\n\nreturn unicos;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        528
      ],
      "id": "d42f075a-cc10-4404-9bd6-45b1561a021e",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "jsCode": "// Remove duplicatas com base no campo 'resultado'\nconst vistos = new Set();\nconst unicos = [];\n\nfor (const item of items) {\n  if (!vistos.has(item.json.resultado)) {\n    vistos.add(item.json.resultado);\n    unicos.push(item);\n  }\n}\n\nreturn unicos;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        880
      ],
      "id": "dff46c45-19f5-48c7-8a37-0f83ca53399e",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "jsCode": "// Remove duplicatas com base no campo 'resultado'\nconst vistos = new Set();\nconst unicos = [];\n\nfor (const item of items) {\n  if (!vistos.has(item.json.resultado)) {\n    vistos.add(item.json.resultado);\n    unicos.push(item);\n  }\n}\n\nreturn unicos;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        1168
      ],
      "id": "a35ab290-96f3-4747-a329-30bc01fa5295",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "34238324-b70c-4d50-9e30-f84b1dc0dea7",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Iniciando conversa",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "728cb7bb-230f-4391-93e3-78ba55b5daae",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Ja possui conversa ativa",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2336,
        256
      ],
      "id": "dd141282-8f19-4f39-a93f-8386366cae1e",
      "name": "If18"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "34238324-b70c-4d50-9e30-f84b1dc0dea7",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Iniciando conversa",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "728cb7bb-230f-4391-93e3-78ba55b5daae",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Ja possui conversa ativa",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2336,
        416
      ],
      "id": "2d265c4b-0149-429d-b6f8-45bb71d85748",
      "name": "If19"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "34238324-b70c-4d50-9e30-f84b1dc0dea7",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Iniciando conversa",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "728cb7bb-230f-4391-93e3-78ba55b5daae",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Ja possui conversa ativa",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        864
      ],
      "id": "cd889b7c-57dc-423d-a4db-edbf8a63df7d",
      "name": "If20"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "34238324-b70c-4d50-9e30-f84b1dc0dea7",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Iniciando conversa",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "728cb7bb-230f-4391-93e3-78ba55b5daae",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Ja possui conversa ativa",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        1024
      ],
      "id": "967da823-5022-4fca-beb2-24ae08dcf162",
      "name": "If21"
    }
  ],
  "connections": {
    "Webhook5": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person5": {
      "main": [
        [
          {
            "node": "Create a lead5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead5": {
      "main": [
        [
          {
            "node": "Create a deal5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal5": {
      "main": [
        [
          {
            "node": "Create a note5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook6": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person6": {
      "main": [
        [
          {
            "node": "Create a lead6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead6": {
      "main": [
        [
          {
            "node": "Create a deal6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal6": {
      "main": [
        [
          {
            "node": "Create a note6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization1": {
      "main": [
        [
          {
            "node": "Create a person6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note5": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note6": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message3": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization2": {
      "main": [
        [
          {
            "node": "Create a person5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create an organization",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an organization1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create an organization3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an organization2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person": {
      "main": [
        [
          {
            "node": "Create a lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead": {
      "main": [
        [
          {
            "node": "Create a deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal": {
      "main": [
        [
          {
            "node": "Create a note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization": {
      "main": [
        [
          {
            "node": "Create a person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person7": {
      "main": [
        [
          {
            "node": "Create a lead7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead7": {
      "main": [
        [
          {
            "node": "Create a deal7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal7": {
      "main": [
        [
          {
            "node": "Create a note7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note7": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "If18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message4": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization3": {
      "main": [
        [
          {
            "node": "Create a person7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "ERRO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "ERRO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "ERRO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "ERRO3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If18": {
      "main": [
        [
          {
            "node": "SUCESSO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If19": {
      "main": [
        [
          {
            "node": "SUCESSO1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If21": {
      "main": [
        [
          {
            "node": "SUCESSO3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If20": {
      "main": [
        [
          {
            "node": "SUCESSO2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "uzuOlcmJWDFhCTf7"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook5": [
      {
        "json": {
          "headers": {
            "host": "n8n.medicalspin.com.br",
            "user-agent": "WordPress/6.8.3; https://bobinasdeexames.medicalspin.com.br",
            "content-length": "587",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip, br",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "162.241.63.31",
            "x-forwarded-host": "n8n.medicalspin.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "62404067f457",
            "x-real-ip": "162.241.63.31"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Desenv - MedicalSpin",
            "Email": "teste@gmail.com",
            "WhatsApp": "(79) 99980-1810",
            "Date": "outubro 21, 2025",
            "Time": "2:04 pm",
            "Page URL": "https://bobinasdeexames.medicalspin.com.br/?gad_source=1&gad_campaignid=22923302374&gbraid=0AAAAABLtXTe1Rc_nOKMs01YHH6Tbe_h4Q&gclid=CjwKCAjw3tzHBhBREiwAlMJoUsYUAsKXTAWsIGoMVNoG6a5IK4lqi7EM0uuxuj1C_P3rPzodtb9sohoCGfMQAvD_BwE",
            "User Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "Remote IP": "45.233.97.30",
            "Powered by": "Elementor",
            "form_id": "1879e02c",
            "form_name": "New Form"
          },
          "webhookUrl": "https://n8n.medicalspin.com.br/webhook/form-popup-bobinas",
          "executionMode": "production"
        }
      }
    ],
    "Webhook6": [
      {
        "json": {
          "headers": {
            "host": "n8n.medicalspin.com.br",
            "user-agent": "WordPress/6.8.3; https://bobinasdeexames.medicalspin.com.br",
            "content-length": "646",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip, br",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "162.241.63.31",
            "x-forwarded-host": "n8n.medicalspin.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "62404067f457",
            "x-real-ip": "162.241.63.31"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Desenv - MedicalSpin",
            "WhatsApp": "(79) 99980-1810",
            "Clínica": "teste",
            "Modelo da Bobina": "teste",
            "Tipo de serviço": "Resolver um problema",
            "Date": "outubro 21, 2025",
            "Time": "2:04 pm",
            "Page URL": "https://bobinasdeexames.medicalspin.com.br/?gad_source=1&gad_campaignid=22923302374&gbraid=0AAAAABLtXTe1Rc_nOKMs01YHH6Tbe_h4Q&gclid=CjwKCAjw3tzHBhBREiwAlMJoUsYUAsKXTAWsIGoMVNoG6a5IK4lqi7EM0uuxuj1C_P3rPzodtb9sohoCGfMQAvD_BwE",
            "User Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "Remote IP": "45.233.97.30",
            "Powered by": "Elementor",
            "form_id": "b33910a",
            "form_name": "New Form"
          },
          "webhookUrl": "https://n8n.medicalspin.com.br/webhook/solicitar-contato-agora-bbex",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "408b020c-0539-4bdc-865d-d4294a998de2",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-10-21T12:25:39.604Z",
      "createdAt": "2025-10-21T12:25:39.604Z",
      "role": "workflow:owner",
      "workflowId": "IHUSp3en5mN3PWhb",
      "projectId": "GjBqXqsURslZKNiG"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-09-24T16:36:52.149Z",
      "createdAt": "2025-09-24T16:36:52.149Z",
      "id": "mNNtWNrcwkgaVLXN",
      "name": "Site"
    },
    {
      "updatedAt": "2025-09-24T16:36:41.465Z",
      "createdAt": "2025-09-24T16:36:41.465Z",
      "id": "VX9ODoHJ3pPs74i0",
      "name": "Pipedrive"
    },
    {
      "updatedAt": "2025-10-21T12:19:56.049Z",
      "createdAt": "2025-10-21T12:19:56.049Z",
      "id": "KNhtpjcPJKSKrG5n",
      "name": "Voxfree"
    },
    {
      "updatedAt": "2025-10-21T12:20:13.250Z",
      "createdAt": "2025-10-21T12:20:13.250Z",
      "id": "30h7w9rk2a7n1Thh",
      "name": "GoogleAds"
    },
    {
      "updatedAt": "2025-10-21T12:20:50.342Z",
      "createdAt": "2025-10-21T12:20:50.342Z",
      "id": "svl1x3P8HafMCcfd",
      "name": "Gmail"
    },
    {
      "updatedAt": "2025-09-24T16:37:09.332Z",
      "createdAt": "2025-09-24T16:37:09.332Z",
      "id": "5YkbdcoRnrhRGDir",
      "name": "Sheets"
    }
  ]
}