Backup 29-10-2025/SITE + PIPEDRIVE + VOXFREE + GOOGLE ADS + GMAIL + SHEETS - PG RESSONÂNCIA CERTIFICADA.json
{
  "updatedAt": "2025-10-27T17:53:24.419Z",
  "createdAt": "2025-10-21T12:36:28.564Z",
  "id": "aMeTn4Ns452tHKzw",
  "name": "SITE + PIPEDRIVE + VOXFREE + GOOGLE ADS + GMAIL + SHEETS - PG RESSONÂNCIA CERTIFICADA",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "solicitar-proposta-agora-rc",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        144
      ],
      "id": "973127da-7558-4a50-9fdd-53fbca5b2bc4",
      "name": "Webhook3",
      "webhookId": "449b7690-9b51-4e9f-bb58-eb2e6a43b5b1"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook3').item.json.body.Nome }}",
        "additionalFields": {
          "email": [
            "={{ $('Webhook3').item.json.body.Email }}"
          ],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Webhook3').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        640,
        272
      ],
      "id": "b7dad4cc-421d-4f88-a43d-e738fb354db9",
      "name": "Create a person3",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization5').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        816,
        272
      ],
      "id": "ddbf47e0-be70-4cad-bac5-1d2f547b9456",
      "name": "Create a lead3",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $('Create a person3').item.json.name }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person3').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization5').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        992,
        272
      ],
      "id": "4709d642-e5c7-4655-9760-0f4d32e87398",
      "name": "Create a deal3",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "content": "## Solicitar Proposta Agora",
        "height": 592,
        "width": 2928
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -32
      ],
      "id": "b6d52532-ac13-4102-8859-1322298f70ff",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook4').item.json.body.Nome }}",
        "additionalFields": {
          "email": [],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Webhook4').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        640,
        912
      ],
      "id": "7733216b-e89a-4ac5-a697-fd1dda92522a",
      "name": "Create a person4",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        816,
        912
      ],
      "id": "0d193f22-139b-4659-9b6f-3a51ad2ae5aa",
      "name": "Create a lead4",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person4').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        992,
        912
      ],
      "id": "83da278e-bc02-486c-853d-218fca97dc57",
      "name": "Create a deal4",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "content": "## Solicitar Contato Agora",
        "height": 608,
        "width": 2928,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        592
      ],
      "id": "500e3ec8-0541-49a6-9cad-9b8d9745295a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body['Clínica'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        464,
        912
      ],
      "id": "7f6f87e0-0a14-49d9-9ca4-5e595db9888c",
      "name": "Create an organization",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "content": "## Página de Ressonância Certificada",
        "height": 1328,
        "width": 2992,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        -96
      ],
      "id": "8113ad84-9b46-4859-99bd-1c57dc9ff7ad",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG RESSONÂNCIA CERTIFICADA POP-UP\n\n🔹Nome: {{ $('Create a person3').item.json.name }}\n🔹Telefone: {{ $('Create a person3').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person3').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization5').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization5').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1168,
        272
      ],
      "id": "b0dfef9c-d530-4a88-ac43-a66d790a0c41",
      "name": "Create a note3",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG RESSONÂNCIA CERTIFICADA FOOTER FORM SOLICITAR CONTATO AGORA\n\n🔹Nome: {{ $('Create a person4').item.json.name }}\n🔹Telefone: {{ $('Create a person4').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person4').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1168,
        912
      ],
      "id": "8ebf59e5-a661-46aa-a51d-bafe31b4ba68",
      "name": "Create a note4",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields1').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* 🤖\\n🧠 Um especialista foi avisado e atenderá você em breve!\\n\\n🎯 *Bem-vindo* ao *Programa Medical Spin Certified*.\\nSua *ressonância protegida* pela *Solução 360°* 🛡️\\n\\n💬 Pode nos contar mais sobre o seu projeto?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG RESSONÂNCIA CERTIFICADA POP-UP\\n🔹Nome: {{ $('Create a person3').item.json.name }}\\n🔹Telefone: {{ $('Create a person3').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person3').item.json.email[0].value }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        272
      ],
      "id": "5413212d-50c3-4251-ad9a-82f734302078",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "sendTo": "contato@medicalspin.com.br",
        "subject": "Novo Lead Interessado em Ressonância Certificada - POP-UP",
        "emailType": "text",
        "message": "=Nome: {{ $('Webhook3').item.json.body.Nome }}\nEmail: {{ $('Webhook3').item.json.body.Email }}\nTelefone: {{ $('Webhook3').item.json.body.WhatsApp }}\nClínica: {{ $('Create an organization5').item.json.name }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        272
      ],
      "id": "e2066c9f-af8f-41b9-9dd9-840388251411",
      "name": "Send a message",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "contato@medicalspin.com.br",
        "subject": "Novo Lead Interessado em Ressonância Certificada - Solicitar Contato Agora",
        "emailType": "text",
        "message": "=Nome: {{ $('Webhook4').item.json.body.Nome }}\nTelefone: {{ $('Webhook4').item.json.body.WhatsApp }}\nClínica: {{ $('Create an organization').item.json.name }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        912
      ],
      "id": "23d8a59d-1f2c-4023-ba0e-658ce4371713",
      "name": "Send a message1",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "577ec979-a18e-4e38-9779-7f2286744638",
              "name": "dp_id",
              "value": "958",
              "type": "string"
            },
            {
              "id": "c5f10275-92b2-490a-b4ae-1c321c124c18",
              "name": "form",
              "value": "Compra de Ressonância",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        912
      ],
      "id": "917932c5-9687-4873-9d9c-88ed0efe2892",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript1').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields2').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* 🤖\\n🧠 Um especialista foi avisado e atenderá você em breve!\\n\\n🎯 *Bem-vindo* ao *Programa Medical Spin Certified*.\\nSua *ressonância protegida* pela *Solução 360°* 🛡️\\n\\n💬 Pode nos contar mais sobre o seu projeto?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG RESSONÂNCIA CERTIFICADA FOOTER FORM SOLICITAR CONTATO AGORA\\n🔹Nome: {{ $('Create a person4').item.json.name }}\\n🔹Telefone: {{ $('Create a person4').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person4').item.json.email[0].value }}\\n🔹Clínica: {{ $('Edit Fields2').item.json.org }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        912
      ],
      "id": "1cdf3084-8739-40dc-b0a1-2de22787ccd8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person3').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person3').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person3').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "a5123d9c-5ccf-4698-a318-edda1e2889fa",
              "name": "org",
              "value": "={{ $('Create an organization5').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        272
      ],
      "id": "019747dc-1486-4781-9a92-e391a2d9f6b9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "577ec979-a18e-4e38-9779-7f2286744638",
              "name": "dp_id",
              "value": "958",
              "type": "string"
            },
            {
              "id": "c5f10275-92b2-490a-b4ae-1c321c124c18",
              "name": "form",
              "value": "Compra de Ressonância",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        272
      ],
      "id": "f51dae4e-8ace-4960-8363-7260448f56f3",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ressonancia-certificada",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        768
      ],
      "id": "1f9405ac-79e3-4012-b9a8-d1d7d1009c57",
      "name": "Webhook4",
      "webhookId": "449b7690-9b51-4e9f-bb58-eb2e6a43b5b1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person4').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person4').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{\n(() => {\n  const phone = $('Create a person4').item.json.phone[0].value || \"\";\n  const clean = phone.replace(/\\D/g, \"\"); // remove tudo que não for número\n\n  if (clean.startsWith(\"55\")) {\n    return \"+\" + clean;\n  } else {\n    return \"+55\" + clean;\n  }\n})()\n}}",
              "type": "string"
            },
            {
              "id": "284a1bf1-0831-4a70-9cbe-b107c2f074e7",
              "name": "org",
              "value": "={{ $('Create an organization').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        912
      ],
      "id": "885ee66a-13f4-4872-b26e-047b7631735e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields1').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        272
      ],
      "id": "66ea5290-0dfd-4707-b3a3-0a77275ecb42",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields2').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        912
      ],
      "id": "70b92455-2637-4ebc-9016-258e0b13ce7a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body.Nome }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        464,
        272
      ],
      "id": "f54d1855-baac-4fff-9a0a-a8ca5fef8def",
      "name": "Create an organization5",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb78175a-cd61-41da-a7c4-f8fd698bd8c7",
              "leftValue": "={{ $json.body['Page URL'] }}",
              "rightValue": "https://ressonanciacertificada.medicalspin.com.br/?gad_source=1&",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        752
      ],
      "id": "02e99901-91ab-4096-b427-c1d597f4e391",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb78175a-cd61-41da-a7c4-f8fd698bd8c7",
              "leftValue": "={{ $json.body['Page URL'] }}",
              "rightValue": "https://ressonanciacertificada.medicalspin.com.br/?gad_source=1&",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        272,
        128
      ],
      "id": "48fc6171-a80a-45ac-8e58-55c427979e7c",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook3').item.json.body.Nome }}",
        "additionalFields": {
          "email": [
            "={{ $('Webhook3').item.json.body.Email }}"
          ],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Webhook3').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        640,
        112
      ],
      "id": "48b6cc25-0efa-4595-9804-4efed81b1a8d",
      "name": "Create a person",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization6').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        816,
        112
      ],
      "id": "69032c53-527f-4f4a-9c84-30191d1b66eb",
      "name": "Create a lead",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $('Create a person').item.json.name }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization6').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        992,
        112
      ],
      "id": "9f3dc3e7-4577-4478-bf34-884593c6fdb4",
      "name": "Create a deal",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Webhook4').item.json.body.Nome }}",
        "additionalFields": {
          "email": [],
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Webhook4').item.json.body.WhatsApp }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        640,
        752
      ],
      "id": "6e1af653-fb7f-4d4a-badf-0091264fda32",
      "name": "Create a person5",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "organization_id": "={{ $('Create an organization1').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        816,
        752
      ],
      "id": "ba81e98b-4cf8-4f48-a021-5631710a6b6d",
      "name": "Create a lead5",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "associateWith": "person",
        "person_id": "={{ $('Create a person5').item.json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "bcb23d6ab811684c041b281ee629c0c22f283412",
                "value": "Site"
              },
              {
                "name": "26246539655446743bf780a9ada870d71bacb1a0",
                "value": "Inbound"
              }
            ]
          },
          "org_id": "={{ $('Create an organization1').item.json.id }}",
          "stage_id": 17
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        992,
        752
      ],
      "id": "70e3adc8-bca6-469e-aa51-8af2cc59891f",
      "name": "Create a deal5",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body['Clínica'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        464,
        752
      ],
      "id": "49b85ec0-8fcd-4f4c-a541-0abb942c06ae",
      "name": "Create an organization1",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG RESSONÂNCIA CERTIFICADA POP-UP - ANÚNCIO DO GOOGLE ADS\n\n🔹Nome: {{ $('Create a person').item.json.name }}\n🔹Telefone: {{ $('Create a person').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization6').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization6').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1168,
        112
      ],
      "id": "8c490b6c-df96-4db6-a080-71e2b06b3e03",
      "name": "Create a note",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=🚀LEAD SITE PG RESSONÂNCIA CERTIFICADA FOOTER FORM SOLICITAR CONTATO AGORA - ANÚNCIO DO GOOGLE ADS\n\n🔹Nome: {{ $('Create a person5').item.json.name }}\n🔹Telefone: {{ $('Create a person5').item.json.phone[0].value }}\n🔹Email: {{ $('Create a person5').item.json.email[0].value }}\n🔹Clínica: {{ $('Create an organization1').item.json.name }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "org_id": "={{ $('Create an organization1').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1168,
        752
      ],
      "id": "913f566b-d3bf-4a40-aea2-aa15341f5dc2",
      "name": "Create a note5",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript2').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields4').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* 🤖\\n🧠 Um especialista foi avisado e atenderá você em breve!\\n\\n🎯 *Bem-vindo* ao *Programa Medical Spin Certified*.\\nSua *ressonância protegida* pela *Solução 360°* 🛡️\\n\\n💬 Pode nos contar mais sobre o seu projeto?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG RESSONÂNCIA CERTIFICADA POP-UP - ANÚNCIO DO GOOGLE ADS\\n🔹Nome: {{ $('Create a person').item.json.name }}\\n🔹Telefone: {{ $('Create a person').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person').item.json.email[0].value }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        112
      ],
      "id": "b1f8801d-e30c-492e-8f0e-95facc2e3a53",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "sendTo": "contato@medicalspin.com.br",
        "subject": "Novo Lead Interessado em Ressonância Certificada - POP-UP - Google ADS",
        "emailType": "text",
        "message": "=Nome: {{ $('Webhook3').item.json.body.Nome }}\nEmail: {{ $('Webhook3').item.json.body.Email }}\nTelefone: {{ $('Webhook3').item.json.body.WhatsApp }}\nClínica: {{ $('Create an organization6').item.json.name }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        112
      ],
      "id": "5e087115-1325-4f4a-9cc6-0fab47b0e950",
      "name": "Send a message2",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "contato@medicalspin.com.br",
        "subject": "Novo Lead Interessado em Ressonância Certificada - Solicitar Contato Agora - Google ADS",
        "emailType": "text",
        "message": "=Nome: {{ $('Webhook4').item.json.body.Nome }}\nTelefone: {{ $('Webhook4').item.json.body.WhatsApp }}\nClínica: {{ $('Create an organization1').item.json.name }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        752
      ],
      "id": "b09eb60d-3e84-484f-b0ff-f2401e309aa8",
      "name": "Send a message3",
      "webhookId": "ad16df43-332a-4dc9-bd05-20ae94929cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "QEHGCgJWz2yCdVn0",
          "name": "Gmail Main"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "577ec979-a18e-4e38-9779-7f2286744638",
              "name": "dp_id",
              "value": "958",
              "type": "string"
            },
            {
              "id": "c5f10275-92b2-490a-b4ae-1c321c124c18",
              "name": "form",
              "value": "Compra de Ressonância",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        752
      ],
      "id": "68d0806f-e88b-4b1c-a81f-0b804a34efde",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.voxfree.com.br/crm/webservices/webIniciaOmnichannel.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chave\": \"ahirlllzkrgcsnHM\",\n    \"canal\": 444,\n    \"numero\": \"{{ $('Code in JavaScript3').item.json.phone }}\",\n    \"mensagem\": \"👋 Olá, {{ $('Edit Fields5').item.json.name }}!\\nSou o *Magnetto*, assistente inteligente da *Medical Spin* 🤖\\n🧠 Um especialista foi avisado e atenderá você em breve!\\n\\n🎯 *Bem-vindo* ao *Programa Medical Spin Certified*.\\nSua *ressonância protegida* pela *Solução 360°* 🛡️\\n\\n💬 Pode nos contar mais sobre o seu projeto?\",\n    \"direcionamento\": \"{{ $json.dp_id }}\",\n    \"msg_operador\": \"🚀LEAD SITE PG RESSONÂNCIA CERTIFICADA FOOTER FORM SOLICITAR CONTATO AGORA - ANÚNCIO DO GOOGLE ADS\\n🔹Nome: {{ $('Create a person5').item.json.name }}\\n🔹Telefone: {{ $('Create a person5').item.json.phone[0].value }}\\n🔹Email: {{ $('Create a person5').item.json.email[0].value }}\\n🔹Clínica: {{ $('Edit Fields5').item.json.org }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        752
      ],
      "id": "aa4c11dc-9dfb-4938-8202-e535463b7df7",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{ $('Create a person').item.json.phone[0].value }}",
              "type": "string"
            },
            {
              "id": "a5123d9c-5ccf-4698-a318-edda1e2889fa",
              "name": "org",
              "value": "={{ $('Create an organization6').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        112
      ],
      "id": "1373c641-02ff-4e09-8ad2-5a6729a365f8",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "577ec979-a18e-4e38-9779-7f2286744638",
              "name": "dp_id",
              "value": "958",
              "type": "string"
            },
            {
              "id": "c5f10275-92b2-490a-b4ae-1c321c124c18",
              "name": "form",
              "value": "Compra de Ressonância",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        112
      ],
      "id": "37d3e77d-3c8b-4127-891a-a2635ec8f4ca",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b443d88-1037-491a-8d04-908a0fc6403c",
              "name": "name",
              "value": "={{ $('Create a person5').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "3435c046-8ef1-4c3c-bd84-b70bc893678d",
              "name": "email",
              "value": "={{ $('Create a person5').item.json.email[0].value }}",
              "type": "string"
            },
            {
              "id": "b1e992d4-e686-4460-9d88-86bfc763cbc8",
              "name": "phone",
              "value": "={{\n(() => {\n  const phone = $('Create a person5').item.json.phone[0].value || \"\";\n  const clean = phone.replace(/\\D/g, \"\"); // remove tudo que não for número\n\n  if (clean.startsWith(\"55\")) {\n    return \"+\" + clean;\n  } else {\n    return \"+55\" + clean;\n  }\n})()\n}}",
              "type": "string"
            },
            {
              "id": "284a1bf1-0831-4a70-9cbe-b107c2f074e7",
              "name": "org",
              "value": "={{ $('Create an organization1').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        752
      ],
      "id": "97fa037d-a040-49d5-8f83-1aa30f149302",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields4').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        112
      ],
      "id": "12af3348-158c-4399-b45c-5e78212c4b1a",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone do node Edit Fields1\nlet phone = $('Edit Fields5').item.json.phone || '';\n\n// Remove tudo que não é número\nphone = phone.replace(/\\D/g, '');\n\n// Adiciona 55 na frente se não começar com 55\nif (!phone.startsWith('55')) {\n    phone = '55' + phone;\n}\n\n// Retorna o item com o telefone atualizado\nreturn {\n    json: {\n        phone: phone\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        752
      ],
      "id": "165930c0-b147-4749-9acf-d0ce0e992bfc",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.body.Nome }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        464,
        112
      ],
      "id": "28f52ccc-5f75-43ff-b17f-4b80e7a42bac",
      "name": "Create an organization6",
      "credentials": {
        "pipedriveApi": {
          "id": "ZMM2giDIvEPYf7kD",
          "name": "Pipedrive Rodrigo"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8",
          "mode": "list",
          "cachedResultName": "PLANILHA 2025 SOLARO - LEADS INBOUND",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 139886296,
          "mode": "list",
          "cachedResultName": "GoogleAds",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit#gid=139886296"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data do Cadastro": "={{ $now.format('dd-LL-yyyy T') }}",
            "Tipo de Serviço": "=Google ADS PG Ressonância Certificada POP-UP",
            "Empresa": "={{ $('Edit Fields4').item.json.org }}",
            "Nome": "={{ $('Edit Fields4').item.json.name }}",
            "Telefone ": "={{ $('Code in JavaScript2').item.json.phone }}",
            "E-mail": "={{ $('Edit Fields4').item.json.email }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Contato",
              "displayName": "Contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data do Cadastro",
              "displayName": "Data do Cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo de Serviço",
              "displayName": "Tipo de Serviço",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone ",
              "displayName": "Telefone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Observações",
              "displayName": "Observações",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2464,
        -16
      ],
      "id": "42fe2c67-c942-4ae7-8599-80a4d0bca70f",
      "name": "SUCESSO",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields1').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields1').item.json.email }}",
            "TELEFONE": "={{ $('Code in JavaScript').item.json.phone }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}",
            "CLÍNICA": "={{ $('Edit Fields1').item.json.org }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OBSERVAÇÕES",
              "displayName": "OBSERVAÇÕES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2480,
        256
      ],
      "id": "8fd9f430-5b2c-43d6-8fc1-b6920b1ddb46",
      "name": "SUCESSO1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8",
          "mode": "list",
          "cachedResultName": "PLANILHA 2025 SOLARO - LEADS INBOUND",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 139886296,
          "mode": "list",
          "cachedResultName": "GoogleAds",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit#gid=139886296"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data do Cadastro": "={{ $now.format('dd-LL-yyyy T') }}",
            "Tipo de Serviço": "=Google ADS PG Inícial Footer Form Solicitar Contato Agora",
            "Empresa": "={{ $('Edit Fields5').item.json.org }}",
            "Nome": "={{ $('Edit Fields5').item.json.name }}",
            "Telefone ": "={{ $('Code in JavaScript3').item.json.phone }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Contato",
              "displayName": "Contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data do Cadastro",
              "displayName": "Data do Cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo de Serviço",
              "displayName": "Tipo de Serviço",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone ",
              "displayName": "Telefone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Observações",
              "displayName": "Observações",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2480,
        608
      ],
      "id": "fbf2ebb5-1e59-404b-8bb1-b9a651c04f5b",
      "name": "SUCESSO2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields2').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields2').item.json.email }}",
            "TELEFONE": "={{ $('Code in JavaScript1').item.json.phone }}",
            "CLÍNICA": "={{ $('Edit Fields2').item.json.org }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OBSERVAÇÕES",
              "displayName": "OBSERVAÇÕES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2480,
        896
      ],
      "id": "f1f1f4cc-0341-4e81-9dde-f5483598b988",
      "name": "SUCESSO3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8",
          "mode": "list",
          "cachedResultName": "PLANILHA 2025 SOLARO - LEADS INBOUND",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 139886296,
          "mode": "list",
          "cachedResultName": "GoogleAds",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit#gid=139886296"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data do Cadastro": "={{ $now.format('dd-LL-yyyy T') }}",
            "Tipo de Serviço": "=Google ADS PG Ressonância Certificada POP-UP",
            "Empresa": "={{ $('Edit Fields4').item.json.org }}",
            "Nome": "={{ $('Edit Fields4').item.json.name }}",
            "Telefone ": "={{ $('Code in JavaScript2').item.json.phone }}",
            "E-mail": "={{ $('Edit Fields4').item.json.email }}",
            "Observações": "Forneceu um contato sem WhatsApp"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Contato",
              "displayName": "Contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data do Cadastro",
              "displayName": "Data do Cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo de Serviço",
              "displayName": "Tipo de Serviço",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone ",
              "displayName": "Telefone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Observações",
              "displayName": "Observações",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2672,
        128
      ],
      "id": "0485aa44-8954-4094-b9bd-8e62c5c7cabb",
      "name": "ERRO",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields1').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields1').item.json.email }}",
            "TELEFONE": "={{ $('Code in JavaScript').item.json.phone }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}",
            "CLÍNICA": "={{ $('Edit Fields1').item.json.org }}",
            "OBSERVAÇÕES": "Forneceu um contato sem WhatsApp"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OBSERVAÇÕES",
              "displayName": "OBSERVAÇÕES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2672,
        400
      ],
      "id": "49b60663-54d9-4d86-a64e-346d90762fba",
      "name": "ERRO1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8",
          "mode": "list",
          "cachedResultName": "PLANILHA 2025 SOLARO - LEADS INBOUND",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 139886296,
          "mode": "list",
          "cachedResultName": "GoogleAds",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zSKXrbz_wQ0t-oHmK4C2avg52WYueeJYi7mksYqbd8/edit#gid=139886296"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data do Cadastro": "={{ $now.format('dd-LL-yyyy T') }}",
            "Tipo de Serviço": "=Google ADS PG Inícial Footer Form Solicitar Contato Agora",
            "Empresa": "={{ $('Edit Fields5').item.json.org }}",
            "Nome": "={{ $('Edit Fields5').item.json.name }}",
            "Telefone ": "={{ $('Code in JavaScript3').item.json.phone }}",
            "Observações": "Forneceu um contato sem WhatsApp"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Contato",
              "displayName": "Contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data do Cadastro",
              "displayName": "Data do Cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo de Serviço",
              "displayName": "Tipo de Serviço",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone ",
              "displayName": "Telefone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Observações",
              "displayName": "Observações",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2672,
        768
      ],
      "id": "76ac4c88-3ba5-4492-a703-1413049a5866",
      "name": "ERRO2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M",
          "mode": "list",
          "cachedResultName": "Leads Medical Spin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1978480406,
          "mode": "list",
          "cachedResultName": "SITE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ohgvaerBe6gxiJFh96RHeGV810otcCnwhKUe3kJ2j2M/edit#gid=1978480406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $('Edit Fields2').item.json.name }}",
            "EMAIL": "={{ $('Edit Fields2').item.json.email }}",
            "TELEFONE": "={{ $('Code in JavaScript1').item.json.phone }}",
            "CLÍNICA": "={{ $('Edit Fields2').item.json.org }}",
            "DATA": "={{$now.format('dd-LL-yyyy T')}}",
            "OBSERVAÇÕES": "Forneceu um contato sem WhatsApp"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLÍNICA",
              "displayName": "CLÍNICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OBSERVAÇÕES",
              "displayName": "OBSERVAÇÕES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2672,
        1040
      ],
      "id": "8db1ead7-8ce3-44ad-9bba-de16a2ba6422",
      "name": "ERRO3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hSAEi7hvpCuMonde",
          "name": "Google Sheets TESTE"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "902b0a95-c3a9-441d-a179-45bed61ad9c3",
              "leftValue": "={{ /\\d/.test($json.body['Clínica']) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        768
      ],
      "id": "12d40f3a-3d96-41fd-93c6-fae5c5e878b2",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        288,
        912
      ],
      "id": "eb1746e1-b3c8-4ae4-87a6-506cd62ba4bf",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "902b0a95-c3a9-441d-a179-45bed61ad9c3",
              "leftValue": "={{ /\\d/.test($json.body['Clínica']) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        144
      ],
      "id": "b76f7952-45ea-4d14-aa0b-2dcb26c87ce1",
      "name": "If3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        272,
        272
      ],
      "id": "3f4be902-2097-414f-9366-6fee928db382",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "jsCode": "// Remove duplicatas com base no campo 'resultado'\nconst vistos = new Set();\nconst unicos = [];\n\nfor (const item of items) {\n  if (!vistos.has(item.json.resultado)) {\n    vistos.add(item.json.resultado);\n    unicos.push(item);\n  }\n}\n\nreturn unicos;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        128
      ],
      "id": "e6db19b1-3a70-4612-a3aa-ff01a07305ce",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": "// Remove duplicatas com base no campo 'resultado'\nconst vistos = new Set();\nconst unicos = [];\n\nfor (const item of items) {\n  if (!vistos.has(item.json.resultado)) {\n    vistos.add(item.json.resultado);\n    unicos.push(item);\n  }\n}\n\nreturn unicos;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        400
      ],
      "id": "04b627ec-7ed6-4566-979b-4d3120bb2ec6",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "jsCode": "// Remove duplicatas com base no campo 'resultado'\nconst vistos = new Set();\nconst unicos = [];\n\nfor (const item of items) {\n  if (!vistos.has(item.json.resultado)) {\n    vistos.add(item.json.resultado);\n    unicos.push(item);\n  }\n}\n\nreturn unicos;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        768
      ],
      "id": "5f924975-c2f0-4833-8237-6807cff506bb",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "jsCode": "// Remove duplicatas com base no campo 'resultado'\nconst vistos = new Set();\nconst unicos = [];\n\nfor (const item of items) {\n  if (!vistos.has(item.json.resultado)) {\n    vistos.add(item.json.resultado);\n    unicos.push(item);\n  }\n}\n\nreturn unicos;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        1040
      ],
      "id": "333fb9fe-13b8-4395-ad15-57c436a63d93",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "34238324-b70c-4d50-9e30-f84b1dc0dea7",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Iniciando conversa",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "728cb7bb-230f-4391-93e3-78ba55b5daae",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Ja possui conversa ativa",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2224,
        112
      ],
      "id": "008bee97-81ca-468a-9cfb-29badb39454f",
      "name": "If20"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "34238324-b70c-4d50-9e30-f84b1dc0dea7",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Iniciando conversa",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "728cb7bb-230f-4391-93e3-78ba55b5daae",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Ja possui conversa ativa",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2224,
        272
      ],
      "id": "20be2d46-90ee-479b-a8a2-736b919406ca",
      "name": "If21"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "34238324-b70c-4d50-9e30-f84b1dc0dea7",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Iniciando conversa",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "728cb7bb-230f-4391-93e3-78ba55b5daae",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Ja possui conversa ativa",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2224,
        752
      ],
      "id": "adf983d9-f492-4c3d-87e5-c8bb382d43e4",
      "name": "If22"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "34238324-b70c-4d50-9e30-f84b1dc0dea7",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Iniciando conversa",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "728cb7bb-230f-4391-93e3-78ba55b5daae",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "Ja possui conversa ativa",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2224,
        912
      ],
      "id": "30a5b866-5bdd-4f43-9570-336de652e2a3",
      "name": "If23"
    }
  ],
  "connections": {
    "Webhook3": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person3": {
      "main": [
        [
          {
            "node": "Create a lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead3": {
      "main": [
        [
          {
            "node": "Create a deal3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal3": {
      "main": [
        [
          {
            "node": "Create a note3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person4": {
      "main": [
        [
          {
            "node": "Create a lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead4": {
      "main": [
        [
          {
            "node": "Create a deal4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal4": {
      "main": [
        [
          {
            "node": "Create a note4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization": {
      "main": [
        [
          {
            "node": "Create a person4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note3": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note4": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "If21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook4": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization5": {
      "main": [
        [
          {
            "node": "Create a person3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create an organization1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an organization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create an organization6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an organization5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person": {
      "main": [
        [
          {
            "node": "Create a lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead": {
      "main": [
        [
          {
            "node": "Create a deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal": {
      "main": [
        [
          {
            "node": "Create a note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person5": {
      "main": [
        [
          {
            "node": "Create a lead5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead5": {
      "main": [
        [
          {
            "node": "Create a deal5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal5": {
      "main": [
        [
          {
            "node": "Create a note5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization1": {
      "main": [
        [
          {
            "node": "Create a person5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note5": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "If20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message3": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization6": {
      "main": [
        [
          {
            "node": "Create a person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "ERRO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "ERRO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "ERRO3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "ERRO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If20": {
      "main": [
        [
          {
            "node": "SUCESSO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If21": {
      "main": [
        [
          {
            "node": "SUCESSO1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If22": {
      "main": [
        [
          {
            "node": "SUCESSO2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If23": {
      "main": [
        [
          {
            "node": "SUCESSO3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "uzuOlcmJWDFhCTf7"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook3": [
      {
        "json": {
          "headers": {
            "host": "n8n.medicalspin.com.br",
            "user-agent": "WordPress/6.8.3; https://ressonanciacertificada.medicalspin.com.br",
            "content-length": "595",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip, br",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "162.241.63.31",
            "x-forwarded-host": "n8n.medicalspin.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "62404067f457",
            "x-real-ip": "162.241.63.31"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Desenv - MedicalSpin",
            "Email": "teste@gmail.com",
            "WhatsApp": "(79) 99980-1810",
            "Date": "21 de outubro de 2025",
            "Time": "11:26",
            "Page URL": "https://ressonanciacertificada.medicalspin.com.br/?gad_source=1&gad_campaignid=22923302374&gbraid=0AAAAABLtXTe1Rc_nOKMs01YHH6Tbe_h4Q&gclid=CjwKCAjw3tzHBhBREiwAlMJoUpEdFRtBfHxtY__Epr0cvqVD9wCK_r3XuQ50E2tK874rz1pxRxloyhoCb1cQAvD_BwE",
            "User Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "Remote IP": "45.233.97.30",
            "Powered by": "Elementor",
            "form_id": "76b8204f",
            "form_name": "New Form"
          },
          "webhookUrl": "https://n8n.medicalspin.com.br/webhook/solicitar-proposta-agora-rc",
          "executionMode": "production"
        }
      }
    ],
    "Webhook4": [
      {
        "json": {
          "headers": {
            "host": "n8n.medicalspin.com.br",
            "user-agent": "WordPress/6.8.3; https://ressonanciacertificada.medicalspin.com.br",
            "content-length": "604",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip, br",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "162.241.63.31",
            "x-forwarded-host": "n8n.medicalspin.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "62404067f457",
            "x-real-ip": "162.241.63.31"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Desenv - MedicalSpin",
            "WhatsApp": "(79) 99980-1810",
            "Clínica": "Teste",
            "Mensagem": "Teste",
            "Date": "21 de outubro de 2025",
            "Time": "11:26",
            "Page URL": "https://ressonanciacertificada.medicalspin.com.br/?gad_source=1&gad_campaignid=22923302374&gbraid=0AAAAABLtXTe1Rc_nOKMs01YHH6Tbe_h4Q&gclid=CjwKCAjw3tzHBhBREiwAlMJoUpEdFRtBfHxtY__Epr0cvqVD9wCK_r3XuQ50E2tK874rz1pxRxloyhoCb1cQAvD_BwE",
            "User Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "Remote IP": "45.233.97.30",
            "Powered by": "Elementor",
            "form_id": "f1357f6",
            "form_name": "New Form"
          },
          "webhookUrl": "https://n8n.medicalspin.com.br/webhook/ressonancia-certificada",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "157fbe3c-b052-4e3b-b1c5-c7ec9efcdf81",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-10-21T12:36:28.564Z",
      "createdAt": "2025-10-21T12:36:28.564Z",
      "role": "workflow:owner",
      "workflowId": "aMeTn4Ns452tHKzw",
      "projectId": "GjBqXqsURslZKNiG"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-09-24T16:36:41.465Z",
      "createdAt": "2025-09-24T16:36:41.465Z",
      "id": "VX9ODoHJ3pPs74i0",
      "name": "Pipedrive"
    },
    {
      "updatedAt": "2025-09-24T16:36:52.149Z",
      "createdAt": "2025-09-24T16:36:52.149Z",
      "id": "mNNtWNrcwkgaVLXN",
      "name": "Site"
    },
    {
      "updatedAt": "2025-09-24T16:37:09.332Z",
      "createdAt": "2025-09-24T16:37:09.332Z",
      "id": "5YkbdcoRnrhRGDir",
      "name": "Sheets"
    },
    {
      "updatedAt": "2025-10-21T12:19:56.049Z",
      "createdAt": "2025-10-21T12:19:56.049Z",
      "id": "KNhtpjcPJKSKrG5n",
      "name": "Voxfree"
    },
    {
      "updatedAt": "2025-10-21T12:20:13.250Z",
      "createdAt": "2025-10-21T12:20:13.250Z",
      "id": "30h7w9rk2a7n1Thh",
      "name": "GoogleAds"
    },
    {
      "updatedAt": "2025-10-21T12:20:50.342Z",
      "createdAt": "2025-10-21T12:20:50.342Z",
      "id": "svl1x3P8HafMCcfd",
      "name": "Gmail"
    }
  ]
}